<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Clientes')"></object>
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2 class="text-center">Clientes</h2>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<table class="display table table-striped table-sm" id="myTable" style="width: 100%">
			<thead>
				<tr>
					<th>Nome Reduzido</th>
					<th>Codigo</th>
					<th>Nome</th>
					<th>Situacao</th>
					<th>Estado</th>
					<th>CNPJ</th>
					<th>Email</th>
					<th>Natureza</th>
					<th class="nowrap">Média Mensal de Compras (12 meses)</th>
					<th class="nowrap">Poder Compra</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente,iter : ${clientes}">
					<td th:text="${cliente.nReduz}"></td>
					<td><a th:href="@{/clientes/__${cliente.codigo}__/detalhes/__${cliente.nome.trim().replace(' ', '-')}__}" th:text="${cliente.codigo}"></a></td>
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.situacao}"></td>
					<td th:text="${cliente.estado}"></td>
					<td th:text="${cliente.cnpj}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.natureza}"></td>
					<th th:text="${cliente.mediaComprasAsCurrency}" class="nowrap" th:data-order="${cliente.mediaCompras}"></th>
					<th th:text="${cliente.poderCompraAsCurrency}" class="nowrap" th:data-order="${cliente.poderCompra}"></th>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		$(document).ready( function () {
		    var table = $('#myTable').DataTable({
		    	dom: 'Blfrptpi',
		    	responsive: true,
		        buttons: [
		            'copyHtml5',
		            'excelHtml5',
		        ],
		        order: [
		        	[
		        		6, 'desc'
		        	]
	        	],
		    });
		});
	</script>
</body>
</html>