<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Detalhes Cliente ' + ${cliente.nome})"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/detalhesCliente.css}"/>
<script id="scriptDetalhesCliente" th:inline="javascript" th:src="@{/js/detalhesCliente.js}" th:codigoCliente="${cliente.codigo}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="jumbotron">
			<h2 class="text-center">Detalhes do Cliente</h2>
		</div>
		<div class="mini-jumbo">
			<h4 class="text-center">Dados Cadastrais</h4>
		</div>
		<table class="table table-sm table-hover" id="myTable">
			<tbody>
				<tr>
					<th>Codigo Cliente</th>
					<td th:text="${cliente.codigo}"></td>
				</tr>
				<tr>
					<th>Nome Cliente</th>
					<td th:text="${cliente.nome}"></td>
				</tr>
				<tr>
					<th>Nome Fantasia</th>
					<td th:text="${cliente.nReduz}"></td>
				</tr>
				<tr>
					<th>Estado</th>
					<td th:text="${cliente.estado}"></td>
				</tr>
				<tr>
					<th>CNPJ</th>
					<td th:text="${cliente.cnpj}"></td>
				</tr>
				<tr>
					<th>Email</th>
					<td th:text="${cliente.email}"></td>
				</tr>
				<tr>
					<th>Telefone</th>
					<td th:text="${cliente.telefone}"></td>
				</tr>
				<tr>
					<th>Média Mensal de Faturamento (12 MESES)</th>
					<td th:text="${cliente.mediaFaturamento}"></td>
				</tr>
				<tr>
					<th>Média Mensal de Compras (12 MESES)</th>
					<td th:text="${cliente.mediaComprasAsCurrency}"></td>
				</tr>
				<tr>
					<th>Total Compras no Mês</th>
					<td th:text="${cliente.comprasMesAsCurrency}"></td>
				</tr>
				<tr>
					<th>Poder de Compra</th>
					<td th:text="${cliente.poderCompraAsCurrency}" class="nowrap" th:data-order="${cliente.poderCompra}"></td>
				</tr>
				<tr>
					<th>Carteira do Cliente</th>
					<td><a th:href="@{/carteira/cliente/__${cliente.codigo}__/}">Visualizar Carteira <span th:text="'(' + ${cliente.carteiraTotalAsCurrency} + ')'"></span></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="mini-jumbo">
					<h4 class="text-center">Vendas por Linha (12 meses)</h4>
				</div>
				<div class="cards mb-3">
					<a th:href="@{/pedidos-venda/relacao-vendas?ano=2020&codigoCliente=__${cliente.codigo}__&codigoGrupoProduto=__${cardVenda.codigoGrupoProduto}__}" class="metaCard" th:each="cardVenda : ${cardsVendas}">
						<h3 th:text="${cardVenda.seguimento}">Placas + Parafusos</h3>
						<div class="meta">
							<span class="label"></span>
							<div class="valorMeta">
								<span class="valor" th:text="${#numbers.formatDecimal(cardVenda.valor, 0, 'POINT', 2, 'COMMA')}">25%</span>
							</div>
							<div class="metasAno">
								<span class="d-inline-block" th:text="'Média Mensal: R$ ' + ${#numbers.formatDecimal(cardVenda.mediaMensal, 0, 'POINT', 2, 'COMMA')}">M: R$ 80.256,57</span>
								<span class="d-inline-block" th:text="'Acumulado Ano: R$ ' + ${#numbers.formatDecimal(cardVenda.valor, 0, 'POINT', 2, 'COMMA')}">A: R$ 127.025,65</span>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
								<span class="value" th:text="${cardVenda.getPorcentagemRelativa(cardsVendas)} + '%'"></span>
								<span class="porcentagemReferencia d-none" th:text="${cardVenda.getPorcentagemReferencia(cardsVendas)}"></span>
							</div>
						</div>
					</a>
					
					
				</div>
			</div>
			<div class="col-12 graficoCelular mt-5">
				<div class="mini-jumbo">
					<h4 class="text-center">Histórico do Cliente</h4>
				</div>
				<div class="grafico pt-3">
					<canvas id="graficoComprasCliente" height="130rem" class="drilldown"></canvas>
				</div>
				<div class="mini-jumbo">
					<h4 class="text-center">Vendas por Grupo</h4>
				</div>
				<table id="vendasPorGrupo" class="table table-sm table-striped table-hover"></table>
				<div class="mini-jumbo mt-5">
					<h4 class="text-center">Mapa Vendas</h4>
				</div>
				<div class="table-responsive">
					<table id="tableMapaVendas" style="width: '100%'" class="table table-sm table-striped table-header mb-4"></table>
				</div>
				<div class="mini-jumbo mt-5">
					<h4 class="text-center">Relação de Entregas</h4>
				</div>
				<div class="row rowGraficosEntregas">
					<canvas id="graficoEntregasCliente1" class="col-12 col-md-3" height="250px"></canvas>
					<canvas id="graficoEntregasCliente2" class="col-12 col-md-3" height="250px"></canvas>
					<canvas id="graficoEntregasCliente3" class="col-12 col-md-3" height="250px"></canvas>
					<canvas id="graficoEntregasCliente4" class="col-12 col-md-3" height="250px"></canvas>
				</div>
				<div class="mini-jumbo">
					<h4 class="text-center">Produtos Mais Comprados (12 meses)</h4>
				</div>
				<canvas id="graficoProdutosMaisComprados" height="130rem" class="drilldown"></canvas>
			</div>
		</div>
	</div>
</body>
</html>