<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="templateFile :: head('Detalhes Pedido ' + ${numeroPedido})">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2 class="text-center">Detalhes do Pedido</h2>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Numero Pedido</th>
					<th>Clasificação Pedido</th>
					<th>Cliente</th>
					<th>Tipo Venda</th>
					<th>Liberacao</th>
					<th>Comis 1</th>
					<th>Comis 2</th>
					<th>Comis 3</th>
					<th>Comis 4</th>
					<th>Comis 5</th>
					<th>Data Emissao</th>
					<th>Data Liberação</th>
					<th>Data Entrega</th>
					<th>Total Pedido</th>
					<th>Total Comissao</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${pedido.numero}"></td>
					<td th:text="${pedido.clasPed}"></td>
					<td><a th:href="@{/clientes/__${pedido.cliente.codigo}__/detalhes}" th:text="${pedido.cliente.nome}"></a></td>
					<td th:text="${pedido.tipoVenda}"></td>
					<td th:text="${(pedido.estaLiberado()) ? 'LIBERADO' : 'BLOQUEADO'}"></td>
					<td th:text="${pedido.comis1}"></td>
					<td th:text="${pedido.comis2}"></td>
					<td th:text="${pedido.comis3}"></td>
					<td th:text="${pedido.comis4}"></td>
					<td th:text="${pedido.comis5}"></td>
					<td th:text="${pedido.dataEmissaoPtBr}"></td>
					<td th:text="${pedido.dataLiberacaoPtBr}"></td>
					<td th:text="${pedido.dataEntregaPtBr}"></td>
					<th th:text="${pedido.totalPedidoAsCurrency}"></th>
					<th th:text="${pedido.totalComissaoAsCurrency}"></th>
				</tr>
			</tbody>
		</table>
		<h5>Itens do Pedido</h5>
			<div class="table-responsive">
			<table class="table display table-sm table-striped" id="myTable">
				<thead>
					<tr>
						<th>Item PV</th>
						<th>Produto</th>
						<th>Descricao</th>
						<th>Qtd Vend</th>
						<th>Qtd Ent</th>
						<th sec:authorize="hasAnyAuthority('ADMIN')">Custo</th>
						<th>Preço Venda</th>
						<th>Valor Total</th>
						<th>Valor Saldo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${pedido.itensPedidoVenda}">
						<td th:text="${item.item}"></td>
						<td><a class="context-item" th:href="@{/produtos/detalhes(codigoProduto=${item.produto.codigo})}" th:text="${item.produto.codigo}"></a></td>
						<td th:text="${item.produto.descricao}"></td>
						<td th:text="${item.qtdVen}"></td>
						<td th:text="${item.qtdEnt}"></td>
						<td sec:authorize="hasAnyAuthority('ADMIN')" th:text="${item.custoAsCurrency}" th:data-order="${item.custo}"></td>
						<td th:text="${item.prcVenAsCurrency}" th:data-order="${item.prcVen}"></td>
						<th th:text="${item.valorTotalAsCurrency}" th:data-order="${item.valorTotal}"></th>
						<th th:text="${item.valorAsCurrency}" th:data-order="${item.valor}"></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>
		$(document).ready( function () {
		    $('#myTable').DataTable({
                iDisplayLength: 100,
                dom: 'Bflrptpi',
		        buttons: [
		            'copyHtml5',
		            'excelHtml5',
                ],
                
		    });
		    
		    
    		$('.context-item').mousedown(function (e) {
    			if (e.which == 3) {
    				var codigoProduto = this.innerHTML;
    				
    				var x = e.originalEvent.x;
    				var y = e.originalEvent.y;
    				
    				var opcoes = [];
    				
    				opcoes.push(
    					{
	    					nome: 'Saldo por Endereco',
	    					link: '/saldo-por-endereco?produtoDe=' + codigoProduto + '&produtoAte=' + codigoProduto + '&lote=&armazem=',
    					},
    					{
    						nome: 'Historico Produto',
	    					link: '/historico-produto?codigoProduto=' + codigoProduto,
    					},
    					{
    						nome: 'Processamento',
	    					link: '/utilitarios/processamento?codigoProduto=' + codigoProduto,
    					},
    					{
    						nome: 'Ordens Producao',
	    					link: '/relacao-ops?numero=&sequencia=&lote=&codigoProduto=' + codigoProduto + '&descricaoProduto=&emissao=&armazem=&status=&usuario=&situacao=abertas',
    					},
    				);
    				
    				criarContextMenu(x, y, opcoes);
    			}
    			
    		});
		    
		    
		});
	</script>
</body>
</html>