<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relacao de Vendas')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/relacaoVendas.css}"/>
<script th:src="@{/js/relacaoVendas.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2 class="text-center">Relacao de Vendas</h2>
			</div>
		</div>
		<table class="table table-sm table-compact table-striped display" id="myTable">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Numero Pedido</th>
					<th>It</th>
					<th>Cliente</th>
					<th>Estado</th>
					<th>Emissao</th>
					<th>Entrega</th>
					<th>Produto</th>
					<th>Descricao</th>
					<th>Grupo</th>
					<th>Qtd Vend</th>
					<th>Qtd Ent</th>
					<th>Saldo</th>
					<th>Preço Venda</th>
					<th>Valor Total</th>
					<th>Valor Saldo</th>
				</tr>
			</thead>
		</table>
	</div>
	<script>
		$(document).ready( function () {
		    $('#myTable').DataTable({
		    	ajax: {
		    		type: 'post',
		    	},
                order: [
		        	[
		        		11, 'desc'
		        	]
	        	],
                iDisplayLength: 100,
		    	dom: 'Blfrpti',
		        buttons: [
		            'copyHtml5',
		            'excelHtml5',
		        ],
		    });
		} );
	</script>
</body>
</html>