.setor {
    margin-left: 1rem;
    margin-top: 1rem;
    border: 1px solid black;
    padding-left: 1rem;
    padding-top: 0.3rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    float: left;
}

span.nome-setor {
    background-color: #1b5b9a;
    color: white;
    margin-left: -1rem;
    display: block;
    margin-right: -1rem;
    margin-top: -0.4rem;
    text-align: center;
    font-size: 1.8rem;
}

.unidade {
    border: 1px dashed black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    width: 12.7rem;
    padding-bottom: 0.7rem;
}

span.nome-unidade {
    display: block;
    background-color: lightgray;
    color: black;
    margin-left: -1rem;
    text-align: center;
    font-size: 1.4rem;
}

.pedido {
    display: block;
    border: 1px dashed red;
    margin-left: 0rem;
    width: 92%;
    margin-top: 1rem;
    text-align: left;
    padding-left: 0.6rem;
    cursor: grab;
}

span.num-ped {
}

.drag-over {
    border: 3px dashed blue!important;
}

