#indicadores {
    width: calc(100% - 10.5rem);
}

.indicadores-fixed {
    margin-left: 10.5rem;
    width: 100%;
}

.alertBorder {
	border: 2px solid red;
}

div#myTable_length {
    margin-left: 11rem;
    margin-top: 0.2rem;
}