.menu-meses {
	background-color: #ffffff75;
	padding: 0.7rem 0.7rem 0.7rem 0.7rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 2rem;
	height: 4rem;
}

.menu-meses .mes {
	font-size: 1rem;
	border: 1px solid #8080803d;
	width: 9rem;
	padding-top: 0.4rem;
	text-align: center;
	background-color: #1b5b9a96;
	color: white;
	font-weight: bold;
	border-radius: 2rem;
}

.menu-meses .mes:hover {
	background-color: #00ac9e5c;
	color: #1b5b9a;
	cursor: pointer;
}

div#div-adicionar-pedido {
	position: fixed;
	background-color: #00000099;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 18rem 0rem 0rem 0rem;
	z-index: 999;
}

.form {
	background-color: white;
	padding: 1.2rem;
	border-radius: 0.4rem;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.form-checks {
	overflow-y: scroll;
	min-height: 15rem;
	border: 1px solid #00000024;
	padding-left: 1rem;
	padding-top: 1rem;
	max-height: 15rem;
}

a#salvarPedido {
	margin-top: 1rem;
}

.mes.selected {
	background-color: #00ac9e5c;
	color: #1b5b9a;
	cursor: pointer;
}

span.num-mes {
	width: 100%;
	height: 100%;
	display: block;
}

td.rmv {
	width: 0.8rem;
	height: 0rem;
	background-color: red;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.7rem;
	cursor: pointer;
}

.div-memo {
	position: fixed;
	/* background-color: #00000099; */
	top: 0;
	left: calc(12.5vw);
	width: calc(75vw);
	/* height: 100%; */
	/* padding: calc(15vh) 0rem 0rem 0rem; */
	z-index: 999;
	margin: calc(15vh) 0rem 0rem 0rem;
}

.div-memo .text-status {
	width: 100%;
	height: calc(50vh);
	display: block;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 0.2rem 0.4rem 0.2rem 0.4rem;
	overflow-y: auto;
}

.div-memo .header {
	background-color: white;
	width: 100%;
	height: 3rem;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #0000002e;
}

.div-memo .title {
	font-size: 1.2rem;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 0.5rem;
}

.div-memo .div-group {
	width: 20rem;
	display: inline-block;
	background-color: white;
	margin-right: auto;
	padding: 0.2rem 0.4rem 0.2rem 0.4rem;
	border: 1px solid #00000026;
}

label.text-status-label {
	display: block;
	width: 100%;
	height: 3rem;
	background-color: white;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.6rem;
	padding-left: 0.6rem;
	border: 1px solid #00000014;
}

.memo-body {
	border: 8px solid #4f7adaba;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	position: relative;
}

a.context-link {
	display: block;
	width: 100%;
	height: 100%;
}

.botoes-menu {
	position: absolute;
	right: 0.6rem;
	top: 0.5rem;
	cursor: pointer;
}

.cursor-alias {
	cursor: alias;
}

.div-memo-background {
    background-color: #00000099;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#tabelaPedidos_wrapper {
    margin-bottom: 6rem;
}

.pedido-faturado {
	background-color: #24e84e!important;
}

.pedido-pendente {
	background-color: #eca8ae!important;
}

.pedido-empenhado {
	background-color: #fdd965!important;
}