#editOpsButton, #editMemoButton, #editObsButton, #editPrevEntregaButton
	{
	height: 2rem;
	margin-top: 2rem;
	cursor: pointer;
	margin-left: auto;
	margin-right: 1rem;
}

#div-resultado-text {
	color: white;
}

#memorando {
	min-height: 20rem;
	overflow-y: scroll;
}

.blocked {
	background-color: #00000008;
}

.aberta {
	background-color: #00ff5754 !important;
}

.andamento {
	background-color: #ff73006e !important;
}

.finalizada {
	background-color: #ff000054 !important;
}

label {
	white-space: nowrap;
}

h2.text-center {
	font-weight: bold;
	margin: 2rem 0rem 3rem 0rem;
}

#formTransferirProduto {
	display: block;
	border: 4px solid black;
	padding: 4rem;
	z-index: 999;
	position: absolute;
	background-color: white;
	top: 12.5rem;
	border-radius: 1rem;
	left: calc(25vw);
	right: calc(25vw);
}

#div-resultado {
	background-color: black;
	width: 40%;
	height: 10rem;
	position: absolute;
	top: 23rem;
	display: block;
	z-index: 999;
	left: 30%;
	text-align: center;
	padding-top: 4rem;
	font-weight: bold;
	font-size: 1.35rem;
}

span#div-resultado-text {
	
}

.buttons {
	margin-top: -4.4rem;
	z-index: 998;
}

#memorando::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

#memorando::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

#memorando::-webkit-scrollbar-thumb {
	background-color: #0ae;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255,
		.2)), color-stop(.5, transparent), to(transparent));
}

div#clipBoard {
	position: fixed;
	background-color: white;
	border: 1px solid black;
	min-width: 20rem;
	z-index: 998;
	bottom: 0;
	right: 0;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-bottom: 0.4rem;
}

div#clipBoard .itens {
	max-height: 16rem;
	overflow-y: scroll;
	margin-bottom: 1rem;
}

#clipBoard .itens ul li {
	display: block;
	margin-left: -2rem;
	border-bottom: 1px solid black;
	max-width: 9rem;
}

.text-vertical {
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-size: 1.2rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0rem;
}

.folha-rosto {
	height: 74vh;
}

.folha-rosto .item-desc {
	font-size: 2rem;
}

.quadro .texto {
	border: 1px solid black;
	min-height: 4rem;
	text-align: center;
	padding-top: 1.5rem;
}

.quadro .texto p {
    font-size: 2rem;
    font-weight: bold;
}

.quadro .texto p.cliente {
    font-size: 1.4rem;
    font-weight: bold;
}

.quadro label {
    font-weight: bold;
    font-size: 1.2rem;
}

.fullScreen {
    z-index: 999;
    position: fixed;
    left: 5%;
    width: 90%;
    background-color: white;
    top: 10%;
    height: 80%;
    border: 5px solid gray;
}

/* .fullScreen::after { */
/* 	content: ''; */
/* 	width: 1.5rem; */
/* 	height: 1.5rem; */
/* 	background-color: black; */
/* 	z-index: 999; */
/* 	position: relative; */
/* 	top: -6rem; */
/* 	right: -110.8rem; */
/* 	display: block; */
/* 	background-image: url('/img/x-button.png'); */
/* 	background-size: 100%; */
/* } */

.ops-pedido a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}