.logo {
	height: 5rem;
	border: 1px solid black;
	padding-top: 1rem;
	text-align: center;
}

.header {
	border: 1px solid black;
	padding-top: 1rem;
	text-align: center;
}

.checklist {
	margin-top: 3rem;
	background-color: white;
}

.detalhes-pedido {
	border: 1px solid black;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.composicao-header {
	background-color: lightgray;
	padding-top: 0.4rem;
	border: 1px solid black;
}

.composicao-table {
	border: 1px solid black;
	padding-bottom: 1rem;
	height: 68rem;
}

.dados-retirada {
    border: 1px solid black;
    padding-top: 1rem;
}

.dados-retirada div {
	margin-bottom: 1rem;
}

.logo img {
    height: 3rem;
}

.data-revisao {
	border: 1px solid black;
}

.text-break {
	word-break: break-all;
}

.codigoFormulario {
	border: 1px solid black;
	border-top: 0;
}

#return-to-top {
	display: none!important;
}

.table input {
    margin-left: 1.4rem;
    margin-right: auto;
    display: block;
    margin-top: 0.3rem;
}

.table, .table th, .table td {
	border-color: black;	
}

.table {
	
}

/* .table th:first-child, .table td:first-child, .table { */
/* 	border-left: none!important; */
/* } */

/* .table th:last-child, .table td:last-child, .table { */
/* 	border-right: none!important; */
/* } */