#indicadores {
	width: calc(100% - 10.5rem);
	box-shadow: inset 0 0 20px 5px;
	background-image: radial-gradient(circle, #00f3ff, #074f91);
}

.indicadores-fixed {
	margin-left: 10.5rem;
}

.dashboard.dashboard-vendas {
    display: inline-block;
    width: 25rem;
    height: 15rem;
    border: 1px solid black;
    margin-left: 2rem;
    margin-top: 5rem;
    /* text-shadow: 2px 2px 4px #000000; */
    box-shadow: 2px 2px 4px #000000;
    padding-bottom: 0;
}

.dashboard-header {
    padding-left: 0.5rem;
    border-bottom: 0.5px solid black;
    padding-top: 0.3rem;
    height: 15%;
    background-color: #074f91;
    color: white;
}

.dashboard-vendas-indicador p {
    text-align: center;
    font-weight: bold;
    color: #001fff;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 2.5rem;
}

.dashboard-vendas-indicador {
    background-color: #ffffff;
    height: 85%;
}

.grafico {
    height: 10rem;
}

.trigger-button {
    width: auto;
    display: inline-block;
    border: 1px solid black;
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-width: 10rem;
    margin: 0rem -0.2rem 0rem -0.2rem;
}

.button-group {
    text-align: center;
    margin-top: 1rem;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.trigger-button:first-child {
    border-right: 0;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    /* display: inline-block; */
}

.trigger-button:last-child {
    border-left: 0;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
}

.trigger-button {}

.trigger-button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.buttons {
    text-align: center;
}

.dashboards {
    display: flex;
    justify-content: space-around;
}