.lote-preenchido {
	background-color: #b0ecb0!important;
}

.atende {
	background-color: #91c6ff!important;
}

.nao-atende {
	background-color: #d69ea4!important;
}

.enderecar-inspecionar {
	background-color: #fff400!important;
}

.div-desenho {
    height: 82rem;
}

#tabelaEmpenhos {
	/* margin-top: -2rem!important; */
}

#tabelaEmpenhos_wrapper, #tabela-pedidos_wrapper {
	/* margin-top: -2rem!important; */
}

#tabelaEmpenhos {
	font-weight: bold;
}

#tabelaEmpenhos a {
    color: #ffffff;
}