/*ADAPTACOES PARA DESKTOP*/
@media only screen and (min-width:1000px) {
	.rowGraficosEntregas canvas {
		height: 18rem;
		margin-bottom: 1rem;
	}
}


.metaCard {
    width: 11.88rem;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    margin-left: 1.8rem;
    padding: 1rem;
    /* border-radius: 0.3rem; */
    display: inline-block;
    height: 9.5rem;
    background-color: #64aeed;
}

.metaCard h3 {
    font-size: 1rem;
    height: 1rem;
    line-height: 1.2rem;
    color: white;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #0000000f;
    padding-bottom: 1rem;
}

span.valor {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.metasAno {
    font-size: .7rem;
    color: white;
    position: relative;
    bottom: -0.9rem;
    right: -0.7rem;
    text-align: right;
}

.progress {
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0;
    position: relative;
    bottom: -1.2rem;
    border: 1px solid #0000ff45;
    background-color: #8686869c;
}

.meta {
    margin-top: 1.1rem;
    width: 100%;
    text-align: center;
}

span.value {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    /* left: 46%; */
    bottom: -1.6px;
    color: white;
    text-align: center;
    width: 100%;
}

.metaCard:hover {
    color: none;
    text-decoration: none;
}

table#myTable {
    width: 50rem;
    background-color: #e4e4e4!important;
}