.div-desenho {
    height: 90rem;
    width: 50%;
    margin-right: auto;
}

/* Adaptações Mobile */
@media only screen and (max-width:1000px) {
	#graficoCompradoresProduto {
		height: 40%;
	}
	
	#graficoConsumoProduto {
		height: 12%;
	}
}