.adicionar-produto {
	position: fixed;
    background-color: #00000099;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.adicionar-produto .form {
	background-color: white;
	margin-top: 10%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	border-radius: 0.5rem;
}

div#memorando {
    height: 20rem;
}

.valid {
	background-color: #00800021;
	border-color: green;
}

.invalid {
	background-color: #ff000029;
	border-color: red;
}

.memorando {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: 30rem;
    overflow-y: scroll;
    border: 5px solid gray;
}