@media only screen and (max-width:1000px) {
	.d-large {
		display: none;
	}
}

@media only screen and (min-width: 1000px) {
	.d-sm {
		display: none;
	}
}

.hoverPopup {
    border-bottom: 4px double;
    border-color: royalblue;
    cursor: help;
}

.popup {
    /*     background-color: black; */
    display: block;
    position: absolute;
    top: 0.6rem;
    left: 5rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

.popup .content {
    background-color: white;
    width: 20rem;
    max-height: 15rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}