@media only screen and (min-width:1000px) {
	#indicadores {
	    width: calc(100% - 10.5rem);
	}
	
	.indicadores-fixed {
	    margin-left: 10.5rem;
	}
	
}

@media only screen and (max-width:1000px) {
	#indicadores {
	    width: calc(100%);
	}
	
	.menu-lateral {
		width: 0!important;
	}
	
}

table.pedidosDia {
    font-size: 90%
}

#selectPeriodo {
    display: inline-block;
}

.row {
    /* margin-left: -10px!important; */
}

.pl-2 {
    padding-left: 2rem!important;
}