@media only screen and (min-width:1000px) {
	#indicadores {
	    width: calc(100% - 10.5rem);
	}

	.indicadores-fixed {
	    margin-left: 10.5rem;
	}
	
	#graficoTopClientesOrtopedia, #graficoTopProdutosEquipamentos {
/* 		height: 80%!important; */
	}
	
	#graficoTopClientesEquipamentos, #graficoTopProdutosOrtopedia {
/* 		height: 80%!important; */
	}
	
}

@media only screen and (max-width:1000px) {
	#btn-metas {
	    margin-left: auto!important;
	    margin-right: 4rem;
	    display: block;
	    position: relative!important;
	    width: 7rem;
	    margin-top: -0.5rem!important;
}

	#indicadores {
	    width: calc(100%);
	}
	
	.menu-lateral {
		width: 0!important;
	}
	
	#graficoTopClientesOrtopedia, #graficoTopClientesEquipamentos, #graficoTopProdutosOrtopedia, #graficoTopProdutosEquipamentos {
		height: 3%;
	}
	
	.mini-jumbo.tipo-grafico {
		display: none!important;
	}
	
	#form-ano-referencia {
		display: none!important;
	}
	
	.jumbotron h2{
		font-size: 1.5rem!important;
	}
	
	.mini-jumbo h4 {
		font-size: 1rem!important;
	}
}
	

@media only screen and (max-width:500px) {
	#indicadores {
	    width: calc(100%);
	}
	
	.menu-lateral {
		width: 0!important;
	}
	
	#graficoTopClientesOrtopedia, #graficoTopClientesEquipamentos, #graficoTopProdutosOrtopedia, #graficoTopProdutosEquipamentos {
		height: 12%;
	}
}

div#internalNav {
    background-color: gray;
    height: 2rem;
    text-align: center;
}

#btn-metas {
	position: absolute;
	margin-top: -3.4rem;
	margin-left: 18%;
	z-index: 998;
}