@media only screen and (min-width:1000px) {
	#indicadores {
	    width: calc(100% - 10.5rem);
	}

	.indicadores-fixed {
	    margin-left: 10.5rem;
	}
}

@media only screen and (max-width:1000px) {
	#indicadores {
	    width: calc(100%);
	}
	
	.menu-lateral {
		width: 0!important;
	}
	
	#graficoProdutosAntigosOrtopedia {
		height: 5rem;
	}
}

div#internalNav {
    background-color: gray;
    height: 2rem;
    text-align: center;
}