.progress-bar-background {
	width: 50%;
	height: 0.7rem;
	background-color: #0000ff52;
	margin-left: auto;
	margin-right: auto;
}

.progress-bar {
	width: 0%;
    height: 100%;
    background-color: blue;
}

.progress-bar.success {
	background-color: #48de48!important;
}

span.progress-text {
    display: block;
    position: relative;
    margin-top: -1rem;
    color: white;
    font-size: 0.8rem;
}

.dashboard-text {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}