@media only screen and (min-width:1000px) {
	#indicadores {
	    width: calc(100% - 10.5rem);
	}

	.indicadores-fixed {
	    margin-left: 10.5rem;
	}
	
}

@media only screen and (max-width:1000px) {
	#indicadores {
	    width: calc(100%);
	}
	
	.menu-lateral {
		/* width: 0!important; */
		margin-left: auto;
	}
	
	#graficoTopClientesOrtopedia, #graficoTopClientesEquipamentos, #graficoTopProdutosOrtopedia, #graficoTopProdutosEquipamentos {
		height: 15%;
	}
	
	.mini-jumbo.tipo-grafico {
		display: none!important;
	}
	
	#form-ano-referencia {
		display: none!important;
	}
	
	.jumbotron h2{
		font-size: 1.5rem!important;
	}
	
	.mini-jumbo h4 {
		font-size: 1rem!important;
	}
}
	

@media only screen and (max-width:500px) {
	#indicadores {
	    width: calc(100%);
	}
	
	.menu-lateral {
		/* width: 0!important; */
	}
	
	#graficoTopClientesOrtopedia, #graficoTopClientesEquipamentos, #graficoTopProdutosOrtopedia, #graficoTopProdutosEquipamentos {
		height: 12%;
	}
}