#svg-map path { fill:#0094d9 }
#svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#svg-map a{ text-decoration:none }
#svg-map a:hover { cursor:pointer; text-decoration:none }
#svg-map a:hover path{ fill:#003399 !important }
#svg-map .circle { fill:#66ccff }
#svg-map a:hover .circle { fill:#003399 !important; cursor:pointer }

@media only screen and (min-width:1000px) {
	#indicadores {
	    width: calc(100% - 10.5rem);
	}

	.indicadores-fixed {
	    margin-left: 10.5rem;
	}
	
	#mapaBrasil {
	    position: fixed;
	    top: 20rem;
	}
}

@media only screen and (max-width:1000px) {
	#indicadores {
	    width: calc(100%);
	}
	
	.menu-lateral {
		width: 0!important;
	}
	
	#mapaBrasil {
	    display: none;
	}
}

div#internalNav {
    background-color: gray;
    height: 2rem;
    text-align: center;
}