#processamento {
    width: calc(100% - 10.5rem);
}

#indicadores {
	width: calc(100% - 10.5rem);
}

.indicadores-fixed {
	margin-left: 10.5rem;
}

.form-processamento {
	margin-left: 2rem;
	margin-top: 1rem;
	display: block;
	width: 96%;
	padding-left: 0.6rem;
}

button#button-form {
    margin-left: 2rem;
}

.form.mb-5.form-processamento.scrollable-div {
    min-height: 0!important;
}

.form-group.pl-2 {
    margin-left: 2.3rem;
    margin-top: 1.2rem;
}

div#myTable_length {
    margin-left: 12rem;
}