#processamento {
    width: calc(100% - 10.5rem);
}

#indicadores {
	width: calc(100% - 10.5rem);
}

.indicadores-fixed {
	margin-left: 10.5rem;
}

.form-processamento {
	display: block;
}

.button-form-processamento {
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.button-form-importar-carteira {
	display: inline-block;
	margin-left: auto;
}

.form-produtos::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.form-produtos::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.form-produtos::-webkit-scrollbar-thumb {
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

.form-produtos {
    max-height: 16rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

div#myTable_length {
    margin-left: 12rem;
    margin-top: 0.2rem;
}