#btn-grafico {
    margin-left: 3rem;
}

#btn-limpar {
	margin-left: 3rem;
}

#produtosSelecionados span {
    color: red;
    font-weight: bold;
}

#div-grafico {
    width: 100%;
    height: calc(100vh);
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    z-index: 999;
}

#fechar-div-grafico {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, .75);
    right: 17rem;
    top: 9rem;
    width: 3rem;
    height: 3rem;
    padding-top: 0.1rem;
    padding-left: 0.2rem;
}

#fechar-div-grafico:hover {
	cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.bar1 {
    transform: rotate(-45deg) translate(-5px, 10px);
}

.bar3 {
    transform: rotate(45deg) translate(2px, -2px);
}

#div-canvas {
    background-color: white;
    width: 75%;
    height: 75%;
    position: fixed;
    left: calc(25% / 2);
    top: calc(25% / 2);
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#canvas-graficoProdutos {
	height: 50%;
}


