tr {
    cursor: pointer;
}

.form-programa {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 45rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1px solid black;
}