.cursor-default {
	cursor: default;
}

.jumbotron h2 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}

html::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
	background-color: #F5F5F5 !important;
	border-radius: 10px !important;
}

html::-webkit-scrollbar {
	width: 10px !important;
	background-color: #F5F5F5 !important;
}

html::-webkit-scrollbar-thumb {
	border: 0;
	background-color: none;
	border-radius: 10px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122
		, 153, 217)), color-stop(0.72, rgb(73, 125, 189)),
		color-stop(0.86, rgb(28, 58, 148))) !important;
}

h1 {
	font-family: "Helvetica Neue";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}

.dropdown-subitens.dropdown-itens {
	position: relative;
	width: 15rem;
	z-index: 999;
	margin-top: -5.6rem;
	margin-left: 14.86rem;
}

.dropdown-submenu>.drop-down-link::after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: .3em .3em .3em .3em;
	border-color: transparent transparent transparent #007bff;
	position: absolute;
	/* left: 1rem; */
	/* top: 1rem; */
	/* margin-left: 0.4rem; */
	margin-top: 0.5rem;
	float: right;
	right: 4px;
}

.mt-10 {
	margin-top: 5rem !important;
}

h3 {
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}

p {
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: "Helvetica Neue";
	font-size: 17.5px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
}

pre {
	font-family: "Helvetica Neue";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

* {
	/* 	font-family: 'Jaldi', sans-serif; */
	
}

.opcoes .item:hover {
	color: white;
	background-color: #0747a6;
}

.context-item:not(th) {
	cursor: help;
	text-decoration: underline;
}

.opcoes .item a:hover {
	color: white !important;
	text-decoration: none;
}

.opcoes .item {
	display: block;
	color: #007bff;
	font-weight: bold;
	/* margin-bottom: 0.2rem; */
	padding: 0.2rem 0 0.2rem 0rem;
	border: none;
}

.context-menu {
	background-color: white;
	color: black;
	position: fixed;
	z-index: 999;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	/* padding-right: 1rem; */
	/* padding-left: 0.5rem; */
	border: 1px solid gray;
	width: 20rem;
}

#preForm .label {
	display: inline-block !important;
	margin-bottom: .5rem !important;
}

#preForm .form-control {
	display: inline-block;
	position: sticky;
	left: 53rem;
	width: 30rem;
}

#preForm .btn {
	width: 10rem;
	display: inline-block !important;
	vertical-align: middle !important;
	margin-left: auto;
	margin: 0 !important;
	/* padding: 0; */
	float: right;
	margin-right: 1rem !important;
}

.novo-pedido {
	background-color: white;
	color: black;
	border: 1px solid black;
	position: fixed;
	bottom: 40rem;
	right: 0rem;
	padding: 0.5rem 1rem 0.2rem 1rem;
}

.novo-pedido h5:after {
	vertical-align: -0.945em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
	margin-left: 2rem;
}

.dropdown-itens {
	background-color: white;
	/* padding: 0.2rem 1rem 0.2rem 1rem; */
	position: absolute;
	border: 1px solid black;
	z-index: 999;
	top: 3.5rem;
	width: 15rem;
}

a.drop-down-link {
	display: block;
	color: #007bff;
	font-weight: bold;
	margin-bottom: 0.2rem;
	padding: 0.2rem 1rem 0.2rem 1rem;
}

.dropdown-nav a.drop-down-link:last-child {
	padding: 0.2rem 1rem 0.2rem 1rem;
	margin-bottom: 0;
}

a.drop-down-link:hover, .drop-down-link.selected {
	text-decoration: none;
	color: white;
	background-color: #0747a6;
}

nav {
	width: 100%;
	background-color: white;
	max-height: 5.2rem;
	transition: 1s;
}

html {
	height: 100vh;
}

.drilldown {
	cursor: pointer;
}

.mini-jumbo {
	background-color: #007bff;
	margin-top: 0;
	/* margin-bottom: 0.5rem; */
	color: white;
	height: 4rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

#produtosSelecionados {
	z-index: 999;
	width: 50%;
	height: 4rem;
	background-color: black;
	position: fixed;
	bottom: 0;
	color: white;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 1rem;
	text-align: center;
	left: 25%;
}

body {
	background-color: #eeedee;
	min-height: 100%;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5,
	.jumbotron h6, .jumbotron h7 {
	font-weight: bold !important;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 110%;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.nav-link:hover {
	color: black;
}

.dt-bootstrap4 {
	margin-top: 2rem;
}

body div.container ul {
	margin-top: 2rem;
}

table td, table tr:last-child th {
	/*border-left: solid 1px black;
	border-right: solid 1px black;*/
	
}

table tr:last-child th {
	/*text-align: right;*/
	
}

table tbody tr:last-child th {
	white-space: nowrap;
}

.nowrap {
	white-space: nowrap;
}

.clickableRow {
	cursor: pointer;
}

.inline-form>.form-group {
	display: flex;
}

/* Absolute Center Spinner */
.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: visible;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/* Transparent Overlay */
.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading




:not


 


(
:required


 


)
{
/* hide "loading..." text */
font




:


 


0/0
a




;
color




:


 


transparent




;
text-shadow




:


 


none




;
background-color




:


 


transparent




;
border




:


 


0;
}
.loading:not (:required ):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75)
		1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75)
		-1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5)
		-1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
		rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em
		1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em
		1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75)
		-1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
		rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@
-webkit-keyframes spinner { 0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform






:



 



rotate






(360
deg




);
-moz-transform






:



 



rotate






(360
deg




);
-ms-transform






:



 



rotate






(360
deg




);
-o-transform






:



 



rotate






(360
deg




);
transform






:



 



rotate






(360
deg




);
}
}
@
-moz-keyframes spinner { 0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform






:



 



rotate






(360
deg




);
-moz-transform






:



 



rotate






(360
deg




);
-ms-transform






:



 



rotate






(360
deg




);
-o-transform






:



 



rotate






(360
deg




);
transform






:



 



rotate






(360
deg




);
}
}
@
-o-keyframes spinner { 0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform






:



 



rotate






(360
deg




);
-moz-transform






:



 



rotate






(360
deg




);
-ms-transform






:



 



rotate






(360
deg




);
-o-transform






:



 



rotate






(360
deg




);
transform






:



 



rotate






(360
deg




);
}
}
@
keyframes spinner { 0% {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

100%
{
-webkit-transform






:



 



rotate






(360
deg




);
-moz-transform






:



 



rotate






(360
deg




);
-ms-transform






:



 



rotate






(360
deg




);
-o-transform






:



 



rotate






(360
deg




);
transform






:



 



rotate






(360
deg




);
}
}
.spinner {
	border: 8px solid rgba(0, 0, 0, 0.1);
	border-left-color: #22a6b3;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10rem;
}

@
keyframes spin {
	to {transform: rotate(360deg);
}

}
#return-to-top {
	position: fixed;
	bottom: 70px;
	right: 20px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.7);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 13px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
	color: #fff;
	top: 5px;
}

footer {
	background-color: RGB(0, 172, 158);
	min-height: 10rem;
	padding-top: 2rem;
	padding-left: 2rem;
}

footer.fixedFooter {
	bottom: 0;
	position: absolute;
	width: 100%;
}

footer h2 {
	color: white;
	font-weight: bold;
	margin: 0;
}

.btn-plus {
	background-color: black;
	display: inline-block;
	margin-left: 1rem;
	width: 2rem;
	height: 2rem;
	margin-bottom: auto;
	margin-top: auto;
	border-radius: 1rem;
	color: white;
	text-align: center;
	padding-top: 0.4rem;
}

.scrollable-div {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 20rem;
	min-height: 15rem;
}

.rowGraficosEntregas {
	/*     height: 20rem; */
	
}

nav .form-logout {
	margin-left: auto;
	display: inline;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 2rem;
}

.jumbotron {
	background-color: #1b5b9a !important;
	color: white !important;
	border-radius: 0;
	margin-bottom: 0;
	padding: 1rem !important;
}

.menu-lateral .drop-down-link {
	display: block;
	color: white;
	padding-top: .5rem;
	font-weight: normal !important;
}

.menu-lateral .drop-down-link:hover {
	text-decoration: none;
	color: white;
	background-color: rgba(9, 30, 66, 0.42);
}

.menu-lateral {
	left: 0;
	z-index: 999;
	min-height: calc(100vh - 8.3vh);
	width: 10.5rem;
	padding-top: 1rem;
	overflow-y: auto;
}

.menu-direito {
	right: 0;
}

.nav-links {
	display: flex;
}

.nav-link {
	display: inline-block;
	margin-top: 1.2rem;
	font-weight: bold;
}

.menu-button {
	display: inline-block;
	cursor: pointer;
	top: 1rem;
	right: 1rem;
	position: absolute;
}

.dt-buttons, .dataTables_length, .dataTables_filter,
	.dataTables_paginate {
	display: inline-block;
}

.dataTables_paginate, .dataTables_filter {
	float: right;
}

/* Adaptacoes desktop */
@media only screen and (min-width:1000px) {
	.dropdown-link:after {
		vertical-align: -0.945em;
		content: "";
		border-top: .3em solid;
		border-right: .3em solid transparent;
		border-bottom: 0;
		border-left: .3em solid transparent;
		margin-left: 0.5rem;
	}
	.mini-jumbo {
		padding-top: 1rem;
		padding-bottom: 0.5rem;
	}
	nav .mobile {
		display: none;
	}
	nav {
		padding-left: 3rem;
	}
	.graficoCelular canvas {
		height: 20rem;
	}
	.body-fixed {
		padding-top: 5.2rem;
	}
	.nav-fixed {
		position: fixed;
		top: 0;
		z-index: 999;
	}
	.menu-lateral {
		background-color: rgb(7, 71, 166);
	}
	.menu-lateral-fixed {
		position: fixed;
		height: 100%;
		top: 5.2rem;
	}
	nav li, nav form, nav form button {
		display: inline-block;
	}
	nav ul li:not (:first-child ) {
		margin-left: 1rem;
	}
	.menu-button {
		display: none;
		cursor: pointer;
	}
	.content {
		width: 100%;
		display: flex;
	}
	.div-logo {
		display: inline-block;
	}
	#preForm {
		width: 100%;
		background-color: gray;
		min-height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		/* opacity: .9; */
		z-index: 998;
		/* padding-bottom: 5rem; */
		margin-top: 5.2rem;
	}
	#preForm .form {
		background-color: white;
		/* width: 25%; */
		/* height: 109%; */
		/* margin-left: 36.5%; */
		/* margin-top: 5.5%; */
		padding-left: 5rem;
		padding-right: 5rem;
		padding-top: 2.5rem;
		/* border-radius: 2rem; */
		padding-bottom: 2rem;
		/* min-height: 100vh; */
		width: 50rem;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid black;
		margin-top: 4rem;
		/* height: auto!important; */
		padding-bottom: 4rem;
	}
}

/* Adaptacoes Mobile */
@media only screen and (max-width:1000px) {
	.menu-lateral {
		margin-left: auto;
		width: 100%;
	}
	.nav-links {
		display: flex;
		position: absolute;
		z-index: 1000;
		padding-top: 4rem;
		background-color: white;
		padding-bottom: 1.5rem;
	}
	nav img {
		margin-left: 1rem;
	}
	.jumbotron {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.mini-jumbo {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.graficoCelular canvas {
		height: 9rem;
	}
	.graficoCelular canvas {
		height: 8rem;
	}
	.menu-lateral {
		
	}
	.hide-mobile {
		display: none !important;
	}
	.nav-content {
		height: auto !important;
		display: flex;
		flex-direction: column;
	}
	.expanded-nav {
		max-height: 25rem !important;
		transition: 0.25seg;
	}
	.nav-link {
		display: inline-block;
		width: 13.9rem;
		text-align: left;
		color: white;
	}
	.form-logout form {
		text-align: right;
		margin-right: 2rem;
	}
	.nav-link:first-child {
		margin-top: 0 !important;
	}
	.dt-buttons {
		display: none !important;
	}
	#preForm {
		width: 100%;
		background-color: gray;
		min-height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
	}
	#preForm .form {
		background-color: white;
		padding-left: 5rem;
		padding-right: 5rem;
		padding-top: 2.5rem;
		padding-bottom: 2rem;
		min-height: 100vh;
	}
	.dropdown-nav {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		background-color: #004f94;
		width: 100%;
		padding-left: 4rem;
		margin-bottom: 1rem;
		border-radius: 0.6rem;
		padding-bottom: 0.3rem;
	}
	a.drop-down-link {
		padding-right: 2rem !important;
		background-color: rgb(7, 71, 166);
		margin-left: 1rem;
		margin-right: 1rem;
		border-radius: 1rem;
		padding-left: 4rem !important;
		padding-bottom: 0.7rem;
		font-size: 1.2rem;
		margin-bottom: 0.8rem;
	}
}

.mb-1.dropdown-submenu {
	height: 1.8rem;
}

div#form-ano-referencia {
	position: absolute;
	margin-top: 1rem;
	z-index: 998;
}

.font-size-4 {
	font-size: 4rem;
}

canvas {
	background-color: #f7f7f7;
}

.grafico {
	background-color: #f7f7f7;
}

table {
	background-color: #f7f7f7 !important;
}

.table {
	background-color: white !important;
}

.dataTables_wrapper {
	background-color: white !important;
	padding: 1rem;
	border: 3px solid #80808054;
}

.table-responsive .dataTables_wrapper {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.dataTables_length {
	float: left;
	margin-left: 2rem;
}

.dataTables_filter {
	float: right;
	margin-right: 2rem;
}

.dataTables_paginate:not (:last-child ) {
	margin-top: -0.3rem !important;
	position: relative;
	float: right;
}

.dt-buttons {
	float: left;
}

.dataTables_wrapper table {
	margin-top: 4rem !important;
}

a.page-link {
	z-index: 0 !important;
}

a.context-link {
	display: block;
	width: 100%;
	height: 100%;
	padding-left: .4rem;
}

.font-size-1 {
	font-size: 1rem !important;
}

.portal-ortosintese {
    width: 100%;
    min-height: 91vh;
}

.dataTables_paginate:not(#myTable_paginate) {
    /* margin-top: -2.2rem; */
}