.indicadores-fixed {
    margin-left: 10.5rem;
}

.metaCard {
    width: 11.88rem;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    margin-left: 1rem;
    padding: 1rem;
    /* border-radius: 0.3rem; */
    display: inline-block;
    height: 9.5rem;
}

span.label {
    display: inline-block;
}

.valorMeta {
    display: inline-block;
    /* color: white; */
}

.metaCard h3 {
    font-size: 1rem;
    height: 1rem;
    line-height: 1.2rem;
    color: white;
}

.medidor {
    background-color: #007bff63;
    width: 10rem;
    height: 1.3rem;
    position: absolute;
    z-index: -999;
    top: 7.6rem;
}

.metaCard.atingida {
	background-color: #64aeed;
	/* border: 2px solid green; */
}

.metaCard.nao-atingida {
	background-color: #64aeed;
	/* border: 2px solid red; */
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

span.valor {
    font-size: 1.5rem;
    font-weight: bold;
}

span.valor.success {
	color: white;
}

span.valor.failure {
	color: red;
}

.meta {
    margin-top: 1.1rem;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width:1000px) {
	.menu-lateral {
	    display: none;
	}
}

.progress {
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0;
    position: relative;
    bottom: -1.2rem;
    border: 1px solid #0000ff45;
    background-color: #8686869c;
}

span.value {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 46%;
    bottom: -1.6px;
    color: white;
}

.metasAno {
    font-size: .7rem;
    color: white;
    position: relative;
    bottom: -0.9rem;
    right: -0.7rem;
    text-align: right;
}