<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Acompanhamento Pedidos x Producao')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/acompPedProd.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/acompPedProd.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
    <div class="jumbotron">
		<h2 class="text-center">Acompanhamento Pedidos x Producao</h2>
	</div>
	
	<div class="main">
		<div class="setor">
			<span class="nome-setor">Caldeiraria</span>
			<div class="unidade" ondrop="drop(event)" ondragover="allowDrop(event)">
				<span class="nome-unidade">Mantini</span>
				<div class="pedido" draggable="true" ondragstart="drag(event)">
					<span id="1" class="num-ped">1</span>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
				</div>
				<div class="pedido" draggable="true" ondragstart="drag(event)">
					<span id="2" class="num-ped">2</span>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
				</div>
			</div>
			<div class="unidade" ondrop="drop(event)" ondragover="allowDrop(event)">
				<span class="nome-unidade">Ortosintese</span>
				<div class="pedido" draggable="true" ondragstart="drag(event)">
					<span id="3" class="num-ped">3</span>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
				</div>
				<div class="pedido" draggable="true" ondragstart="drag(event)">
					<span id="4" class="num-ped">4</span>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
				</div>
			</div>
		</div>
		<div class="setor">
			<span class="nome-setor">Mont Porta</span>
			<div class="unidade" ondrop="drop(event)" ondragover="allowDrop(event)">
				<span class="nome-unidade">Ortosintese</span>
				<div class="pedido" draggable="true" ondragstart="drag(event)">
					<span id="5" class="num-ped">5</span>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
				</div>
			</div>
		</div>
		<div class="setor">
			<span class="nome-setor">Hidraulica</span>
			<div class="unidade" ondrop="drop(event)" ondragover="allowDrop(event)">
				<span class="nome-unidade">Ortosintese</span>
				<div class="pedido" draggable="true" ondragstart="drag(event)">
					<span id="6" class="num-ped">6</span>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
				</div>
			</div>
		</div>
		<div class="setor">
			<span class="nome-setor">Eletrica</span>
			<div class="unidade" ondrop="drop(event)" ondragover="allowDrop(event)">
				<span class="nome-unidade">Ortosintese</span>
				<div class="pedido" draggable="true" ondragstart="drag(event)">
					<span id="7" class="num-ped">7</span>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
				</div>
			</div>
		</div>
		<div class="setor">
			<span class="nome-setor">Revestimento</span>
			<div class="unidade" ondrop="drop(event)" ondragover="allowDrop(event)">
				<span class="nome-unidade">Ortosintese</span>
				<div class="pedido" draggable="true" ondragstart="drag(event)">
					<span id="8" class="num-ped">8</span>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
				</div>
			</div>
		</div>
		<div class="setor">
			<span class="nome-setor">Embalagem</span>
			<div class="unidade" ondrop="drop(event)" ondragover="allowDrop(event)">
				<span class="nome-unidade">Ortosintese</span>
				<div class="pedido" draggable="true" ondragstart="drag(event)">
					<span id="9" class="num-ped">9</span>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
					<div class="status"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>