<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Carteira PCP')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/carteiraPCP.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/carteiraPCP.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2 class="text-center mt-3 mb-3">Inserir Pedido Manual</h2>
			</div>
		</div>
		<form class="form col-md-6 col-xl-6 ml-auto mr-auto mt-5" th:action="@{/carteira-pcp/adicionar-manual}" method="POST" th:object="${pedidoManual}">
			<input type="hidden" th:field="*{id}"/>
			<div class="row">
				<input class="form-control d-inline-block col-2" id="numeroPedido" name="numeroPedido" placeholder="Numero Pedido" autofocus="autofocus" th:field="*{numero}" required="required"/>
				<select class="form-control d-inline-block col-10" id="item" name="item"></select>
			</div>
			<button type="submit" class="btn btn-primary text-center d-block ml-auto mr-auto mt-3">Incluir Pedido</button>
		</form>
	</div>
	<script>
	var timeout = null
		$('#numeroPedido').on('keyup', function() {
		    var text = this.value
		    clearTimeout(timeout)
		    timeout = setTimeout(function() {
				if (text.length == 6) {
					$('#item').html('');
					$.get('/carteira-pcp/get-itens-pedido?numeroPedido=' + text, (itensPedidoVenda) => {
						$(itensPedidoVenda).each(function () {
							var option = new Option(this.item + ' - ' + this.produto.codigo + ' - ' + this.produto.descricao, this.item);
							var select = document.getElementById('item');
							select.add(option);
						});
					});
				} else if (text.length > 6) {
					$(this).val(text.substring(0, 6));
				}
		    }, 500)
		})
	</script>
</body>
</html>