<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Usuarios')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/adminUsuarios.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/adminUsuarios.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2 class="text-center">Usuarios</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<table id="myTable" class="table table-sm table-striped">
			<tbody>
				<tr th:each="usuario : ${usuarios}">
					<td th:text="${usuario.username}"></td>
					<td th:text="${usuario.password.replace('{noop}', '')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>