<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Ac Ped - ' + ${itemPedido.pedido.numero + ' - ' + itemPedido.produto.codigo + ' - ' + itemPedido.produto.descricao})"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/carteiraPCPDetalhesPedido.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/carteiraPCPDetalhesPedido.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	
	<div id="clipBoard" class="d-none">
		<div class="titulo">
			<h5>ClipBoard</h5>
		</div>
		<div class="itens">
			<ul>
			</ul>
		</div>
		<button id="btn-limpar-itens" class="btn btn-danger">Limpar Itens</button>
		<button id="btn-gerar-empenhos" class="btn btn-success">Gerar Empenhos</button>
	</div>
	
	
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2 class="text-center">Detalhes Pedido</h2>
			</div>
			<div class="buttons ml-4">
				<a th:href="@{./acompanhamento/folha-de-rosto}" class="btn btn-primary mb-3 float-left">Folha de Rosto</a>
				<a th:if="${pm != null}" th:href="@{/carteira-pcp/remover-pedido?numero=__${itemPedido.pedido.numero}__&item=__${itemPedido.item}__}" class="btn btn-primary mb-3 float-left ml-3">Remover Pedido</a>
				<a th:if="${pm == null}" th:onclick="'adicionarManual(' + __${itemPedido.pedido.numero}__ + ', ' + __${itemPedido.item}__ + '' + ')'" class="btn btn-primary mb-3 float-left text-white ml-3">Fixar Pedido</a>
				<button id="btnTrasnferirPedido" class="btn btn-danger mb-5 float-left ml-3">Transferir Pedido</button>
			</div>
		</div>
		<div id="formTransferirProduto" class="d-none">
			<div>
				<h5>Transferir Pedido</h5>
				<div class="form-group">
					<label>Pedido</label>
					<input id="numPedidoDest" class="form-control"/>
				</div>
				<div class="form-group">
					<label>Item Ped</label>
					<select id="selectItemPed" class="form-control">
					</select>
				</div>
				<button id="btnTransferirPedido" class="btn btn-danger">Transferir</button>
			</div>
		</div>
		<div id="div-resultado" class="d-none">
			<span id="div-resultado-text"></span>
		</div>
		
		
		<table class="table display table-sm table-striped mb-2" id="myTable">
			<thead>
				<tr>
					<th>Num Pedido</th>
					<th>Cliente</th>
					<th>Item Ped</th>
					<th>Codigo</th>
					<th>Descricao</th>
					<th>xDesc</th>
					<th>Qtd</th>
					<th>Qtd Ent</th>
					<th>Emissao</th>
					<th>Data Liberação</th>
					<th>Data Comercial</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a th:href="@{/pedidos-venda/__${itemPedido.pedido.numero}__/detalhes}" th:text="${itemPedido.pedido.numero}"></a></td>
					<td th:text="${itemPedido.cliente}"></td>
					<td th:text="${itemPedido.item}"></td>
					<td th:text="${itemPedido.produto.codigo}" class="nowrap"></td>
					<td th:text="${itemPedido.produto.descricao}"></td>
					<td th:text="${itemPedido.xDesc}"></td>
					<td th:text="${itemPedido.qtdVen}"></td>
					<td th:text="${itemPedido.qtdEnt}"></td>
					<td th:text="${itemPedido.pedido.dataEmissao}"></td>
					<td th:text="${itemPedido.pedido.dataLiberacao}"></td>
					<td th:text="${itemPedido.pedido.dataEntrega}"></td>
				</tr>
			</tbody>
		</table>
		
		
		
		
		<form class="form">
			<input type="hidden" name="id" id="id" th:value="${ap.id}"/>
			<input type="hidden" name="numPedido" id="numPedido" th:value="${ap.numPedido}"/>
			<input type="hidden" name="numItemPedido" id="numItemPedido" th:value="${ap.itemPed}"/>
			<div class="row">
				<div class="form-group col-md-2 col-sm-12">
					<label>Processo</label>
					<select id="processo" class="form-control" th:field="*{ap.processo}">
						<option value=""></option>
						<option th:if="${true}" value="SEPARACAO">Separação</option>
						
						<!-- Opcoes de mesa -->
						<option th:if="${ap.tipoProduto == 'MC'}" value="PRE MONTAGEM">Pre Montagem Base</option>
						<option th:if="${ap.tipoProduto == 'MC'}" value="PRE MONTAGEM">Pre Montagem Leito</option>
						<option th:if="${ap.tipoProduto == 'MC'}" value="MONTAGEM BASE">Montagem Base</option>
						<option th:if="${ap.tipoProduto == 'MC'}" value="MONTAGEM ELETRICA">Montagem Eletrica</option>
						<option th:if="${ap.tipoProduto == 'MC'}" value="MONTAGEM LEITO">Montagem do Leito</option>
						<option th:if="${ap.tipoProduto == 'MC'}" value="AJUSTE INCLINACAO">Ajuste Inclinacao</option>
						<option th:if="${ap.tipoProduto == 'MC'}" value="ACESSORIOS">Acessorios</option>
						<option th:if="${ap.tipoProduto != 'MC'}" value="PINTURA">Pintura</option>
						
						<!-- Opcoes do foco -->
						<option th:if="${ap.tipoProduto == 'FL'}" value="ACESSORIOS">Pre Montagem</option>
						<option th:if="${ap.tipoProduto == 'FL'}" value="ACESSORIOS">Montagem Cupulas/Eletrica</option>
						<option th:if="${ap.tipoProduto == 'FL'}" value="ACESSORIOS">Montagem Modulos</option>
						
						<option th:if="${ap.tipoProduto != 'MC' && ap.tipoProduto != 'FL'}" value="CALDEIRARIA">Caldeiraria</option>
						<option th:if="${ap.tipoProduto != 'MC'}" value="ELETRICA">Eletrica</option>
						<option th:if="${ap.tipoProduto != 'MC' && ap.tipoProduto != 'FL'}" value="HIDRAULICA">Hidraulica</option>
						<option th:if="${ap.tipoProduto != 'MC' && ap.tipoProduto != 'FL'}" value="MONTAGEM ESTRUTURA">Montagem Estrutura</option>
						<option th:if="${ap.tipoProduto != 'MC' && ap.tipoProduto != 'FL'}" value="MONTAGEM PORTA INICIAL">Montagem Porta Inicial</option>
						<option th:if="${ap.tipoProduto != 'MC' && ap.tipoProduto != 'FL'}" value="MONTAGEM PORTA FINAL">Montagem Porta Final</option>
						
						
						<option th:if="${ap.tipoProduto != 'MC' && ap.tipoProduto != 'FL'}" value="RECEBIDO">Recebido</option>
						<option th:if="${ap.tipoProduto != 'MC' && ap.tipoProduto != 'FL'}" value="REVESTIMENTO">Revestimento</option>
						<option th:if="${ap.tipoProduto != 'MC' && ap.tipoProduto != 'FL'}" value="TESTE INICIAL">Teste Hidrostático</option>
						<option th:if="${true}" value="TESTE FINAL">Teste Final</option>
						<option th:if="${true}" value="EMBALAGEM">Embalagem</option>
						<option th:if="${true}" value="FINALIZADA">Finalizada</option>
					</select>
				</div>
				<div class="col-md-2">
					<label>Mes Producao</label>
					<select id="mesProducao" class="form-control memo-div" th:field="*{ap.mesProducao}">
						<option value=""></option>
						<option value="JANEIRO">Janeiro</option>
						<option value="FEVEREIRO">Fevereiro</option>
						<option value="MARCO">Marco</option>
						<option value="ABRIL">Abril</option>
						<option value="MAIO">Maio</option>
						<option value="JUNHO">Junho</option>
						<option value="JULHO">Julho</option>
						<option value="AGOSTO">Agosto</option>
						<option value="SETEMBRO">Setembro</option>
						<option value="OUTUBRO">Outubro</option>
						<option value="NOVEMBRO">Novembro</option>
						<option value="DEZEMBRO">Dezembro</option>
					</select>
				</div>
				<div class="col-2">
					<label>Tipo Produto</label>
					<select id="tipoProduto" class="form-control" th:field="*{ap.tipoProduto}">
						<option value=""></option>
						<option value="AC-EV">AUTOCLAVE - ELEVACAO VERTICAL</option>
						<option value="AC-BC">AUTOCLAVE - BRACO CONCENTRICO</option>
						<option value="AC-GP">AUTOCLAVE - GUARNIÇÃO PNEUMATICA</option>
						<option value="AC-100GP">AUTOCLAVE - 100GP</option>
						<option value="TD">TERMODESINFECTORA</option>
						<option value="MC">MESA CIRURGICA</option>
						<option value="FL">FOCO LUZ</option>
						<option value="GS">GABINETE DE SECAGEM</option>
					</select>
				</div>
				<div class="col-4">
					<label>Desc Opc</label>
					<div id="obs" class="form-control blocked memo-div" th:text="${ap.obs}"></div>
				</div>
<!-- 				<div class="col-1"> -->
<!-- 					<label>Prioridade</label> -->
<!-- 					<div><span class="form-control memo-div blocked" id="prioridade" th:text="${ap.prioridade}"></span></div> -->
<!-- 				</div> -->
				<img id="editOpsButton" alt="editButton" th:src="@{/img/editButton.jpg}"/>
			</div>
			<div class="row">
				<div class="col-12 col-md-12 ops-pedido">
					<div class="mini-jumbo">
						<h5 class="text-center">OPs Pedido</h5>
					</div>
					<div class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Pai</label>
						<div id="ops" class="form-control blocked op-div text-center" th:text="${ap.ops}"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Kit Cald</label>
						<div class="form-control blocked op-div text-center" th:text="${ap.chassi}"  id="chassi"></div>
					</div>
<!-- 					<div th:if="${ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center"> -->
<!-- 						<label>Camara</label> -->
<!-- 						<div class="form-control blocked op-div text-center" th:text="${ap.camara}"  id="camara"></div> -->
<!-- 					</div> -->
					<div th:if="${ap.tipoProduto == 'GS' || ap.tipoProduto == 'FL'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Estrutura</label>
						<div class="form-control blocked op-div text-center" th:text="${ap.estrutura}"  id="estrutura"></div>
					</div>
<!-- 					<div th:if="${ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center"> -->
<!-- 						<label>Gerador</label> -->
<!-- 						<div class="form-control blocked op-div text-center" th:text="${ap.gerador}"  id="gerador"></div> -->
<!-- 					</div> -->
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'TD'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Mont Porta</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.caldInt}"  id="caldInt"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'TD'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Sist Elev</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.sistElev}"  id="sistElev"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS' || ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-GP'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Porta</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.porta}"  id="porta"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Hidraulica</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.hidraulica}"  id="hidraulica"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-GP' && ap.tipoProduto != '100GP'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Pneumatica</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.opPneumatica}"  id="opPneumatica"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Pain Eletr</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.painelEletrico}"  id="painelEletrico"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS' || ap.tipoProduto == 'FL'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Eletrica</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.eletrica}"  id="eletrica"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Ajuste Revest</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.opAjusteRevestimento}"  id="opAjusteRevestimento"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Revestimento</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.opRevestimento}"  id="opRevestimento"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS' || ap.tipoProduto == 'FL'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Embalagem</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.opEmbalagem}"  id="opEmbalagem"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Base</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.base}"  id="base"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Estrutura Base</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.estruturaBase}"  id="estruturaBase"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>CJ Elevacao</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.cjElevacao}"  id="cjElevacao"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>CJ Suporte Longit.</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.suporteLongitudinal}"  id="suporteLongitudinal"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Dorso Movimento</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.dorsoMovimento}"  id="dorsoMovimento"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Leito Movimento</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.leitoMovimento}"  id="leitoMovimento"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Assento Mov.</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.assentoMovimento}"  id="assentoMovimento"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Dorso Atrosc.</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.dorsoAtroscopia}"  id="dorsoAtroscopia"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>CJ Tracao Tibia</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.tracaoTibia}"  id="tracaoTibia"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Tracao Memb Inf.</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.membrosInferiores}"  id="membrosInferiores"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Perneira Esquerda</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.perneiraEsquerda}"  id="perneiraEsquerda"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Perneira Direita</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.perneiraDireita}"  id="perneiraDireita"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Apoio Pelvico</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.apoioPelvico}"  id="apoioPelvico"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Cabeceira</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.cabeceira}"  id="cabeceira"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Complemento Dorso</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.complementoDorso}"  id="complementoDorso"></div>
					</div>
					
					
					
					
					
					<div th:if="${ap.tipoProduto == 'FL'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>OP Pintura</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.opPintura}"  id="opPintura"></div>
					</div>
					
					
					
					
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Apoio Lateral</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.apoioLateral}"  id="apoioLateral"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>Apoio de Ombro</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.apoioOmbro}"  id="apoioOmbro"></div>
					</div>
					
					
					
					
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto != 'MC'}" class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>SC Revestimento</label>
						<div  class="form-control blocked sc-div text-center" th:text="${ap.revestimento}"  id="revestimento"></div>
					</div>
					<div class="form-group col-sm-2 col-md-1 d-inline-block float-left text-center">
						<label>SC Embalagem</label>
						<div  class="form-control blocked sc-div text-center" th:text="${ap.embalagem}"  id="embalagem"></div>
					</div>
				</div>
				<div class="form-group col-12 col-md-12">
					<div class="mini-jumbo">
						<h5 class="text-center">Memorando</h5>
					</div>
					<div id="memorando" class="form-control blocked memo-div" th:utext="${ap.memorando}"></div>
				</div>
			</div>
<!-- 			<div class="row"> -->
<!-- 				<div class="form-group col-md-1 col-sm-12"> -->
<!-- 					<label>Previsão Entrega</label> -->
<!-- 					<div id="prevEntrega" class="form-control blocked memo-div" th:text="${ap.prevEntrega}"></div> -->
<!-- 				</div> -->
<!-- 			</div> -->
		</form>
<!-- 		<div class="row"> -->
<!-- 			<div class="mini-jumbo w-100"> -->
<!-- 				<h4 class="text-center">Faltas Pedido</h4> -->
<!-- 			</div> -->
<!-- 			<table id="tabelaFaltas" class="display table table-sm table-striped w-100"></table> -->
<!-- 		</div> -->
	</div>
</body>
</html>