<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Folha Rosto Pedido __${ap.numPedido}__')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/carteiraPCPDetalhesPedido.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/carteiraPCP.js}"></script>
<style>
	@media print{
		@page {
 			size: landscape;
		}
		
	    body {
			width: 297mm;
			height: 190mm;
		}
		nav {
			display: none;
		}
	}
	body {
		background-color: white!important;
	}
	
	*, input {
		font-weight: bold!important;
	}
</style>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12 mb-4">
				<h2 class="text-center font-size-4" th:text="${itemPedido.produto.codigo}">Folha de Rosto</h2>
			</div>
		</div>
		
		
		<div class="folha-rosto row">
			<div class="col-1">
				<p class="text-vertical font-weight-bold">NÃO RETIRAR DO EQUIPAMENTO</p>
			</div>
			<div class="col-10">
				<div class="row">
					<div class="col-12">
						<h4 class="text-center item-desc" th:text="${itemPedido.produto.descricao}"></h4>
						<h5 class="text-center mb-5" th:text="${itemPedido.xDesc}"></h5>
					</div>
					<div class="col-4 quadro">
						<label>PFI</label>
						<div class="texto">
							<p th:text="${ap.ops}"></p>
						</div>
					</div>
					<div class="col-4 quadro">
						<label>Nº SERIE</label>
						<div class="texto">
							<p th:text="${op.lote}"></p>
						</div>
					</div>
					<div class="col-4 quadro mb-2">
						<label>DATA ENTREGA</label>
						<div class="texto">
							<p th:text="${itemPedido.pedido.dataEntregaFormatada}"></p>
						</div>
					</div>
					<div class="col-4 quadro">
						<label>PEDIDO</label>
						<div class="texto">
							<p class="" th:text="${itemPedido.pedido.numero}"></p>
						</div>
					</div>
					<div class="col-8 quadro mb-3">
						<label>CLIENTE</label>
						<div class="texto">
							<p class="cliente" th:text="${itemPedido.cliente}"></p>
						</div>
					</div>
					<div class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Pai</label>
						<div id="ops" class="form-control blocked op-div text-center" th:text="${ap.ops}"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Kit Cald</label>
						<div class="form-control blocked op-div text-center" th:text="${ap.chassi}"  id="chassi"></div>
					</div>
<!-- 					<div th:if="${ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center"> -->
<!-- 						<label>Camara</label> -->
<!-- 						<div class="form-control blocked op-div text-center" th:text="${ap.camara}"  id="camara"></div> -->
<!-- 					</div> -->
<!-- 					<div th:if="${ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center"> -->
<!-- 						<label>Estrutura</label> -->
<!-- 						<div class="form-control blocked op-div text-center" th:text="${ap.estrutura}"  id="estrutura"></div> -->
<!-- 					</div> -->
<!-- 					<div th:if="${ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center"> -->
<!-- 						<label>Gerador</label> -->
<!-- 						<div class="form-control blocked op-div text-center" th:text="${ap.gerador}"  id="gerador"></div> -->
<!-- 					</div> -->
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'TD'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Mont Porta</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.caldInt}"  id="caldInt"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'TD'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Sist Elev</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.sistElev}"  id="sistElev"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Porta</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.porta}"  id="porta"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Hidraulica</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.hidraulica}"  id="hidraulica"></div>
					</div>
<!-- 					<div th:if="${ap.tipoProduto == 'AC-GP' && ap.tipoProduto != '100GP'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center"> -->
<!-- 						<label>OP Pneumatica</label> -->
<!-- 						<div  class="form-control blocked op-div text-center" th:text="${ap.opPneumatica}"  id="opPneumatica"></div> -->
<!-- 					</div> -->
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Pain Eletr</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.painelEletrico}"  id="painelEletrico"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Eletrica</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.eletrica}"  id="eletrica"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Ajuste Revest</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.opAjusteRevestimento}"  id="opAjusteRevestimento"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Revestimento</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.opRevestimento}"  id="opRevestimento"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto == 'AC-EV' || ap.tipoProduto == 'AC-BC' || ap.tipoProduto == 'AC-GP' || ap.tipoProduto == 'TD' || ap.tipoProduto == 'ALR' || ap.tipoProduto == 'GS'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>OP Embalagem</label>
						<div  class="form-control blocked op-div text-center" th:text="${ap.opEmbalagem}"  id="opEmbalagem"></div>
					</div>
					<div th:if="${ap.tipoProduto == 'AC-100GP' || ap.tipoProduto != 'MC'}" class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>SC Revestimento</label>
						<div  class="form-control blocked sc-div text-center" th:text="${ap.revestimento}"  id="revestimento"></div>
					</div>
					<div class="form-group col-sm-2 col-md-2 d-inline-block float-left text-center">
						<label>SC Embalagem</label>
						<div  class="form-control blocked sc-div text-center" th:text="${ap.embalagem}"  id="embalagem"></div>
					</div>
				</div>
			</div>
			<div class="col-1">
				<p class="text-vertical font-weight-bold">NÃO RETIRAR DO EQUIPAMENTO</p>
			</div>
		</div>
	</div>
</body>
</html>