<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Carteira Faturamento')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/carteiraFaturamento.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/carteiraFaturamento.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12 mb-4">
				<h2 class="text-center">Carteira Faturamento</h2>
			</div>
		</div>
		<a th:href="'#'" class="btn btn-warning disabled" id="adicionarPedido" sec:authorize="hasAuthority('ADMIN')">Adicionar Pedido</a>
		<div id="div-adicionar-pedido" class="d-none">
			<div class="form">
				<div class="form-group">
					<label>Num Pedido</label>
					<input class="form-control" id="numPedido" name="numPedido"/> 
				</div>
				<a href="#" id="btn-carregar-itens" class="btn btn-primary mb-3">Carregar Itens</a>
				<div class="form-checks">
				</div>
				<a href="#" class="btn btn-primary d-none" id="salvarPedido">Adicionar</a>
			</div>
		</div>
		
		<div class="menu-meses">
			<div th:each="mes,iter : ${meses}" class="mes">
				<span th:text="${mes}" th:data-value="${iter.index + 1}" class="num-mes"></span>
			</div>
		</div>

		<div class="mini-jumbo">
			<h4 class="text-center">Pedidos</h4>
		</div>
		<table id="tabelaPedidos" class="table table-sm table-striped cursor-alias">
		</table>
		
<!-- 		<div class="mini-jumbo"> -->
<!-- 			<h4 class="text-center">Empenhos</h4> -->
<!-- 		</div> -->
<!-- 		<div class="table-responsive"> -->
<!-- 			<table id="tabelaEmpenhos" class="table table-sm table-striped cursor-alias"></table> -->
<!-- 		</div> -->
		
		<div class="div-memo d-none">
			<div class="memo-body">
				<div class="botoes-menu">
					<span class="btn-fechar">fechar</span>
				</div>
				<div class="header">
					<span class="title">Status do Pedido</span>
				</div>
				<div class="div-group">
					<label class="label-text-localiz">Localização:</label>
					<input class="text-localiz form-control disable-enter" disabled></input>
				</div>
				<div class="div-group">
					<label class="label-text-localiz">Dt Expedição:</label>
					<div class="text-dt-exp form-control disable-enter" contenteditable="true"></div>
				</div>
				<label class="text-status-label">Status:</label>
				<div class="text-status" contenteditable="true">
				</div>
			</div>
		</div>
	</div>
	<script th:script="inline"></script>
</body>
</html>