<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Carteira PCP')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/carteiraPCP.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/carteiraPCP.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12 mb-4">
				<h2 class="text-center">Acompanhamento Carteira</h2>
			</div>
		</div>
		<a th:href="@{/carteira-pcp/adicionar-manual}" class="btn btn-warning">Adicionar Manual</a>
		<a th:href="@{/carteira-pcp?filtro=finalizados}" class="btn btn-success">Exibir Finalizados</a>
		<div class="table-responsive">
			<table class="display table table-compact table-striped table-sm" id="myTable"></table>
		</div>
	</div>
</body>
</html>