<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Check List Expedicao')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/checkListExpedicao.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/checkListExpedicao.js}"></script>

<style>
	@media print{
		@page {
 			size: portrait;
		}
		
	    body {
			width: 210mm;
			height: 297mm;
		}
		nav, .jumbotron {
			display: none;
		}
		body {
			background-color: white!important;
		}
		.checklist {
/* 			position: fixed; */
/* 			top: 2rem; */
/* 			margin-top: -5rem; */
/* 			margin-left: -7rem; */
		}
	}
</style>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Num Pedido</label>
                <input class="form-control" name="numPedido" id="numPedido" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>NF/Documento</label>
                <select class="form-control" name="documento" id="documento">
                	
                </select>
            </div>
            <button id="btnPreForm" class="btn btn-success">Avançar</button>
        </form>
    </div>
    
    
	<div th:if="${checkList != null}" class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2 class="text-center">Check List Expedicao</h2>
			</div>
		</div>
		<div class="container">
			<div class="checklist row w-100">
				<div class="logo col-2">
					<img class="img-fluid" th:src="@{/img/logo_ortosintese.jpg}"/>
				</div>
				<div class="header col-8">
					<h2>Check List de Expedicao</h2>
				</div>
				<div class="col-2 data-revisao pt-3 pr-2" style="font-size: .9rem;">
					<span class="emissao float-left d-block">Emissao: </span><span id="data-emissao" class="data-emissao float-right d-inline-block"></span>
					<span class="revisao float-left d-block">Revisão: </span><span class="numero-revisao float-right d-inline-block">00</span>
				</div>
				<div class="col-12 detalhes-pedido">
					<div class="cliente">
						<span class="font-weight-bold">NOME DO CLIENTE: </span>
						<span th:text="${checkList.cliente}"></span>
					</div>
					<div class="produto">
						<span class="font-weight-bold">Pedido: </span>
						<span th:text="${checkList.pedido}"></span>
					</div>
					<div class="voltagem">
						<span class="font-weight-bold">NF: </span>
						<span th:text="${checkList.documento}"></span>
					</div>
				</div>
				<div class="col-12 composicao-header">
					<h5 class="text-center">Composição do Pedido</h5>
				</div>
				<div class="col-12 composicao-table">
					<table id="myTable" class="table table-sm w-100 table-bordered">
						<thead>
							<tr>
								<th>Codigo</th>
								<th>Descricao</th>
								<th>Desc Alx</th>
								<th>Lote</th>
								<th>Qtd</th>
								<th>Visto</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="itemPedido : ${checkList.itensPedidoVenda}">
								<td class="nowrap" th:text="${itemPedido.produto.codigo}"></td>
								<td class="" th:text="${itemPedido.produto.descricao}"></td>
								<td class="text-break" th:text="${itemPedido.xDesc}"></td>
								<td th:text="${itemPedido.lote}"></td>
								<td th:text="${itemPedido.qtdVen}" class="text-center"></td>
								<td class="text-center">
<!-- 									<input class="form-check-input text-center" type="checkbox"> -->
								</td>
							</tr>
						</tbody>
					</table>
				</div><!-- End of composicao table -->
				<div class="col-12 dados-retirada">
					<div class="liberado-por">
						<span class="font-weight-bold">Liberado Por: </span>					
					</div>
					<div class="retirado-por">
						<span class="font-weight-bold">Conferido Por: </span>
					</div>
				</div>
				<div class="col-12 codigoFormulario">
					<span class="numFormulario">F1 15-08</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>