<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Custos')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/custos.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/custos.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="jumbotron">
		<h2 class="text-center">Custos</h2>
	</div>
	<div class="container-fluid">
		<table class="display table table-compact table-striped table-sm" id="myTable" style="font-size: 1rem;">
				<tfoot>
					<tr>
						<th>Produto</th>
						<th>Descricao</th>
						<th>Armazem</th>
						<th>Custo</th>
						<th>Preco Venda</th>
						<th>Mkup</th>
					</tr>
				</tfoot>
		</table>
	</div>
</body>
</html>