<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relacao de Faturamento')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/faturamento.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/faturamento.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Produto</label>
                <input class="form-control" name="produto" id="produto" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Descricao</label>
                <input class="form-control" name="descricao" id="descricao"/>
            </div>
            <div class="form-group">
            	<label>Unidade</label>
            	<select name="unidade" class="form-control">
            		<option value=""></option>
            		<option value="ORTOPEDIA">Ortopedia</option>
            		<option value="EQUIPAMENTOS">Equipamentos</option>
            	</select>
            </div>
            <div class="form-group">
                <label>Lote</label>
                <input class="form-control" name="lote" id="lote" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Codigo Cliente</label>
                <input class="form-control" name="codigoCliente" id="codigoCliente"/>
            </div>
            <div class="form-group">
                <label>Nome Cliente</label>
                <input class="form-control" name="nomeCliente" id="nomeCLiente"/>
            </div>
            <div class="form-group">
                <label>Natureza Cliente</label>
                <input class="form-control" name="naturezaCliente" id="naturezaCliente"/>
            </div>
            <div class="form-group">
                <label>Pedido De</label>
                <input class="form-control" name=pedidoDe id="pedidoDe"/>
            </div>
            <div class="form-group">
                <label>Pedido Ate</label>
                <input class="form-control" name="pedidoAte" id="pedidoAte"/>
            </div>
            <div class="form-group">
                <label>Da NF</label>
                <input class="form-control" name=nfInicial id="nfInicial"/>
            </div>
            <div class="form-group">
                <label>Ate NF</label>
                <input class="form-control" name="nfFinal" id="nfFinal"/>
            </div>
            <div class="form-group">
                <label>Data de</label>
                <input class="form-control date-picker" name="dataDe" id="dataDe" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Data ate</label>
                <input class="form-control date-picker" name="dataAte" id="dataAte" autocomplete="off"/>
            </div>
            <button id="btnPreForm" class="btn btn-success">Processar</button>
        </form>
    </div>
    
    
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2 class="text-center">Relação de Itens Faturados</h2>
			</div>
		</div>
		<div class="table-responsive">
			<table class="display table table-compact table-striped table-sm" id="myTable">
			</table>
		</div>
	</div>
</body>
</html>