<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Fluxo Processo')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/fluxoProcesso.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/fluxoProcesso.js}"></script>
<style>
	.breadcrumb { 
	    list-style: none;
	    overflow: hidden;
	    font: 18px Helvetica, Arial, Sans-Serif;
	    margin: 40px;
	    padding: 0;
	    overflow-x: auto;
	}
	
	.breadcrumb a { 
	  float: left; 
	}
	
	.breadcrumb a:first-child {
		padding-left: 10px;
	}

	.breadcrumb a {
	   color: white;
	   text-decoration: none;
	   padding: 10px 0 10px 55px;
	   background: gray;
	   background: hsla(34,85%,35%,1);
	   position: relative;
	   display: block;
	   float: left;
	}
	
	.breadcrumb a::after { 
	    content: " ";
	    display: block;
	    width: 0;
	    height: 0;
	    border-top: 50px solid transparent;
	    border-bottom: 50px solid transparent;
	    border-left: 30px solid hsla(34,85%,35%,1);
	    position: absolute;
	    top: 50%;
	    margin-top: -50px;
	    left: 100%;
	    z-index: 2;
	}
	
	.breadcrumb a::before { 
	    content: " ";
	    display: block;
	    width: 0;
	    height: 0;
	    border-top: 50px solid transparent;
	    border-bottom: 50px solid transparent;
	    border-left: 30px solid white;
	    position: absolute;
	    top: 50%;
	    margin-top: -50px;
	    margin-left: 1px;
	    left: 100%;
	    z-index: 1;
	}
	
	.breadcrumb a:hover { 
	  background: hsla(34, 85%, 25%, 1); 
	}
	.breadcrumb a:hover:after { 
	  border-left-color: hsla(34, 85%, 25%, 1) !important; 
	}
</style>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<h2 class="text-center mt-5">Fluxo Processo</h2>
		<div class="breadcrumb">
			<a href="#">PFI GERADO</a>
			<a href="#">Separação Material</a>
			<a href="#">Enviar ao Prestador</a>
			<a href="#">Entrada Caldeiraria</a>
			<a href="#">Montagem Pintura</a>
			<a href="#">Montagem Hidráulica</a>
			<a href="#">Montagem Elétrica</a>
			<a href="#">Teste Final</a>
			<a href="#">Teste Final</a>
			<a href="#">Chaparia</a>
			<a href="#">Embalagem</a>
		</div>
		<div class="breadcrumb">
			<a href="#">Teste Final</a>
			<a href="#">Teste Final</a>
			<a href="#">Chaparia</a>
			<a href="#">Embalagem</a>
			<a href="#">Entrega</a>
		</div>
	</div>
</body>
</html>