<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relacao de Entradas de Notas Fiscais')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/followUpOp.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/followUpOp.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<h2 class="text-center">Follow Up OPs</h2>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Num OPs</label>
                <input class="form-control" name="ordensProducao" id=ordensProducao autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Produtos</label>
                <input class="form-control" name="produtos" id=produtos autofocus="autofocus"/>
            </div>
            <button id="btnPreForm" class="btn btn-success">Processar</button>
        </form>
    </div>
	<div class="container-fluid">
		<table class="display table table-compact table-striped table-sm" id="myTable">
		</table>
	</div>
</body>
</html>