<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Follow Up Produtos')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/followUpProduto.css}">
<script th:src="@{/js/followUpProdutoAcompanhamento.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="jumbotron">
			<h2 class="text-center">Acompanhamento produto</h2>
		</div>
		<div class="buttons mt-2 mb-2">
			<a class="btn btn-primary disabled" id="btn-salvar" href="#">Salvar</a>
			<a class="btn btn-danger" th:href="'/follow-up-produto/remover?produto=' + ${dp.produto.codigo}">Remover</a>
		</div>
		<table class="display table d-large">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Descricao</th>
					<th>Um</th>
					<th>Cmm</th>
					<th>Saldo Estoque</th>
					<th>Qtd Endereçar</th>
					<th>Qtd Inspeção</th>
					<th>Qtd PV</th>
					<th>Qtd Empenhada</th>
					<th>Qtd OP</th>
					<th>Qtd SC</th>
					<th>Qtd PC</th>
					<th>Saldo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${dp.produto.codigo}" id="codigo"/></td>
					<td th:text="${dp.produto.descricao}" id="descricao"></td>
					<td th:text="${dp.um}"></td>
					<td th:text="${dp.cmm}"></td>
					<td th:text="${dp.qtdEstoque}"></td>
					<td th:text="${dp.qtdEnderecar}"></td>
					<td th:text="${dp.qtdInspecao}"></td>
					<td th:text="${dp.qtdPV}"></td>
					<td><a th:href="@{/relacao-empenhos?codigoProduto=__${dp.produto.codigo}__&lote=}" th:text="${dp.qtdEmpenhada}"></a></td>
					<td><a th:href="@{/relacao-ops?codigoProduto=__${dp.produto.codigo}__}" th:text="${dp.qtdOP}"></a></td>
					<td><a th:href="@{/relacao-scs?abertos=true&codigoProduto=__${dp.produto.codigo}__}" th:text="${dp.qtdSC}"></a></td>
					<td><a th:href="@{/relacao-pcs?codigoProduto=__${dp.produto.codigo}__}" th:text="${dp.qtdPC}"></a></td>
					<td th:text="${dp.saldo}"></td>
				</tr>
			</tbody>
		</table>
		
		<div class="memo-div">
			<div class="mini-jumbo">
				<h5 class="text-center">Memorando</h5>
			</div>
			<div class="memorando" id="memorando" th:utext="${fup.memorando}" contenteditable="true"></div>
		</div>
	</div>
</body>
</html>