<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Follow Up Produtos')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/followUpProduto.css}">
<script th:src="@{/js/followUpProduto.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div id="main" class="container-fluid">
		<div class="menu-botoes mt-3">
			<a id="btn-adicionar" href="#" class="btn btn-primary">Adicionar</a>
		</div>
		<table id="myTable" class="display table table-compact table-striped table-sm"></table>
	</div>
	<div class="adicionar-produto d-none">
		<form class="form" th:action="@{/follow-up-produto/adicionar}" method="POST" th:object="${fup}">
			<div class="form-group">
				<label>Codigo</label>
				<input id="codigoProduto" name="codigoProduto" class="form-control" type="text">
			</div>
			<div class="form-group">
				<div class="mini-jumbo">
					<h5 class="text-center">Memorando</h5>
				</div>
				<div id="memorando" class="form-control" contenteditable="true"></div>
			</div>
			<button type="submit" class="btn btn-primary">Adicionar</button>
			<a id="btn-cancelar" class="btn btn-danger" href="#">Cancelar</a>
		</form>
	</div>
</body>
</html>