<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Historico do Produto')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/historicoProduto.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/historicoProduto.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<input class="d-none" name="codigoProduto" id="codigoProduto" th:value="${codigoProduto}"/>
	<input class="d-none" name="target" id="target" th:value="${target}"/>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Codigo Produto</label>
                <input class="form-control" name="codigoProduto" id="codigoProduto" autofocus="autofocus"/>
            </div>
            <button id="btnPreForm" class="btn btn-success">Processar</button>
        </form>
    </div>
    <div class="jumbotron">
		<h2 class="text-center">Histórico do Produto</h2>
	</div>
	<div class="container-fluid">
		<table class="display table d-large" th:if="${target != 'blank'}">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Descricao</th>
					<th>Um</th>
					<th>Cmm</th>
					<th>Saldo Estoque</th>
					<th>Qtd Endereçar</th>
					<th>Qtd Inspeção</th>
					<th>Qtd PV</th>
					<th>Qtd Empenhada</th>
					<th>Qtd OP</th>
					<th>Qtd SC</th>
					<th>Qtd PC</th>
					<th>Saldo</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ><input th:value="${detalhesProduto.produto.codigo}" autofocus="autofocus" id="codigo" onclick="this.select()"/></td>
					<td th:text="${detalhesProduto.produto.descricao}"></td>
					<td th:text="${detalhesProduto.um}"></td>
					<td th:text="${detalhesProduto.cmm}"></td>
					<td id="todosEstoques" class="position-relative"><span class="hoverPopup" th:text="${detalhesProduto.qtdEstoque + ' (' + detalhesProduto.qtdTodosEstoques + ')'}"></span>
						<div class="popup d-none">
							<div class="content table-responsive">
								<table class="table table-sm table-hover table-bordered">
									<thead>
										<tr>
											<th>Armazem</th>
											<th>Quantidade</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="linha : ${estoques.data}">
											<td th:text="${linha[0]}">01</td>
											<td th:text="${linha[1]}">500</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</td>
					<td th:text="${detalhesProduto.qtdEnderecar}"></td>
					<td th:text="${detalhesProduto.qtdInspecao}"></td>
					<td th:text="${detalhesProduto.qtdPV}"></td>
					<td><a th:href="@{/relacao-empenhos?codigoProduto=__${detalhesProduto.produto.codigo}__&lote=}" th:text="${detalhesProduto.qtdEmpenhada}"></a></td>
					<td><a th:href="@{/relacao-ops?codigoProduto=__${detalhesProduto.produto.codigo}__&situacao=abertas}" th:text="${detalhesProduto.qtdOP}"></a></td>
					<td><a th:href="@{/relacao-scs?abertos=true&codigoProduto=__${detalhesProduto.produto.codigo}__}" th:text="${detalhesProduto.qtdSC}"></a></td>
					<td><a th:href="@{/relacao-pcs?codigoProduto=__${detalhesProduto.produto.codigo}__}" th:text="${detalhesProduto.qtdPC}"></a></td>
					<td th:text="${detalhesProduto.saldo}"></td>
				</tr>
			</tbody>
		</table>
		
		<table class="table table-sm d-sm w-100 ml-auto mr-auto" th:if="${target != 'blank'}">
			<tr>
				<th>Codigo</th>
				<td th:text="${detalhesProduto.produto.codigo}"></td>
			</tr>
			<tr>
				<th>Descricao</th>
				<td th:text="${detalhesProduto.produto.descricao}"></td>
			</tr>
			<tr>
				<th>UM</th>
				<td th:text="${detalhesProduto.um}"></td>
			</tr>
			<tr>
				<th>CMM</th>
				<td th:text="${detalhesProduto.cmm}"></td>
			</tr>
			<tr>
				<th>Qtd Estoque</th>
				<td th:text="${detalhesProduto.qtdEstoque}"></td>
			</tr>
			<tr>
				<th>Qtd Enderecar</th>
				<td th:text="${detalhesProduto.qtdEnderecar}"></td>
			</tr>
			<tr>
				<th>Qtd Inspecao</th>
				<td th:text="${detalhesProduto.qtdInspecao}"></td>
			</tr>
			<tr>
				<th>Qtd PV</th>
				<td th:text="${detalhesProduto.qtdPV}"></td>
			</tr>
			<tr>
				<th>Qtd Empenhada</th>
				<td th:text="${detalhesProduto.qtdEmpenhada}"></td>
			</tr>
			<tr>
				<th>Qtd OP</th>
				<td th:text="${detalhesProduto.qtdOP}"></td>
			</tr>
			<tr>
				<th>Qtd SC</th>
				<td th:text="${detalhesProduto.qtdSC}"></td>
			</tr>
			<tr>
				<th>Qtd PC</th>
				<td th:text="${detalhesProduto.qtdPC}"></td>
			</tr>
		</table>
		
		
		<div class="row">
			<div class="col-xl-4">
				<div class="mini-jumbo">
					<h5 class="text-center mt-2">Ordens Produção</h5>
				</div>
				<table class="display table table-striped table-sm responsive" id="tableUltimasOps" width="100%">
				</table>
			</div>
			<div class="col-xl-4">
				<div class="mini-jumbo">
					<h5 class="text-center mt-2">Pedidos Compra</h5>
				</div>
				<table class="display table table-striped table-sm responsive" id="tableUltimosPcs" width="100%">
				</table>
			</div>
			<div class="col-xl-4">
				<div class="mini-jumbo">
					<h5 class="text-center mt-2">Onde e Usado</h5>
				</div>
				<table class="display table table-striped table-sm responsive" id="tableOndeEUsado" width="100%">
				</table>
			</div>
		</div>
		
		<div class="row" th:if="${detalhesProduto != null}">
			<div class="col-12 div-desenho text-center">
				<div class="mini-jumbo  mt-4">
					<h5 class="text-center">Desenho</h5>
				</div>
			    <embed class="mt-4" th:src="@{/pdf/__${detalhesProduto.desenho}__}" height="100%" width="50%"/>
			</div>
		</div>
	</div>
</body>
</html>