<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Home')"></object>
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
<!-- 	<h2 class="text-center mt-5">Página Inicial</h2> -->
	<div sec:authorize="!isAuthenticated()" class="container">
		<form class="form-signin text-center  ml-auto mr-auto mt-5" method="post" th:action="@{/login}" style="max-width: 330px">
	      	<h2 class="form-signin-heading">Por favor, faça login</h2>
	      	<p>
	        	<label for="username" class="sr-only">Username</label>
		        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="required" autofocus="autofocus">
	      	</p>
	      	<p>
	        	<label for="password" class="sr-only">Password</label>
	        	<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
	      	</p>
	      	<p class="text-left">
	        	<input type="checkbox" name="remember-me" id="remember-me">
	        	<label for="remember-me" class="label">Manter-se Conectado</label>
	      	</p>
			<input name="_csrf" type="hidden" value="e406109e-1c9d-4597-8172-bf8708b6abb2">
	      	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
<!-- 	      	<a th:href="@{/area-cliente}">Cliente? Clique aqui para redirecionar!</a> -->
      	</form>
	</div>
	<embed sec:authorize="isAuthenticated()" src="http://www.ortosintese.com.br" class="portal-ortosintese">
</body>
</html>