<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Indicadores NFs Entrada')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadoresNfsEntrada.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
<script th:src="@{/js/indicadoresNfsEntrada.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
<!-- 	<div id="main" class=""> -->
<!-- 		<div class="row indicadores"> -->
<!-- 			<div class="Ortopedia col-6"> -->
<!-- 				<div class="mini-jumbo text-center"> -->
<!-- 					<h5>Ortopedia</h5> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="Equipamentos col-6"> -->
<!-- 				<div class="mini-jumbo text-center"> -->
<!-- 					<h5>Equipamentos</h5> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->


	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(4)"></div>
			<div id="indicadores">
				<div class="row">
					<div class="jumbotron col-12">
						<h2 class="text-center col-12">Indicadores NFs Entrada</h2>
					</div>
					<div class="Ortopedia col-6 pr-0 pl-0">
						<div class="mini-jumbo text-center">
							<h4>Ortopedia</h4>
						</div>
						<div class="col-12">
							<canvas id="nfsEntradaMensalOrtopedia" class=""></canvas>
						</div>
					</div>
					<div class="Equipamentos col-6 pr-0 pl-0">
						<div class="mini-jumbo text-center">
							<h4>Equipamentos</h4>
						</div>
						<div class="col-12">
							<canvas id="nfsEntradaMensalEquipamentos" class="drilldown"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>