<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Kardex do Produto')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/kardexProduto.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/kardexProduto.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Produto De</label>
                <input class="form-control" name="produtoDe" id="produtoDe" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Produto Ate</label>
                <input class="form-control" name="produtoAte" id="produtoAte"/>
            </div>
            <div class="form-group">
                <label>Lote De</label>
                <input class="form-control" name="loteDe" id="loteDe"/>
            </div>
            <div class="form-group">
                <label>Lote Ate</label>
                <input class="form-control" name="loteAte" id="loteAte"/>
            </div>
            <div class="form-group">
                <label>Armazem De</label>
                <input class="form-control" name="armazemDe" id="armazemDe"/>
            </div>
            <div class="form-group">
                <label>Armazem Ate</label>
                <input class="form-control" name="armazemAte" id="armazemAte"/>
            </div>
            <div class="form-group">
                <label>Data Inicial</label>
                <input class="form-control date-picker" name="dataInicial" id="dataInicial" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Data Final</label>
                <input class="form-control date-picker" name="dataFinal" id="dataFinal" autocomplete="off"/>
            </div>
            <button id="btnPreForm" class="d-block btn btn-success">Processar</button>
            <a class="d-block mb-3 btn btn-danger" th:if="${opsFilhas == true}" th:href="@{/relacao-ops?opsFilhas=true}">Ops Filhas</a>
        </form>
    </div>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2 class="text-center">Kardex Produto</h2>
			</div>
		</div>
		<table class="display table table-compact table-striped table-sm" id="myTable" style="font-size: 1rem;">
			<tfoot>
				<tr>
					<th>Produto</th>
					<th>Descricao</th>
					<th>E/S</th>
					<th>Tipo Mov</th>
					<th></th>
					<th>Armazem</th>
					<th>Lote</th>
					<th>Endereco</th>
					<th>Emissao</th>
					<th>Doc</th>
					<th>Serie</th>
					<th>OP</th>
				</tr>
			</tfoot>
		</table>
	</div>
</body>
</html>