<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Home')"></object>
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="jumbotron">
		<h2 class="text-center">Novo Programa Vendas</h2>
	</div>
	
	<div class="container-fluid">
		<form class="form mt-3 w-25 ml-auto mr-auto" th:action="@{/programa-vendas/novo}" method="POST" th:object="${programaVendas}">
			<input type="hidden" class="form-control d-inline-block" placeholder="Id" th:field="*{id}">
			<div class="form-group">
				<label>Cliente</label>
				<select class="form-control" th:field="*{cliente}">
					<option value=""></option>
					<option th:each="cliente : ${clientes}" th:text="${cliente.nome + ' - ' + cliente.nReduz}" th:value="${cliente.codigo}"></option>
				</select>
			</div>
			<div class="form-group">
				<label>Nome Programa</label>
				<input class="form-control d-inline-block" placeholder="Nome Programa" th:field="*{nome}">
			</div>
			<div class="form-group">
				<label>Data Inicio</label>
				<input class="form-control d-inline-block date-picker" placeholder="Data Inicio" th:field="*{dataInicio}" autocomplete="off">
			</div>
			<div class="form-group">
				<label>Data Limite</label>
				<input class="form-control d-inline-block date-picker" placeholder="Data Limite" th:field="*{dataLimite}" autocomplete="off">
			</div>
			<div class="form-group">
				<label>Produtos</label>
				<input class="form-control d-inline-block" placeholder="Produtos" th:field="*{produtos}">
			</div>
			<div class="form-group">
				<label>Quantidade</label>
				<input class="form-control d-inline-block" placeholder="Quantidade" th:field="*{quantidade}">
			</div>
			<button type="submit" class="btn btn-primary mr-auto">Salvar</button>
		</form>
	</div>
</body>
</html>