<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Home')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/programaVendas.css}">
<script th:src="@{/js/programaVendas.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="jumbotron">
		<h2 class="text-center">Programa Vendas</h2>
	</div>
	<div class="container-fluid">
		<a th:href="@{/programa-vendas/novo}" class="btn btn-primary mt-3 mb-3">Novo Programa</a>
		
		<table class="table table-sm table-striped table-hover" id="myTable">
			<thead>
				<tr>
					<th>Num</th>
					<th>Cliente</th>
					<th>Nome Programa</th>
					<th>Conclusão</th>
					<th>Data Inicio</th>
					<th>Data Limite</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pv : ${programasVendas}">
					<td th:text="${pv.id}" class="id"></td>
					<td th:text="${pv.cliente + ' - ' +  pv.nomeCliente}"></td>
					<td th:text="${pv.nome}"></td>
					<td th:text="${pv.conclusao + '%'}"></td>
					<td th:text="${pv.dataInicio}"></td>
					<td th:text="${pv.dataLimite}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>