<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relacao de Entradas de Notas Fiscais')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/relacaoEntradas.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/relacaoEntradas.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2 class="text-center">Notas Fiscais de Entrada</h2>
			</div>
		</div>
	</div>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Do Produto</label>
                <input class="form-control" name="produtoDe" id="produtoDe" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Ate o Produto</label>
                <input class="form-control" name="produtoAte" id="produtoAte"/>
            </div>
            <div class="form-group">
                <label>Descricao</label>
                <input class="form-control" name="descricao" id="descricao"/>
            </div>
            <div class="form-group">
                <label>Do lote</label>
                <input class="form-control" name="loteDe" id="loteDe"/>
            </div>
            <div class="form-group">
                <label>Ate o lote</label>
                <input class="form-control" name="loteAte" id="loteAte"/>
            </div>
            <div class="form-group">
                <label>Armazem</label>
                <input class="form-control" name="armazem" id="armazem"/>
            </div>
            <div class="form-group">
                <label>Pedido Compra</label>
                <input class="form-control" name="numPedido" id="numPedido"/>
            </div>
            <div class="form-group">
                <label>Nota Fiscal</label>
                <input class="form-control" name="nf" id="nf"/>
            </div>
            <div class="form-group">
                <label>Codigo Fornecedor</label>
                <input class="form-control" name="codigoFornecedor" id="codigoFornecedor"/>
            </div>
            <div class="form-group">
                <label>Nome Fornecedor</label>
                <input class="form-control" name="nomeFornecedor" id="nomeFornecedor"/>
            </div>
            <div class="form-group">
                <label>Entrada de</label>
                <input class="form-control" name="entradaDe" id="entradaDe" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Entrada ate</label>
                <input class="form-control" name="entradaAte" id="entradaAte" autocomplete="off"/>
            </div>
            <button id="btnPreForm" class="btn btn-success">Processar</button>
        </form>
    </div>
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="display table table-compact table-striped table-sm" id="myTable">
			</table>
		</div>
	</div>
</body>
</html>