<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relacao de Orcamentos')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/relacaoOrcamentos.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/relacaoOrcamentos.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
<!--         <form class="form"> -->
<!--             <h5 class="text-center">Pre Formulario</h5> -->
<!--             <div class="form-group"> -->
<!--                 <label>Numero OP</label> -->
<!--                 <input class="form-control" name="numero" id="numero" autofocus="autofocus"/> -->
<!--             </div> -->
<!--             <button id="btnPreForm" class="d-block btn btn-success">Processar</button> -->
<!--             <a class="d-block mb-3 btn btn-danger" th:if="${opsFilhas == true}" th:href="@{/relacao-ops?opsFilhas=true}">Ops Filhas</a> -->
<!--         </form> -->
    </div>
    <div class="jumbotron">
		<h2 class="text-center">Relacao de Orcamentos</h2>
	</div>
	<div class="container-fluid">
		<table class="display table table-compact table-striped table-sm" id="myTable" style="font-size: 1rem;">
		</table>
	</div>
</body>
</html>