<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relação de Estoques')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/relacaoEstoques.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Relação de Estoques</h5>
            <div class="form-group">
                <label>Produto</label>
                <input class="form-control" name="produto" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Armazém</label>
                <input class="form-control" name="local"/>
            </div>
            <div class="form-group">
                <label>Lote</label>
                <input class="form-control" name="lote"/>
            </div>
            <div class="form-group">
                <label>Data Inicial</label>
                <input class="form-control" name="dataDe"/>
            </div>
            <div class="form-group">
                <label>Data Final</label>
                <input class="form-control" name="dataAte"/>
            </div>
            <div class="form-group">
                <label>Meses em Estoque</label>
                <input class="form-control" name="estoqueMeses"/>
            </div>
            <button id="btnPreForm" class="d-block btn btn-success">Processar</button>
		</form>
    </div>
    <div class="jumbotron">
		<h2 class="text-center">Relação de Estoques</h2>
	</div>
	<div class="container-fluid">
		<div class="spinner mt-5"></div>
		<table class="display table table-compact table-striped table-sm" id="myTable" style="font-size: 1rem;">
		</table>
	</div>
</body>
</html>