<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relacao de Empenhos')"></object>
<meta charset="UTF-8"/>
<!-- <link rel="stylesheet" th:href="@{/css/relacaoEmpenhos.css}"/> -->
<script id="scriptRelacaoEntradas" th:src="@{/js/relacaoEmpenhos.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Codigo Produto</label>
                <input class="form-control" name="codigoProduto" id="codigoProduto" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Pedidos Vendas</label>
                <input class="form-control" name="pvs" id="pv"/>
            </div>
            <div class="form-group">
                <label>OP</label>
                <input class="form-control" name="op" id="op"/>
            </div>
            <div class="form-group">
                <label>Lote</label>
                <input class="form-control" name="lote" id="lote"/>
            </div>
            <div class="form-group">
                <label>Armazem</label>
                <input class="form-control" name="armazem" id="armazem"/>
            </div>
            <div class="form-group">
                <label>Emissao</label>
                <input class="form-control" name="emissao" id="emissao"/>
            </div>
            <div class="form-group">
                <label>Usuario</label>
                <input class="form-control" name="usuario" id="usuario"/>
            </div>
            <button id="btnPreForm" class="btn btn-success">Processar</button>
        </form>
    </div>
    
    <div class="jumbotron">
		<h2 class="text-center">Relacao de Empenhos</h2>
	</div>
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="display table table-compact table-striped table-sm" id="myTable">
			</table>
		</div>
	</div>
</body>
</html>