<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relacao de Ops')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/relacaoOps.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/relacaoOps.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Numero OP</label>
                <input class="form-control" name="numero" id="numero" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Sequencia</label>
                <input class="form-control" name="sequencia" id="sequencia" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Lote</label>
                <input class="form-control" name="lote" id="lote" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Codigo Produto</label>
                <input class="form-control" name="codigoProduto" id="codigoProduto" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Descricao</label>
                <input class="form-control" name="descricaoProduto" id="descricaoProduto" />
            </div>
            <div class="form-group">
                <label>Emissao De</label>
                <input class="form-control date-picker" name="emissaoDe" id="emissaoDe" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Emissao Ate</label>
                <input class="form-control date-picker" name="emissaoAte" id="emissaoAte" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Armazem</label>
                <input class="form-control" name="armazem" id="armazem" />
            </div>
            <div class="form-group">
            	<label>Status</label>
            	<input class="form-control" name="status" id="emissao"/>
            </div>
            <div class="form-group">
                <label>Usuario</label>
                <input class="form-control" name="usuario" id="usuario" />
            </div>
            <div class="form-group">
                <label>Situação</label>
                <select class="form-control" name="situacao" id="situacao">
                	<option value="abertas">Em Aberto</option>
                	<option value="todas">Todas as OPs</option>
                </select>
            </div>
            <button id="btnPreForm" class="d-block btn btn-success">Processar</button>
            <a class="d-block mb-3 btn btn-danger" th:if="${opsFilhas == true}" th:href="@{/relacao-ops?opsFilhas=true}">Ops Filhas</a>
        </form>
    </div>
    <div class="jumbotron">
		<h2 class="text-center">Relacao de Ops</h2>
	</div>
	<div class="container-fluid">
		<table class="display table table-compact table-striped table-sm" id="myTable" style="font-size: 1rem;">
			<tfoot>
				<tr>
					<th>OP</th>
					<th>Numero</th>
					<th>Emissao</th>
					<th>Status</th>
					<th>Item</th>
					<th>Sequencia</th>
					<th>Armazem</th>
					<th>Produto</th>
					<th>Descricao</th>
					<th></th>
					<th></th>
					<th>Lote</th>
					<th>Usuario</th>
					<th>Obs</th>
					<th>Impressoes</th>
				</tr>
			</tfoot>
		</table>
	</div>
</body>
</html>