<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relação de Baixas')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/relacaoBaixas.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/relacaoBaixas.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Data De</label>
                <input class="form-control date-picker" name="dataDe" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Data Ate</label>
                <input class="form-control date-picker" name="dataAte" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Nome Fornecedor</label>
                <input class="form-control" name="nomeFornecedor"/>
            </div>
            <div class="form-group">
                <label>Data Digitação De</label>
                <input class="form-control date-picker" name="dataDigitacaoDe" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Data Digitação Ate</label>
                <input class="form-control date-picker" name="dataDigitacaoAte" autocomplete="off"/>
            </div>
            <button id="btnPreForm" class="d-block btn btn-success">Processar</button>
        </form>
    </div>
    <div class="jumbotron">
		<h2 class="text-center">Relação de Baixas</h2>
	</div>
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="display table table-compact table-striped table-sm" id="myTable" style="font-size: 1rem;">
			</table>
		</div>
		<div class="spinner mt-5"></div>
	</div>
</body>
</html>