<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relacao de Solicitações de Compra')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/relacaoScs.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/relacaoScs.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Num SC</label>
                <input class="form-control" name="numero" id="numero" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Codigo Produto</label>
                <input class="form-control" name="codigoProduto" id="codigoProduto" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Solicitante</label>
                <input class="form-control" name="solicitante" id="solicitante" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Emissao</label>
                <input class="form-control date-picker" name="emissao" id="emissao" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Codigo Fornecedor</label>
                <input class="form-control" name="codigoFornecedor" id="codigoFornecedor" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Fornecedor</label>
                <input class="form-control" name="fornecedor" id="fornecedor" autofocus="autofocus"/>
            </div>
            <div class="form-group">
            	<label>Situação</label>
            	<select class="form-control" name="abertos" id="abertos">
            		<option value="true">Abertos</option>
            		<option value="false">Todos</option>
            	</select>
            </div>
            <button id="btnPreForm" class="btn btn-success">Processar</button>
        </form>
    </div>
    
    
    <div class="jumbotron">
		<h2 class="text-center">Relacao de Solicitações de Compra</h2>
	</div>
	<div class="container-fluid">
		<table class="display table table-compact table-striped table-sm" id="myTable">
		</table>
	</div>
</body>
</html>