<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Saldo Por Endereco')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/saldoPorEndereco.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/saldoPorEndereco.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Produto</label>
                <input class="form-control" name="produto" id="produto" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Descricao Contem</label>
                <input class="form-control" name="descricao" id="descricao"/>
            </div>
            <div class="form-group">
                <label>Lote</label>
                <input class="form-control" name="lote" id="lote"/>
            </div>
            <div class="form-group">
                <label>Armazem</label>
                <input class="form-control" name="armazem" id="armazem"/>
            </div>
            <button id="btnPreForm" class="btn btn-success">Processar</button>
        </form>
    </div>
    <div class="container-fluid">
    	<div class="row">
    		<div class="jumbotron col-12">
    			<h2 class="text-center">Saldo por Endereco</h2>
    		</div>
    	</div>
    	<table class="display table table-compact table-striped table-sm" id="myTable"></table>
    </div>
</body>
</html>