]<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head th:fragment="head(titulo)">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Import Jquery -->
<script th:src="@{/js/jquery-3.3.1.min.js}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- Tokens dos Forms -->
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<script>
	$(document).ajaxSend(function(e, xhr, options) {
	    xhr.setRequestHeader($("meta[name='_csrf_header']").attr("content"), $("meta[name='_csrf']").attr("content"));
	});
</script>

<title th:text="'Ortosintese - ' + ${titulo}"></title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- Import Bootstrap e Jquery -->
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- Import Chart JS -->
<script	th:src="@{/js/Chart.bundle.min.js}"></script>

<!-- Datatables -->
<link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}"/>
<script type="text/javascript" th:src="@{/js/datatables.js}"></script>
<script type="text/javascript" th:src="@{/js/jszip.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pdfmake.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>


<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gudea&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jaldi&display=swap" rel="stylesheet">

<!-- Jquery UI CSS -->
<link th:href="@{/css/jquery-ui.css}" rel="stylesheet">

<!-- Jquery UI JS -->
<script th:src="@{/js/jquery-ui.js}"></script>

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/site.css}" />
<script th:src="@{/js/site.js}"></script>


</head>
<body>
	<nav class="" th:fragment="nav">
		<div class="menu-button" onClick="menuToggle(this)">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>
		<div class="content">
			<div class="div-logo">
				<ul class="pl-0 pt-3 d-inline-block">
					<li><a th:href="@{/}"><img
							th:src="@{/img/logo_ortosintese.jpg}" alt="logo" height="50"></img></a></li>
				</ul>
			</div>
			<div class="nav-content hide-mobile container-fluid nav-links">
				<div class="dropdown-nav">
					<a sec:authorize="isAuthenticated() && !hasAnyAuthority('RECEBIMENTO')" class="nav-link dropdown-link" th:href="@{/acompanhamento}">Acompanhamento</a>
					<div class="main-drop dropdown-itens d-none">
					
						<!-- DROPDOWN DO COMERCIAL -->
						<div class="mb-1 dropdown-submenu">
								<a class="drop-down-link dropdown-submenu-link" href="#">Comercial</a>
								<div class="dropdown-subitens dropdown-itens d-none">
									<a sec:authorize="!hasAnyAuthority('TERCEIROS', 'FABRICA')" class="drop-down-link" th:href="@{/produtos}">Produtos</a>
									<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'GERENTEINDUSTRIAL')" class="drop-down-link" th:href="@{/clientes}">Clientes</a>
									<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'GERENTEINDUSTRIAL')" class="drop-down-link" th:href="@{/programa-vendas}">Programa Vendas</a>
									<a sec:authorize="hasAnyAuthority('ADMIN', 'CUSTOS')" class="drop-down-link" th:href="@{/custos}">Custos</a>
									<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'GERENTEINDUSTRIAL')" class="drop-down-link" th:href="@{/faturamento?target=blank}">Faturamento</a>
									<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'GERENTEINDUSTRIAL')" class="drop-down-link" th:href="@{/check-list-expedicao?target=blank}">Check List Expedicao</a>
									<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'GERENTEINDUSTRIAL')" class="drop-down-link" th:href="@{/vendas?target=blank}">Vendas</a>
									<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS', 'GERENTEINDUSTRIAL', 'VENDAS-ORTOPEDIA')" class="drop-down-link" th:href="@{/lista-de-precos}">Lista de Preços</a>
								</div>
						</div>
						<!-- FINAL DROPDOWN COMERCIAL-->
					
					
						<!-- DROPDOWN DO PCP -->
						<div class="mb-1 dropdown-submenu">
							<a class="drop-down-link dropdown-submenu-link" href="#">PCP</a>
							<div class="dropdown-subitens dropdown-itens d-none">
								<div class="mb-1 dropdown-submenu" sec:authorize="!hasAnyAuthority('TERCEIROS', 'ALMOXARIFADO')">
									<a class="drop-down-link dropdown-submenu-link" href="#">Acompanhamento Carteira</a>
									<div class="dropdown-subitens dropdown-itens d-none">
										<a class="drop-down-link sub-menu" href="/carteira-pcp?filtro=PAS">Carteira PAs</a>
										<a class="drop-down-link sub-menu" href="/carteira-pcp?filtro=TODOS">Carteira Completa</a>
										<a class="drop-down-link sub-menu" href="/carteira-faturamento">Carteira Faturamento</a>
									</div>
								</div>
								<a class="drop-down-link" th:href="@{/relacao-ops?target=blank}">Ordens Producao</a>
								<a sec:authorize="!hasAnyAuthority('TERCEIROS', 'FABRICA')" class="drop-down-link" th:href="@{/historico-produto?target=blank}">Histórico de Produto</a>
							
							
							
								<a sec:authorize="!hasAnyAuthority('TERCEIROS', 'FABRICA')" class="drop-down-link" th:href="@{/relacao-empenhos?target=blank}">Relacao de Empenhos</a>
								<a sec:authorize="!hasAnyAuthority('FABRICA')" class="drop-down-link" th:href="@{/relacao-scs?target=blank}">Relacao de Scs</a>
								<a sec:authorize="!hasAnyAuthority('FABRICA')" class="drop-down-link" th:href="@{/relacao-pcs?target=blank}">Relacao de Pcs</a>
								<a class="drop-down-link" th:href="@{/relacao-estoques?target=blank}">Relacao Estoques</a>
								<a class="drop-down-link" th:href="@{/saldo-por-endereco?target=blank}">Saldo por Endereco</a>
								<a sec:authorize="!hasAnyAuthority('FABRICA', 'ALMOXARIFADO')" class="drop-down-link" th:href="@{/follow-up-produto}">FollowUp Produto</a>
								
								<div class="mb-1 dropdown-submenu" sec:authorize="!hasAnyAuthority('TERCEIROS', 'ALMOXARIFADO')">
									<a class="drop-down-link dropdown-submenu-link" href="#">Produtos em Estoque</a>
									<div class="dropdown-subitens dropdown-itens d-none">
										<a class="drop-down-link sub-menu" th:href="@{/indicadores/estoques/analitico?unidade=ORTOPEDIA&local=01}">Ortopedia - PAs</a>
										<a class="drop-down-link sub-menu" th:href="@{/indicadores/estoques/analitico?unidade=ORTOPEDIA&local=10}">Ortopedia - MPs</a>
										<a class="drop-down-link sub-menu" th:href="@{/indicadores/estoques/analitico?unidade=EQUIPAMENTOS&local=12}">Equipamentos - PAs</a>
										<a class="drop-down-link sub-menu" th:href="@{/indicadores/estoques/analitico?unidade=EQUIPAMENTOS&local=11}">Equipamentos - MPs</a>
									</div>
								</div>
								
								<div class="mb-1 dropdown-submenu">
									<a sec:authorize="!hasAnyAuthority('TERCEIROS')" class="drop-down-link dropdown-submenu-link" href="#">Ponto de Pedido</a>
									<div class="dropdown-subitens dropdown-itens d-none">
										<a class="drop-down-link sub-menu" th:href="@{/ponto-pedido?unidade=ORTOPEDIA}">Ortopedia</a>
										<a class="drop-down-link sub-menu" th:href="@{/ponto-pedido?unidade=EQUIPAMENTOS}">Equipamentos</a>
									</div>
								</div>
								
								
								<a sec:authorize="!hasAnyAuthority('FABRICA', 'ALMOXARIFADO')" class="drop-down-link" th:href="@{/relacao-entradas?target=blank}">Documentos Entrada</a>
								<a sec:authorize="!hasAnyAuthority('FABRICA')" class="drop-down-link" th:href="@{/kardex-produto?target=blank}">Kardex Produto</a>
							</div>
						</div>
						<!-- FINAL DROPDOWN DO PCP -->
						
						<!-- DROPDOWN DO FINANCEIRO -->
						<div class="mb-1 dropdown-submenu">
							<a class="drop-down-link dropdown-submenu-link" href="#">Financeiro</a>
							<div class="dropdown-subitens dropdown-itens d-none">
								<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'VENDAS-EQUIPAMENTOS')" class="drop-down-link" th:href="@{/acompanhamento-recebimento}">Acomp. Recebimento</a>
								<a sec:authorize="hasAnyAuthority('ADMIN', 'FINANCEIRO')" class="drop-down-link" th:href="@{/relacao-baixas?target=blank}">Relação Baixas</a>
								<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'VENDAS-EQUIPAMENTOS')" class="mb-1 dropdown-submenu">
									<a class="drop-down-link dropdown-submenu-link" href="#">Títulos em Aberto</a>
									<div class="dropdown-subitens dropdown-itens d-none">
										<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA')" class="drop-down-link sub-menu" th:href="@{/indicadores/recebimento/analitico/valor-a-receber?unidade=ORTOPEDIA}">Ortopedia</a>
										<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS')" class="drop-down-link sub-menu" th:href="@{/indicadores/recebimento/analitico/valor-a-receber?unidade=EQUIPAMENTOS}">Equipamentos</a>
									</div>
								</div>
							</div>
						</div>
						<!-- FINAL DROPDOWN DO FINANCEIRO -->
						
						
						
						<div class="dropdown-itens-div" th:fragment="dropdown-itens-acompanhamento">
							
							
							<!-- <a sec:authorize="!hasAnyAuthority('FABRICA')" class="drop-down-link" th:href="@{/triangulacao}">Triangulacao</a> -->

<!-- 						<a sec:authorize="hasAnyAuthority('ADMIN')" class="drop-down-link" th:href="@{/inventario?target=blank}">Inventário</a> -->

							
						</div>
					</div>
				</div>
				<div class="dropdown-nav">
					<a sec:authorize="hasAnyAuthority('ADMIN', 'PRODUCAO', 'VENDAS-ORTOPEDIA', 'VENDAS-EQUIPAMENTOS', 'VENDAS-EXPORTACAO')"class="nav-link dropdown-link" th:href="@{/utilitarios}">Utilitários</a>
					<div class="main-drop dropdown-itens d-none">
						<div class="dropdown-itens-div" th:fragment="menu-dropdown-processamento">
							<a class="drop-down-link" th:href="@{/utilitarios/processamento}">Processamento</a>
							<a class="drop-down-link" th:href="@{/utilitarios/pos-processamento}">Pós Processamento</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'DIRETORIA', 'VENDAS', 'VENDAS-ORTOPEDIA', 'VENDAS-EQUIPAMENTOS', 'VENDAS-EXPORTACAO')" class="drop-down-link" th:href="@{/utilitarios/calculo-vendas}">Calculo Vendas</a>
						</div>
					</div>
				</div>
				<div class="dropdown-nav">
				<a sec:authorize="isAuthenticated() && !hasAnyAuthority('TERCEIROS', 'FABRICA', 'ALMOXARIFADO')"class="nav-link dropdown-link" th:href="@{/indicadores}">Indicadores</a>
					<div class="main-drop dropdown-itens d-none">
						<div class="dropdown-itens-div" th:fragment="dropdown-itens-indicadores">
<!-- 						<a sec:authorize="hasAnyAuthority('ADMIN', 'DIRETORIA')" class="drop-down-link" th:classappend="${selected == 1} ? 'selected' : ''" th:href="@{/indicadores/dashboard}">Dashboard</a> -->
<!-- 							<a sec:authorize="hasAnyAuthority('ADMIN', 'DIRETORIA')" class="drop-down-link" th:classappend="${selected == 1} ? 'selected' : ''" th:href="@{/indicadores/gerencial}">Gerencial</a> -->
							<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'GERENTEINDUSTRIAL', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 2} ? 'selected' : ''" th:href="@{/indicadores/orcamentos}">Orçamentos</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'GERENTEINDUSTRIAL', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 3} ? 'selected' : ''" th:href="@{/indicadores/vendas}">Vendas</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'GERENTEINDUSTRIAL', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 4} ? 'selected' : ''" th:href="@{/indicadores/vendas-por-linha}">Vendas por Linha</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'FATURAMENTO', 'GERENTEINDUSTRIAL', 'VENDAS-EQUIPAMENTOS', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 5} ? 'selected' : ''" th:href="@{/indicadores/faturamento}">Faturamento</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'PRODUCAO', 'GERENTEINDUSTRIAL', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 6} ? 'selected' : ''" th:href="@{/indicadores/producao}">Produção</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'PRODUCAO', 'ESTOQUES', 'GERENTEINDUSTRIAL', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 7} ? 'selected' : ''" th:href="@{/indicadores/estoques}">Estoques</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'GERENTEINDUSTRIAL', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 8} ? 'selected' : ''" th:href="@{/indicadores/mapa-vendas}">Mapa de Vendas</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'GERENTEINDUSTRIAL', 'PRODUCAO', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 9} ? 'selected' : ''" th:href="@{/carteira}">Carteira de Pedidos</a>
<!-- 							<a sec:authorize="hasAnyAuthority('ADMIN', 'FINANCEIRO', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 10} ? 'selected' : ''" th:href="@{/indicadores/financeiro}">Financeiro</a> -->
							<a sec:authorize="hasAnyAuthority('ADMIN', 'RECEBIMENTO', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 11} ? 'selected' : ''" th:href="@{/indicadores/recebimento}">Recebimento</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'PRODUCAO', 'ESTOQUES', 'GERENTEINDUSTRIAL', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 12} ? 'selected' : ''" th:href="@{/indicadores/nfs-entrada}">NFs Entrada</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'COMPRAS', 'GERENTEINDUSTRIAL', 'FINANCEIRO')" class="drop-down-link" th:classappend="${selected == 13} ? 'selected' : ''" th:href="@{/indicadores/compras}">Compras</a>
							<a sec:authorize="hasAnyAuthority('ADMIN', 'DIRETORIA', 'RECURSOS-HUMANOS')" class="drop-down-link" th:classappend="${selected == 13} ? 'selected' : ''" th:href="@{/indicadores/recursos-humanos}">Recursos Humanos</a>
						</div>
					</div>
				</div>
				<div class="dropdown-nav">
				<a sec:authorize="hasAuthority('ADMIN')"class="nav-link dropdown-link" th:href="'#'">Admin</a>
					<div class="main-drop dropdown-itens d-none">
						<div class="dropdown-itens-div" th:fragment="dropdown-itens-admin">
							<a sec:authorize="hasAnyAuthority('ADMIN', 'COMPRAS', 'GERENTEINDUSTRIAL')" class="drop-down-link" th:classappend="${selected == 10} ? 'selected' : ''" th:href="@{/admin/usuarios}">Usuarios</a>
						</div>
					</div>
				</div>
				<div sec:authorize="isAuthenticated()"
					class="nav-content hide-mobile form-logout">
					<form th:action="@{/logout}" method="post">
						<button class="btn btn-danger">Logout</button>
					</form>
				</div>
			</div>
		</div>
	</nav>
</body>
</html>