<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head th:replace="templateFile :: head('Triangulacao')">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron col-12">
				<h2>Triangulacao</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<a th:href="@{/triangulacao/form}" class="btn btn-primary">Nova Triangulação</a>
		<table id="myTable" class="table table-sm table-striped w-100">
			<tbody>
				<tr th:each="triangulacao: ${triangulacoes}">
					<td><a th:href="@{/triangulacao/__${triangulacao.id}__/form}" th:text="${triangulacao.id}" class="context-item"></a></td>
					<td th:text="${triangulacao.qtd}"></td>
					<td th:text="${triangulacao.scChapa}"></td>
					<td th:text="${triangulacao.pcChapa}"></td>
					<td th:text="${triangulacao.opPolim}"></td>
					<td th:text="${triangulacao.scPolim}"></td>
					<td th:text="${triangulacao.pcPolim}"></td>
					<td th:text="${triangulacao.opCorteDobra}"></td>
					<td th:text="${triangulacao.scCorteDobra}"></td>
					<td th:text="${triangulacao.pcCorteDobra}"></td>
					<td th:text="${triangulacao.nfEntrada}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script th:src="@{/js/triangulacao.js}"></script>
</body>
</html>