<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relacao de Vendas')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/faturamento.css}"/>
<script id="scriptRelacaoEntradas" th:src="@{/js/vendas.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form" th:action="@{/pedidos-venda/relacao-vendas}">
            <h5 class="text-center">Pre Formulario</h5>
<!--             <div class="form-group"> -->
<!--                 <label>Produto De</label> -->
<!--                 <input class="form-control" name="produtoDe" id="produtoDe" autofocus="autofocus"/> -->
<!--             </div> -->
<!--             <div class="form-group"> -->
<!--                 <label>Produto Ate</label> -->
<!--                 <input class="form-control" name="produtoAte" id="produtoAte"/> -->
<!--             </div> -->
<!--             <div class="form-group"> -->
<!--                 <label>Pedido de</label> -->
<!--                 <input class="form-control" name="pedidoDe" id="pedidoDe"/> -->
<!--             </div> -->
<!--             <div class="form-group"> -->
<!--                 <label>Pedido Ate</label> -->
<!--                 <input class="form-control" name="pedidoAte" id="pedidoAte"/> -->
<!--             </div> -->
<!--             <div class="form-group"> -->
<!--                 <label>Cliente De</label> -->
<!--                 <input class="form-control" name="clienteDe" id="clienteDe"/> -->
<!--             </div> -->
<!--             <div class="form-group"> -->
<!--                 <label>Cliente Ate</label> -->
<!--                 <input class="form-control" name="clienteAte" id="clienteAte"/> -->
<!--             </div> -->
            <div class="form-group">
                <label>Data de</label>
                <input class="form-control date-picker" name="dataDe" id="dataDe" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Data ate</label>
                <input class="form-control date-picker" name="dataAte" id="dataAte" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Armazem de</label>
                <input class="form-control" name="localDe" id="localDe"/>
            </div>
            <div class="form-group">
                <label>Armazem Ate</label>
                <input class="form-control" name="localAte" id="localAte"/>
            </div>
            <button id="btnPreForm" class="btn btn-success">Processar</button>
        </form>
    </div>
    
    
    <div class="jumbotron">
		<h2 class="text-center">Relação de Vendas</h2>
	</div>
	<div class="container-fluid">
		<table class="display table table-compact table-striped table-sm" id="myTable">
		</table>
	</div>
</body>
</html>