<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Processamento')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/acompanhamentoInventario.css}"/>
<link rel="stylesheet" th:href="@{/css/processamento.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="utilitarios/utilitarios :: menu-lateral"></div>
			<div id="indicadores" class="main">
				<div class="jumbotron">
					<h2 class="text-center">Acompanhamento de Inventário</h2>
				</div>
				<h2>Inventarios Abertos:</h2>
				<table id="myTable"></table>
			</div>
		</div>
	</div>
	<script th:src="@{/js/acompanhamentoInventario.js}"></script>
</body>
</html>