<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Utilitarios')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/calculoVendas.css}"/>
</head>
<body>
    <nav th:replace="templateFile :: nav"></nav>
    <div class="container-fluid">
        <div class="row">
            <div class="menu-lateral" th:insert="templateFile :: menu-dropdown-processamento"></div>
                <div id="indicadores">
                    <div class="jumbotron">
                        <h2 class="text-center">Calculo Vendas</h2>
                        <select class="form-control col-2 d-inline-block" name="unidadeVendas" id="unidadeVendas">
                            <option value="unidade">UNIDADE</option>
                            <option th:each="unidadeVendas : ${unidadesVendas}" th:text="${unidadeVendas}" th:value="${unidadeVendas}"></option>
                        </select>
                        <select class="form-control col-2 d-inline-block" name="segmento" id="segmento">
                            <option value="segmento">SEGMENTO</option>
                            <option th:each="segmento : ${segmentos}" th:text="${segmento}" th:value="${segmento}"></option>
                        </select>
                        <select class="form-control col-2 d-inline-block" name="classe" id="classe">
                            <option value="classe">CLASSE</option>
                            <option th:each="classe : ${classes}" th:text="${classe}" th:value="${classe}"></option>
                        </select>
                        <select class="form-control col-2 d-inline-block" name="sistema" id="sistema">
                            <option value="sistema">SISTEMA</option>
                            <option th:each="sistema : ${sistemas}" th:text="${sistema}" th:value="${sistema}"></option>
                        </select>
                        <select class="form-control col-2 d-inline-block" name="carac1" id="carac1">
                            <option value="carac1">CARAC 1</option>
                            <option th:each="carac1 : ${caracs1}" th:text="${carac1}" th:value="${carac1}"></option>
                        </select>
                        <select class="form-control col-2 d-inline-block" name="matPrima" id="matPrima">
                            <option value="matPrima">MAT PRIMA</option>
                            <option th:each="matPrima : ${matsPrimas}" th:text="${matPrima}" th:value="${matPrima}"></option>
                        </select>
                        <select class="form-control col-2 d-inline-block" name="carac2" id="carac2">
                            <option value="carac2">CARAC 2</option>
                            <option th:each="carac2 : ${caracs2}" th:text="${carac2}" th:value="${carac2}"></option>
                        </select>
                        <input class="form-control col-2 d-inline-block" type="text" name="codigoProduto" id="codigoProduto" placeholder="Produto Contem"/>
                        <input class="form-control col-2 d-inline-block" type="text" name="descricaoProduto" id="descricaoProduto" placeholder="Descricao Contem"/>
                        <select class="form-control col-2 d-inline-block" name="grupo" id="grupo">
                        	<option value="">Grupo</option>
                        	<option th:each="grupo : ${grupos}" th:text="${grupo}" th:value="${grupo}"></option>
                        </select>
                        <input class="form-control col-2 d-inline-block" type="number" name="estoqueMinimo" id="estoqueMinimo" placeholder="Estoque Minimo"/>
                        <input class="form-control col-2 d-inline-block" type="number" name="numClientesProduto" id="numClientesProduto" placeholder="Clientes por Produto"/>
                        <button class="d-block mt-5 d-inline-block" id="btnProcessar">Processar</button>
                    </div>
                    <div class="table-responsive">
                    	<table id="myTable" class="display table table-compact table-striped table-sm"></table>
                    </div>
               </div>
        </div>
    </div>
    <script th:src="@{/js/calculoVendas.js}"></script>
</body>
</html>