<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Processamento')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/detalhesInventario.css}"/>
<link rel="stylesheet" th:href="@{/css/processamento.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="utilitarios/utilitarios :: menu-lateral"></div>
			<div id="processamento" class="main">
				<div class="jumbotron">
					<h2 class="text-center">Detalhes Inventario <span th:text="${inventario.codInv}"></span></h2>
				</div>
				<table class="table table-striped">
					<tbody>
						<tr>
							<th>Cod Invent: </th>
							<td th:text="${inventario.codInv}"></td>
						</tr>
						<tr>
							<th>Data: </th>
							<td th:text="${inventario.data}"></td>
						</tr>
						<tr>
							<th>Armazem: </th>
							<td th:text="${inventario.armazem}"></td>
						</tr>
						<tr>
							<th>Endereco: </th>
							<td th:text="${inventario.endereco}"></td>
						</tr>
					</tbody>
				</table>
				<h2 class="text-center">Contagens</h2>
				<table id="myTable">
					<thead>
						<tr>
							<th>Produto</th>
							<th>Usuario</th>
							<th>Contagem 1</th>
							<th>Usuario</th>
							<th>Contagem 2</th>
							<th>Usuario</th>
							<th>Contagem 3</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script th:src="@{/js/detalhesInventario.js}"></script>
</body>
</html>