<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Processamento')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/posProcessamento.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="menu-lateral" th:insert="templateFile :: menu-dropdown-processamento"></div>
			<div id="indicadores" class="main">
				<div class="row">
					<div class="jumbotron col-12">
						<h2>Pós Processamento</h2>
					</div>
					<div class="form-group pl-2">
						<p>Produtos</p>
					    <button class="w3-button w3-teal" onClick="javascript:adicionarProduto()">+</button>
						<button class="w3-button w3-yellow" onClick="javascript:removerProduto()">-</button>
						<button class="w3-button w3-red" onClick="javascript:removerProdutos()">--</button>
					</div>
                    <div class="form mb-5 form-processamento scrollable-div">
                        <div class="form-row">
                        </div>
                        <div class="form-produto form-row form-group d-inline-block ml-1 mr-1">
							<input class="codigoProduto form-control d-inline-block" type="text" placeholder="Codigo Produto" required="required" autofocus="autofocus"/>
                        </div>
                    </div>
					<button id="button-form" class="btn btn-primary">Processar</button>
				</div>
				<div class="container-fluid" style="overflow-x: scroll;">
					<table id="myTable" class="mt-5 display table table-compact table-striped table-sm">
					</table>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/posProcessamento.js}"></script>
</body>
</html>