<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Processamento')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/processamento.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div class="menu-lateral" th:insert="templateFile :: menu-dropdown-processamento"></div>
			<div id="indicadores" class="main">
				<div class="row">
					<div class="jumbotron col-12">
						<h2 class="text-center">Processamento</h2>
					</div>
					<div class="form col-4">
						<div class="mini-jumbo">
							<h5 class="text-center">Parametros</h5>
						</div>
						<div class="form-row">
							<div class="form-group col-12 ml-1">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="importacao" id="importacao" onClick="javascript:alteraClasse('.importacao', 'd-none')"/>
									<label class="form-check-label" for="importacao">Importar Produtos</label>
								</div>
							</div>
							<div class="form-group col-12 importacao d-none">
								<select required="required" id="tipoImportacao" class="form-control">
									<option disabled="disabled" selected="selected" value="">Importar Por</option>
									<option value="CARTEIRA">Carteira de Pedidos</option>
									<option value="CADASTRO">Cadastro de Produtos</option>
								</select>
							</div>
							<div class="form-group col-12 importacao d-none">
								<select required="required" id="unidade" class="form-control">
									<option disabled="disabled" selected="selected" value="">Unidade</option>
									<option value="ORTOPEDIA">Ortopedia</option>
									<option value="EQUIPAMENTOS">Equipamentos</option>
								</select>
							</div>
							<div class="form-group col-12">
								<button class="btn btn-info button-form-importar-carteira importacao d-none" onClick="javascript:importarProdutos()">Importar</button>
							</div>
							
							<div class="form-group col-12">
								<input class="form-control" type="text" name="nivelMaximo" id="nivelMaximo" placeholder="Até o Nível"/>
							</div>
							
							<div class="form-group col-12">
								<input class="form-control" type="text" name="dataOps" id="dataOps" placeholder="Data Validade Ops" autocomplete="off"/>
							</div>
							<div class="form-group col-12">
								<input class="form-control" type="text" name="dataPcs" id="dataPcs" placeholder="Data Validade PCs" autocomplete="off"/>
							</div>
							
							<div class="form-group col-12 ml-1">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="processarEstoque" id="processarEstoque" checked="checked"/>
									<label for="processarEstoque" class="form-check-label">Processar Estoques</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="exportarExcel" id="exportarExcel"/>
									<label for="exportarExcel" class="form-check-label">Exportar Excel Automaticamente</label>
								</div>
							</div>
						</div>
<!-- 						<button id="button-form" class="btn btn-warning d-block mt-3 button-form-processamento" onClick="javascript:opcionais()">Gerenciar Opcionais</button> -->
						<button id="button-form" class="btn btn-primary d-block mt-3 button-form-processamento" onClick="javascript:processar()">Processar</button>
					</div>
                    <div class="form mb-5 form-processamento col-8">
                    	<div class="mini-jumbo">
	                        <h5 class="text-center">Produtos</h5>
                        </div>
                        <div class="form-produtos">
	                        <div class="form-produto form-row">
	                            <div class="form-group col-4">
	                                <input class="codigoProduto form-control d-inline-block" type="text" placeholder="Codigo Produto" required="required" autofocus="autofocus" th:value="${codigoProduto}"/>
	                            </div>
	                            <div class="form-group col-2">
	                                <input class="qtdBase form-control d-inline-block" type="text" placeholder="Qtd Base" required="required" value="1"/>
	                            </div>
	                        </div>
                       </div>
                        <div class="form-row">
                            <div class="form-group pl-2">
                                <button class="w3-button w3-teal" onClick="javascript:adicionarProduto()">+</button>
                                <button class="w3-button w3-yellow" onClick="javascript:removerProduto()">-</button>
                                <button class="w3-button w3-red" onClick="javascript:removerProdutos()">--</button>
                            </div>
                        </div>
                    </div>
				</div>
				<div class="container-fluid" style="overflow-x: scroll;">
					<table id="myTable" class="mt-5 display table table-compact table-striped table-sm">
					</table>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/processamento.js}"></script>
</body>
</html>