<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templateFile :: head('Carteira Cliente - ' + ${cliente.nome})">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<h2 class="text-center">Carteira de Pedidos</h2>
	<div class="container-fluid">
		<a th:href="@{/carteira}">Carteira Geral</a>
		<a th:href="@{/clientes/__${cliente.codigo}__/detalhes}">Voltar para Cliente</a>
		<h5>Itens do Pedido</h5>
		<div class="table-responsive">
			<table class="table table-sm" id="myTable">
				<thead>
					<tr>
						<th>Numero Pedido</th>
						<th>Emissao</th>
						<th>Entrega</th>
						<th>Produto</th>
						<th>Descricao</th>
						<th>Qtd Vend</th>
						<th>Qtd Ent</th>
						<th>Qtd Emp</th>
						<th>Saldo</th>
						<th>Preço Venda</th>
						<th>Valor Saldo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${itensPedidoVenda}">
						<td><a th:href="@{/pedidos-venda/__${item.pedido.numero}__/detalhes}" th:text="${item.pedido.numero}"></a></td>
						<td th:text="${item.pedido.dataEmissaoFormatada}"></td>
						<td th:text="${item.pedido.dataEntregaFormatada}"></td>
						<td><a th:href="@{/produtos/detalhes(codigoProduto=${item.produto.codigo})}" th:text="${item.produto.codigo}"></a></td>
						<td th:text="${item.produto.descricao}"></td>
						<td th:text="${item.qtdVen}"></td>
						<td th:text="${item.qtdEnt}"></td>
						<td th:text="${item.qtdEmp}"></td>
						<td th:text="${item.saldo}" th:data-sort="${item.saldo}"></td>
						<td th:text="${item.prcVenAsCurrency}" th:data-sort="${item.prcVen}"></td>
						<th th:text="${item.valorAsCurrency}" th:data-sort="${item.valor}"></th>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th>Emissao</th>
						<th>Entrega</th>
						<th>Produto</th>
						<th>Descricao</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<script>
		$(document).ready( function () {
		    var table = $('#myTable').DataTable({
                dom: 'Bflrptpi',
		        buttons: [
		            'copyHtml5',
		            'excelHtml5',
                ],
		    });
			$('#myTable tfoot th').each( function () {
		        var title = $(this).text();
		        if (title != '')
		        	$(this).html( '<input type="text" placeholder="'+title+'" />' );
		    } );
		    table.columns().every( function () {
		    	var that = this;
		        $( 'input', this.footer() ).on( 'keyup change', function () {
	            	if ( that.search() !== this.value ) {
		                that
	                    	.search( this.value )
	                    	.draw();
		            }
		        });
		    });
		} );
	</script>
</body>
</html>