<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head th:replace="templateFile :: head('Produtos em Estoque')">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<h2 class="text-center">Produtos em Estoque</h2>
	<div class="container-fluid">
		<h5>Relação de Produtos</h5>
		
		<h5><a th:href="@{/estoques/itens-estoque/excel(unidade=ortopedia)}">Download Excel</a></h5>
		<div class="table-responsive">
			<table class="display" id="myTable">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Descricao</th>
						<th>Quantidade</th>
						<th>Empenho</th>
						<th sec:authorize="hasAnyAuthority('ADMIN', 'DIRETORIA', 'GERENTEINDUSTRIAL')">Preço Venda</th>
						<th>Lote</th>
						<th>Data</th>
						<th>Saldo</th>
						<th sec:authorize="hasAnyAuthority('ADMIN', 'DIRETORIA', 'GERENTEINDUSTRIAL')">Valor Total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="itemEstoque : ${itens}">
						<td th:text="${itemEstoque.codigo}"></td>
						<td th:text="${itemEstoque.descricao}"></td>
						<td th:text="${itemEstoque.quant}"></td>
						<td th:text="${itemEstoque.empenho}"></td>
						<td th:text="${itemEstoque.prcVen}" sec:authorize="hasAnyAuthority('ADMIN', 'DIRETORIA', 'GERENTEINDUSTRIAL')"></td>
						<td th:text="${itemEstoque.lote}"></td>
						<td th:text="${itemEstoque.dataFormatada}" th:data-order="${itemEstoque.data}"></td>
						<td th:text="${itemEstoque.saldo}"></td>
						<td th:text="${itemEstoque.valorTotalCurrency}" sec:authorize="hasAnyAuthority('ADMIN', 'DIRETORIA', 'GERENTEINDUSTRIAL')"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>
		$(document).ready( function () {
		    $('#myTable').DataTable({
		    	responsive: true,
		    	order: [
		    		[6, 'asc']
		    	]
		    });
		});
	</script>
</body>
</html>