<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Detalhes pedido __${numeroPedido}__')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/relacaoCompras.css}"/>
<script id="scriptDetalhesPedidoCompra" th:src="@{/js/detalhesPedidoCompra.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="jumbotron">
			<h2 class="text-center">Detalhes Pedido Compra</h2>
		</div>
		<table class="display table table-sm table-striped" id="myTable">
		</table>
	</div>
</body>
</html>