<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relacao de Compras')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/relacaoPcs.css}"/>
<script id="scriptRelacaoCompras" th:src="@{/js/relacaoPcs.js}" th:unidade="${unidade}" th:mes="${mes}" th:ano="${ano}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div th:if="${target == 'blank'}" id="preForm">
        <form class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Numero Pedido</label>
                <input class="form-control" name="numero" id="numero" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Nome Fornecedor</label>
                <input class="form-control" name="nomeFornecedor" id="nomeFornecedor" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Codigo Fornecedor</label>
                <input class="form-control" name="codigoFornecedor" id="codigoFornecedor" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Comprador</label>
                <input class="form-control" name="comprador" id="comprador" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Emissao De</label>
                <input class="form-control date-picker" name="emissaoDe" id="emissaoDe" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Emissao Ate</label>
                <input class="form-control date-picker" name="emissaoAte" id="emissaoAte" autocomplete="off"/>
            </div>
            <div class="form-group">
                <label>Produto</label>
                <input class="form-control" name="codigoProduto" id="codigoProduto" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>OP</label>
                <input class="form-control" name="op" id="op" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Abertos</label>
<!--                 <input class="form-control" name="op" id="op" autofocus="autofocus"/> -->
					<select class="form-control" name="abertos" id="abertos">
						<option value="abertos">Abertos</option>
						<option value="">Todos</option>
					</select>
            </div>
            <button id="btnPreForm" class="btn btn-success">Processar</button>
        </form>
    </div>
    
	<div class="jumbotron">    
		<h2 class="text-center">Relacao de Compras</h2>
	</div>
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="display table table-compact table-striped table-sm" id="myTable">
			</table>
		</div>
	</div>
</body>
</html>