<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Home')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/clienteHome.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row h-100">
			<div class="menu-lateral" th:fragment="menu-lateral">
				<a sec:authorize="hasAnyAuthority('CLIENTE', 'ADMIN')" class="menu-item" th:href="@{/indicadores/gerencial}">Novo Pedido</a>
				<a sec:authorize="hasAnyAuthority('CLIENTE', 'ADMIN')" class="menu-item" th:href="@{/indicadores/gerencial}">Meus Pedidos</a>
			</div>
			<div id="main">
				<h2 class="text-center mt-5 w-100">Area do Cliente</h2>
				<div sec:authorize="!isAuthenticated()">
					<form class="form-signin text-center  ml-auto mr-auto mt-5" method="post" th:action="@{/login}" style="max-width: 330px">
				      	<h2 class="form-signin-heading">Por favor, faça login</h2>
				      	<p>
				        	<label for="username" class="sr-only">Username</label>
					        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="required" autofocus="autofocus">
				      	</p>
				      	<p>
				        	<label for="password" class="sr-only">Password</label>
				        	<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required">
				      	</p>
						<input name="_csrf" type="hidden" value="e406109e-1c9d-4597-8172-bf8708b6abb2">
				      	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			      	</form>
		      	</div>
			</div> <!--  END OF MAIN -->
		</div>
	</div>
</body>
</html>