<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Detalhes OP - ' + ${detalhesOp.op.numero})"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/detalhesOp.css}"/>
<script th:src="@{/js/detalhesOp.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="jumbotron">
		<h2 class="text-center">Detalhes OP</h2>
	</div>
	<div class="container-fluid">
		<div class="row">
			<table class="table table-sm table-compact display table-striped table-hover w-100">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Numero OP</th>
						<th>Lote</th>
						<th>Status</th>
						<th>Emissao</th>
						<th>Produto</th>
						<th>Descricao</th>
						<th>Qtd Planejada</th>
						<th>Saldo OP</th>
						<th>Obs</th>
						<th>Solicitacao Compra</th>
						<th>Pedido Compra</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${detalhesOp.op.usuario}"></td>
						<td th:text="${detalhesOp.op.numero}"></td>
						<td th:text="${detalhesOp.op.lote}" class="context-item"></td>
						<td th:text="${detalhesOp.op.status}"></td>
						<td th:text="${detalhesOp.op.emissao}"></td>
						<td th:text="${detalhesOp.op.produto.codigo}"></td>
						<td th:text="${detalhesOp.op.produto.descricao}"></td>
						<td th:text="${detalhesOp.op.quant}"></td>
						<td th:text="${detalhesOp.op.saldo}"></td>
						<td th:text="${detalhesOp.op.obs}"></td>
						<td><a th:href="@{/relacao-scs?numero=__${detalhesOp.op.sc}__}" th:text="${detalhesOp.op.sc}"></a></td>
						<td><a th:href="@{/pedidos-compra/__${detalhesOp.op.pc}__/detalhes}" th:text="${detalhesOp.op.pc}"></a></td>
					</tr>
				</tbody>
			</table>
			<div th:if="${detalhesOp.pedidos != null}" class="col-12">
				<div class="mini-jumbo">
					<h5 class="text-center">Historico Pedidos</h5>
				</div>
				<table id="tabela-pedidos" class="table table-sm table-compact display table-hover">
					<thead>
						<tr>
							<th>Numero</th>
							<th>Fornecedor</th>
							<th>Emissao</th>
							<th>Qtd Ped</th>
							<th>Qtd Ent</th>
							<th>NF</th>
							<th>Dt Entrada</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pedido : ${detalhesOp.pedidos}">
							<td th:text="${pedido.numero}"></td>
							<td th:text="${pedido.fornecedor}"></td>
							<td th:text="${pedido.emissao}"></td>
							<td th:text="${pedido.quantidade}"></td>
							<td th:text="${pedido.quantFin}"></td>
							<td th:text="${pedido.nf}"></td>
							<td th:text="${pedido.dtEntrega}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-12">
				<div class="mini-jumbo mt-5">
					<h5 class="text-center mt-2 mb-1">Empenhos</h5>
				</div>
				<div class="table-responsive">
					<table id="tabelaEmpenhos" class="table table-sm mb-2 mt-5 w-100"></table>
				</div>
			</div>
			<div class="col-12">
				<div class="mini-jumbo">
					<h5 class="text-center">Processos</h5>
				</div>
				<table id="processos" class="table table-sm table-hover display w-100">
					<thead>
						<tr>
							<th>PRODUTO</th>
							<th>RECURSO</th>
							<th>DESCRICAO</th>
							<th>xDESCRICAO</th>
							<th>DATA FINALIZACAO</th>
							<th>QTD PRODUZIDA</th>
							<th>QTD PERDA</th>
							<th>OPERADOR</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="processo : ${detalhesOp.processos}">
							<td th:text="${processo.produto}"></td>
							<td th:text="${processo.recurso}"></td>
							<td th:text="${processo.descri}"></td>
							<td th:text="${processo.xDescri}"></td>
							<td th:text="${processo.dataFin}"></td>
							<td th:text="${processo.qtdProd}"></td>
							<td th:text="${processo.qtdPerd}"></td>
							<td th:text="${processo.operador}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="col-12 div-desenho text-center">
		    <h5 class="text-center mt-10">Desenho</h5>
		    <embed th:src="@{/pdf/__${detalhesProduto.desenho}__}" height="100%" width="50%"/>
		</div>
		
	</div>
	
	<script>
		var table = $('#tabelaEmpenhos').DataTable({
			ajax: {
				type: 'POST',
			},
			iDisplayLength: 1000,
			dom: 'Blfrpti',
	        buttons: [
	            'copyHtml5',
	            'excelHtml5',
	        ],
			columns: [
				{ title: 'Num OP' },//0
				{ title: 'Produto OP' },//1
				{ title: 'Descricao' },//2
				{ title: 'Emissao' },//3
				{ title: 'Usuario' },//4
				{ title: 'COD EMPENHO' },//5
				{ title: 'DESCRICAO', class: 'nowrap' },//6
				{ title: 'UM' },//7
				{ title: 'Qtd Emp' },//8
				{ title: 'Saldo Emp' },//9
				{ title: 'LOTE', class: 'context-item' },//10
				{ title: 'ARMAZEM' },//11
				{ title: 'OBS' },//12	
				{ title: 'Qtd Estoque' },//13
		    	{ title: 'Qtd Enderecar' },//14
		    	{ title: 'Qtd Inspecao' },//15
		    	{ title: 'Suficiente', class: 'suficiente' },//16
		    	{ title: 'Tot. Empenhada' },//17
		    	{ title: 'Qtd OP' },//18
		    	{ title: 'Qtd SC' },//19
		    	{ title: 'Qtd PC' },//20
		    	{ title: 'Saldo' },//21
		    	{ title: 'Auto Emp' },//22
	    	],
	    	aaSorting: [ [16, 'desc'], [10, 'asc'] ],
			columnDefs: [
	            {
		             "targets": [ 1, 2, 3, 4, 12 ],
		             "visible": false,
		             "searchable": false
		         },
			],
			initComplete: function() {
				$('#tabelaEmpenhos td:nth-child(7)').mousedown(function (e) {
					if (e.which == 3) {
						var lote = this.innerHTML;
						
						var x = e.originalEvent.x;
						var y = e.originalEvent.y;
						
						var opcoes = [];
						
						opcoes.push(
							{
								nome: 'Kardex Por Lote',
								link: '/kardex-produto?produtoDe=&produtoAte=&loteDe=' + lote + '&loteAte=' + lote + '&armazemDe=&armazemAte=&dataInicial=&dataFinal=',
							},
							{
								nome: 'Saldo por Endereço',
								link: 'http://192.168.0.5/saldo-por-endereco?produtoDe=&produtoAte=&descricao=&loteDe=' + lote + '&loteAte=' + lote + '&armazemDe=&armazemAte=',
							},
						);
						
						criarContextMenu(x, y, opcoes);
					}
				});
				atualizaLotes();	
			}
		});
		
		var tabelaPedidos = $('#tabela-pedidos').DataTable({
			iDisplayLength: 1000,
			dom: 'Blfrpti',
			buttons: [
				'copyHtml5',
				'excelHtml5',
			],
			initComplete: function() {
				$('#tabela-pedidos tr').each(function() {
					var qtdPed = $(this).find('td:nth-child(4)').html();
					var qtdEnt = $(this).find('td:nth-child(5)').html();
					
					if (qtdPed == null) {
						return;
					}
					
					if (qtdEnt >= qtdPed) {
						$(this).addClass('lote-preenchido');
					} else {
						$(this).addClass('nao-atende');
					}
				});
			},
		});
		
		function atualizaLotes() {
			$('#tabelaEmpenhos td:nth-child(7)').each(function() {
				if ($(this).html() != '') {
					$(this).parent().addClass('lote-preenchido');
				} else if ($(this).parent().find('td.suficiente').html() === 'atende') {
					$(this).parent().addClass('atende');
				} else if ($(this).parent().find('td.suficiente').html() === 'enderecar/inspecionar') {
					$(this).parent().addClass('enderecar-inspecionar');
				} else {
					$(this).parent().addClass('nao-atende');
				}
			});
		}
	</script>
</body>
</html>