<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templateFile :: head('Ordens de Producao')">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="loading">Loading&#8230;</div>
	<h2 class="text-center">Ordens de Produção</h2>
	<div class="container-fluid">
		<h5>Relação de OPs</h5>
		<div class="table-responsive">
			<table class="table table-sm" id="myTable">
				<thead>
					<tr>
						<th>Numero</th>
						<th>Local</th>
						<th>CodigoProduto</th>
						<th>Descricao</th>
						<th>Quantidade</th>
						<th>Saldo</th>
						<th>Emissao</th>
						<th>DatPrf</th>
						<th>Obs</th>
						<th>Ult Apto</th>
						<th>Data Ult Apto</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="op : ${ops}">
						<td><a th:href="@{/ordens-producao/__${op.numero}__/detalhes}" th:text="${op.numero}"></a></td>
						<td th:text="${op.local}"></td>
						<td><a th:href="@{/produtos/detalhes(codigoProduto=${op.produto.codigo})}" th:text="${op.produto.codigo}"></a></td>
						<td th:text="${op.produto.descricao}"></td>
						<td th:text="${op.quant}"></td>
						<td th:text="${op.saldo}"></td>
						<td th:text="${op.emissao}"></td>
						<td th:text="${op.datprf}"></td>
						<td th:text="${op.obs}"></td>
						<td th:text="${op.ultApto}"></td>
						<td th:text="${op.datUltApto}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>
		$(document).ready( function () {
		    var table = $('#myTable').DataTable({
		        responsive: true,
		        fixedHeader: true,
		        initComplete: function() {
		    		$('div.loading').toggleClass('d-none');
		        }
		    });
		});
	</script>
</body>
</html>