<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Dashboard')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
<script th:src="@{/js/dashboard.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(2)"></div>
			<div class="main" id="indicadores">
				<div class="buttons">
					<div class="button-group">
						<div class="trigger-button">
							<h5>Ortopedia</h5>
						</div>
						<div class="trigger-button">
							<h5>Equipamentos</h5>
						</div>
					</div>
					<div class="button-group">
						<div class="trigger-button">
							<h5>Ambos</h5>
						</div>
						<div class="trigger-button">
							<h5>Interno</h5>
						</div>
						<div class="trigger-button">
							<h5>Exportação</h5>
						</div>
					</div>
				</div>
				<div class="dashboards">
					<div class="dashboard dashboard-vendas">
						<div class="dashboard-header">
							<h5>Vendas</h5>
						</div>
						<div class="dashboard-vendas-indicador">
							<div class="grafico">
								<canvas class="chart pt-3" id="grafico-dashboard-vendas" height="100%"></canvas>
							</div>
							<p>50%</p>
						</div>
					</div>
					<div class="dashboard dashboard-vendas">
						<div class="dashboard-header">
							<h5>Faturamento</h5>
						</div>
						<div class="dashboard-vendas-indicador">
							<div class="grafico">
								<canvas class="chart pt-3" id="grafico-dashboard-vendas" height="200%"></canvas>
							</div>
							<p>50%</p>
						</div>
					</div>
					<div class="dashboard dashboard-vendas">
						<div class="dashboard-header">
							<h5>Despesas</h5>
						</div>
						<div class="dashboard-vendas-indicador">
							<div class="grafico">
								<canvas class="chart" id="grafico-dashboard-vendas" height="200%"></canvas>
							</div>
							<p>50%</p>
						</div>
					</div>
					<div class="dashboard dashboard-vendas">
						<div class="dashboard-header">
							<h5>Produção</h5>
						</div>
						<div class="dashboard-vendas-indicador">
							<div class="grafico">
								<canvas class="chart" id="grafico-dashboard-vendas" height="200%"></canvas>
							</div>
							<p>50%</p>
						</div>
					</div>
				</div><!-- End of Dashboard -->
			</div><!-- End of Main -->
		</div><!-- End of Row -->
	</div>
</body>
</html>