<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Indicadores de Vendas')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadoresResultados.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(0)"></div>
			<div id="indicadores" class="">
                <div class="jumbotron">
                    <h2 class="text-center">Comparativo</h2>
                    <select class="form-control col-1 d-inline-block">
                        <option>Mensal</option>
                        <option>Bimestral</option>
                        <option>Trimestral</option>
                        <option>Semestral</option>
                        <option>Anual</option>
                    </select>
                    <select class="form-control col-1 d-inline-block">
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                    </select>
                    <span>X</span>
                    <select class="form-control col-1 d-inline-block">
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                    </select>
                    <button id="btnComparativo" class="btn btn-primary mb-1">Gerar Grafico</button>
                </div>
                <div class="mini-jumbo col-12">
                    <h5 class="text-center">Ortopedia</h5>
                </div>
			</div>
		</div> <!-- End of row -->
	</div> <!-- End of .container-fluid -->
	<script th:src="@{/js/indicadoresResultados.js}"></script>
</body>
</html>