<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Relatorio Recebimento Analitico')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadoresRecebimento.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
    <div class="jumbotron">
		<h2 class="text-center">Relatorio Recebimento Analitico</h2>
	</div>
	<div class="container-fluid">
		<div class="table-responsive">
			<table class="display table table-compact table-striped table-sm" id="myTable">
			</table>
		</div>
	</div>
	<script th:inline="javascript">
		var dataTable = /*[[${dataTable}]]*/;
	</script>
	<script th:src="@{/js/indicadoresRecebimentoAnalitico.js}"></script>
</body>
</html>