<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Indicadores Faturamento')"></object>
<meta charset="UTF-8"/>
<meta http-equiv="refresh" content="120"/>
<link rel="stylesheet" th:href="@{/css/indicadoresFaturamento.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(4)"></div>
			<div id="indicadores">
				<div class="row">
					<div class="jumbotron col-12">
						<div class="form col-4 col-md-2 position-absolute mt-3">
							<select class="form-control" id="anoRef">
								<option>Ano Referencia</option>
							</select>
						</div>
						<h2 class="text-center col-12">Acompanhamento Anual</h2>
					</div>
					<h4 class="col-12 text-center">Vertical</h4>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA')" class="col-12 col-md-6">
						<h4 class="text-center">Ortopedia</h4>
						<canvas id="graficoFaturamentoOrtopedia" class="drilldown"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS')" class="col-12 col-md-6">
						<h4 class="text-center">Equipamentos</h4>
						<canvas id="graficoFaturamentoEquipamentos" class="drilldown"></canvas>
					</div>
					<h4 class="col-12 text-center">Horizontal</h4>
					<div class="col-12 graficoCelular">
						<canvas id="graficoFaturamentoHorizontal" height="100%" class="drilldown"></canvas>
					</div>
					<div class="jumbotron col-12">
						<h2 class="text-center col-12">Acompanhamento Mensal</h2>
					</div>
					<div class="col-12 graficoCelular">
						<canvas id="graficoFaturamentoMensal" height="100%" class="drilldown"></canvas>
					</div>
					<div class="jumbotron col-12">
						<h2 class="text-center col-12">Acompanhamento Diário</h2>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA')" class="col-6 col-md-3">
						<h4 class="text-center">Caixas</h4>
						<canvas id="graficoFaturamentoDetalhadoCaixas" class="drilldown"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA')" class="col-6 col-md-3">
						<h4 class="text-center">Reposição</h4>
						<canvas id="graficoFaturamentoDetalhadoReposicao" class="drilldown"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EXPORTACAO')" class="col-6 col-md-3">
						<h4 class="text-center">Exportação</h4>
						<canvas id="graficoFaturamentoDetalhadoExportacao" class="drilldown"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS')" class="col-6 col-md-3">
						<h4 class="text-center">Equipamentos</h4>
						<canvas id="graficoFaturamentoDetalhadoEquipamentos" class="drilldown"></canvas>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/indicadoresFaturamento.js}" th:inline="javascript"></script>
	</div>
</body>
</html>