<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Indicadores de Recebimento')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadoresRecebimento.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
<meta id="metas" th:value="${metas}"></meta>
</head>
<body>
    <nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(2)"></div>
			<div id="indicadores" class="">
				<div class="jumbotron">
					<h2 class="text-center">Dashboard</h2>
				</div>
				<div class="row pt-3 pb-3">
					<div class="col-4 text-center">
						<span>A receber total:</span>
						<a class="dashboard-text" th:href="@{/indicadores/recebimento/analitico/valor-a-receber}"><span id="valorAReceberTotal" class="font-weight-bold d-block">-</span></a>
					</div>
					<div class="col-4 text-center">
						<span>A receber atrasado:</span>
						<a class="dashboard-text" th:href="@{/indicadores/recebimento/analitico/valor-a-receber?tipo=ATRASADO}"><span id="valorAReceberAtrasado" class="font-weight-bold d-block">-</span></a>
						<div class="progress-bar-background">
							<div class="progress-bar"></div>
							<span class="progress-text"></span>
						</div>
					</div>
					<div class="col-4 text-center cursor-default">
						<span>Recebimento Mes Atual</span>
						<a class="dashboard-text"><span id="valorRecebimentoMesAtual" class="font-weight-bold d-block">-</span></a>
						<div class="progress-bar-background">
							<div class="progress-bar"></div>
							<span class="progress-text"></span>
						</div>
					</div>
					<div class="col-4 text-center">
						<span>A receber total ortopedia:</span>
						<a class="dashboard-text" th:href="@{/indicadores/recebimento/analitico/valor-a-receber?unidade=ORTOPEDIA}"><span id="valorAReceberTotalOrtopedia" class="font-weight-bold d-block">-</span></a>
					</div>
					<div class="col-4 text-center">
						<span>A receber atrasado ortopedia:</span>
						<a class="dashboard-text" th:href="@{/indicadores/recebimento/analitico/valor-a-receber?tipo=ATRASADO&unidade=ORTOPEDIA}"><span id="valorAReceberAtrasadoOrtopedia" class="font-weight-bold d-block">-</span></a>
						<div class="progress-bar-background">
							<div class="progress-bar"></div>
							<span class="progress-text"></span>
						</div>
					</div>
					<div class="col-4 text-center cursor-default">
						<span>Recebimento Mes Atual ortopedia</span>
						<a class="dashboard-text"><span id="valorRecebimentoMesAtualOrtopedia" class="font-weight-bold d-block">-</span></a>
						<div class="progress-bar-background">
							<div class="progress-bar"></div>
							<span class="progress-text"></span>
						</div>
					</div>
					<div class="col-4 text-center">
						<span>A receber total equipamentos:</span>
						<a class="dashboard-text" th:href="@{/indicadores/recebimento/analitico/valor-a-receber?unidade=EQUIPAMENTOS}"><span id="valorAReceberTotalEquipamentos" class="font-weight-bold d-block">-</span></a>
					</div>
					<div class="col-4 text-center">
						<span>A receber atrasado equipamentos:</span>
						<a th:href="@{/indicadores/recebimento/analitico/valor-a-receber?tipo=ATRASADO&unidade=EQUIPAMENTOS}"><span id="valorAReceberAtrasadoEquipamentos" class="font-weight-bold d-block">-</span></a>
						<div class="progress-bar-background">
							<div class="progress-bar"></div>
							<span class="progress-text"></span>
						</div>
					</div>
					<div class="col-4 text-center cursor-default">
						<span>Recebimento Mes Atual equipamentos</span>
						<a class="dashboard-text"><span id="valorRecebimentoMesAtualEquipamentos" class="font-weight-bold d-block">-</span></a>
						<div class="progress-bar-background">
							<div class="progress-bar"></div>
							<span class="progress-text"></span>
						</div>
					</div>
					<div class="col-4 text-center">
						<span>A receber total exportacao:</span>
						<a class="dashboard-text" th:href="@{/indicadores/recebimento/analitico/valor-a-receber?unidade=EXPORTACAO}"><span id="valorAReceberTotalExportacao" class="font-weight-bold d-block">-</span></a>
					</div>
					<div class="col-4 text-center">
						<span>A receber atrasado exportacao:</span>
						<a class="dashboard-text" th:href="@{/indicadores/recebimento/analitico/valor-a-receber?tipo=ATRASADO&unidade=EXPORTACAO}"><span id="valorAReceberAtrasadoExportacao" class="font-weight-bold d-block">-</span></a>
						<div class="progress-bar-background">
							<div class="progress-bar"></div>
							<span class="progress-text"></span>
						</div>
					</div>
					<div class="col-4 text-center cursor-default">
						<span>Recebimento Mes Atual exportacao</span>
						<a class="dashboard-text"><span id="valorRecebimentoMesAtualExportacao" class="font-weight-bold d-block">-</span></a>
						<div class="progress-bar-background">
							<div class="progress-bar"></div>
							<span class="progress-text"></span>
						</div>
					</div>
				</div>
				<div class="jumbotron">
					<h2 class="text-center">Recebimentos Mensal</h2>
				</div>
				<div class="row pl-3 pr-3">
					<div class="col-6 pr-0 pl-0">
						<div class="mini-jumbo">
							<h2 class="text-center">Ortopedia</h2>
						</div>
						<canvas id="graficoRecebimentoMensalOrtopedia" class="drilldown"></canvas>
					</div>
					<div class="col-6 pr-0 pl-0">
						<div class="mini-jumbo">
							<h2 class="text-center">Equipamentos</h2>
						</div>
						<canvas id="graficoRecebimentoMensalEquipamentos" class="drilldown"></canvas>
					</div>
					<div class="col-6 pr-0 pl-0">
						<div class="mini-jumbo">
							<h2 class="text-center">Exportação</h2>
						</div>
						<canvas id="graficoRecebimentoMensalExportacao" class="drilldown"></canvas>
					</div>
				</div>
				
				
				<div class="jumbotron">
					<h2 class="text-center">Inadimplencia Mensal</h2>
				</div>
				<div class="row pl-3 pr-3">
					<div class="col-6 pr-0 pl-0">
						<div class="mini-jumbo">
							<h2 class="text-center">Total</h2>
						</div>
						<canvas id="graficoInadimplenciaMensalTotal"></canvas>
					</div>
					<div class="col-6 pr-0 pl-0">
						<div class="mini-jumbo">
							<h2 class="text-center">Ortopedia</h2>
						</div>
						<canvas id="graficoInadimplenciaMensalOrtopedia"></canvas>
					</div>
					<div class="col-6 pr-0 pl-0">
						<div class="mini-jumbo">
							<h2 class="text-center">Equipamentos</h2>
						</div>
						<canvas id="graficoInadimplenciaMensalEquipamentos"></canvas>
					</div>
					<div class="col-6 pr-0 pl-0">
						<div class="mini-jumbo">
							<h2 class="text-center">Exportação</h2>
						</div>
						<canvas id="graficoInadimplenciaMensalExportacao"></canvas>
					</div>
				</div>
			</div><!-- End of indicadores -->
		</div> <!-- End of row -->
	</div> <!-- End of .container-fluid -->
	
	<script th:src="@{/js/indicadoresRecebimento.js}"></script>
</body>
</html>