<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Indicadores')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid main">
		<div class="row h-100">
			<div class="menu-lateral" th:insert="templateFile :: dropdown-itens-indicadores" th:fragment="menu-lateral(selected)">
			</div>
		</div>
	</div>
	<div class="loading d-none">Loading&#8230;</div>
	<script>
		$('div.container ul li a[href]').click(function() {
			$('nav').toggleClass('d-none');
			$('ul').toggleClass('d-none');
			$('div.loading').toggleClass('d-none');
		});
	</script>
</body>
</html>