<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Indicadores de Compras')"></object>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/indicadoresCompras.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(10)"></div>
			<div id="indicadores">
				<div class="row">
					<div class="jumbotron col-12">
						<div class="form-inline position-absolute mt-3 ml-5">
							<input id="analise-compras-de" class="form-control mr-4 date-picker" placeholder="Periodo De" autocomplete="off" value="20190901"/>
							<input id="analise-compras-ate" class="form-control date-picker mr-4" placeholder="Periodo Ate" autocomplete="off" value="20190931"/>
							<button id="btn-analise-compra" class="btn btn-success">Gerar Analise</button>
						</div>
						<h2 class="text-center">Analise Compras</h2>
					</div>
					<div class="col-12 col-md-6 pr-0">
						<div class="mini-jumbo">
							<h5 class="text-center">Ortopedia</h5>
						</div>
						<table id="tabelaAnaliseOrtopedia" class="ml-3 mt-2 mb-2">
							<tbody>
								<tr>
									<th>Total Pedidos</th>
									<td id="totalPedidos">-</td>
								</tr>
								<tr>
									<th>Valor Total Pedidos</th>
									<td id="valorTotalPedidos">-</td>
								</tr>
								<tr>
									<th>Qtd Compras c/ Preço > Historico</th>
									<td><a id="qtdComprasMaior" class="text-danger" href="#">-</a></td>
								</tr>
								<tr>
									<th>Valor Compras c/ Preço Excedentes</th>
									<td><a id="valorComprasMaior" class="text-danger" href="#">-</a></td>
								</tr>
								<tr>
									<th>Qtd Compras c/ Preço < Historico</th>
									<td><a id="qtdComprasMenor" class="text-success" href="#">-</a></td>
								</tr>
								<tr>
									<th>Valor Compras c/ Preço Menores</th>
									<td><a id="valorComprasMenor" class="text-success" href="#">-</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					
					<div class="col-12 col-md-6 pl-0">	
						<div class="mini-jumbo">
							<h5 class="text-center">Equipamentos</h5>
						</div>
						<table id="tabelaAnaliseEquipamentos" class="ml-3 mt-2 mb-2">
							<tbody>
								<tr>
									<th>Total Pedidos</th>
									<td id="totalPedidos">-</td>
								</tr>
								<tr>
									<th>Valor Total Pedidos</th>
									<td id="valorTotalPedidos">-</td>
								</tr>
								<tr>
									<th>Qtd Compras c/ Preço > Historico</th>
									<td><a id="qtdComprasMaior" class="text-danger" href="#">-</a></td>
								</tr>
								<tr>
									<th>Valor Compras c/ Preço Excedentes</th>
									<td><a id="valorComprasMaior" class="text-danger" href="#">-</a></td>
								</tr>
								<tr>
									<th>Qtd Compras c/ Preço < Historico</th>
									<td><a id="qtdComprasMenor" class="text-success" href="#">-</a></td>
								</tr>
								<tr>
									<th>Valor Compras c/ Preço Menores</th>
									<td><a id="valorComprasMenor" class="text-success" href="#">-</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="jumbotron col-12">
						<h2 class="text-center">Valor Total Compras</h2>
					</div>
					<div class="col-12 col-md-6 pr-0">
                        <div class="mini-jumbo">
                            <h4 class="text-center">Ortopedia</h4>
                        </div>
						<canvas id="graficoComprasOrtopedia" class="drilldown"></canvas>
					</div>
					<div class="col-12 col-md-6 pl-0">
                        <div class="mini-jumbo">
                            <h4 class="text-center">Equipamentos</h4>
                        </div>
						<canvas id="graficoComprasEquipamentos" class="drilldown"></canvas>
                    </div>
                    
                    
                    
                    <div class="jumbotron col-12">
                        <h2 class="text-center">Relação de Pedidos</h2>
                        <select id="selectPeriodo" onChange="getPedidos()">
                            <option value="DIAATUAL">Dia Atual</option>
                            <option value="MESATUAL">Mes Atual</option>
                            <option value="ANOATUAL">Ano Atual</option>
                            <option>Personalizado</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-12 pl-2">
                            <div class="mini-jumbo">
                                <h5 class="text-center">Ortopedia</h5>
                            </div>
                            <table id="pedidosDiaOrtopedia" class="pedidosDia table table-sm table-striped">
                            </table>
                        </div>
                        <div class="col-12 pl-2">
                            <div class="mini-jumbo">
                                <h5 class="text-center">Equipamentos</h5>
                            </div>
                            <table id="pedidosDiaEquipamentos" class="pedidosDia  table table-sm table-striped">
                            </table>
                        </div>
                    </div>
                    
                    
                    
                    <div class="jumbotron col-12">
                        <h2 class="text-center">Compras por Segmento</h2>
                        <select id="selectPeriodoSegmento" onChange="getComprasSegmento()">
                            <option value="DIAATUAL">Dia Atual</option>
                            <option value="MESATUAL">Mes Atual</option>
                            <option value="ANOATUAL">Ano Atual</option>
                            <option>Personalizado</option>
                        </select>
                    </div>
                    <div class="col-6 pr-0">
                        <div class="mini-jumbo">
                            <h5 class="text-center">Ortopedia</h5>
                        </div>
                        <canvas id="graficoComprasSegmentoOrtopedia" height="75rem"></canvas>
                    </div>
                    <div class="col-6 pl-0">
                        <div class="mini-jumbo">
                            <h5 class="text-center">Equipamentos</h5>
                        </div>
                        <canvas id="graficoComprasSegmentoEquipamentos" height="75rem"></canvas>
                    </div>
                </div> <!-- End of Row -->
            </div>
		</div>
		<script th:src="@{/js/indicadoresCompras.js}"></script>
	</div>
</body>
</html>