<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Indicadores de Vendas')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadoresFinanceiro.css}" />
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(9)"></div>
			<div class="col-1 d-none menu-lateral-holder"></div>
			<div id="indicadores">
				<div class="row">
					<div class="col-12 jumbotron">
						<h2 class="text-center">Baixas</h2>
					</div>
					<div class="col-4">
						<h4 class="text-center">Ortopedia</h4>
						<canvas id="graficoBaixasAnualOrtopedia" height="200%"></canvas>
					</div>
					<div class="col-4">
						<h4 class="text-center">Equipamentos</h4>
						<canvas id="graficoBaixasAnualEquipamentos" height="200%"></canvas>
					</div>
					<div class="col-4">
						<h4 class="text-center">Não Classificado</h4>
						<canvas id="graficoBaixasAnualSemClas" height="200%"></canvas>
					</div>
					<h5 class="text-center col-12"><a th:href="@{/indicadores/financeiro/download-baixas}">Download Excel</a></h5>
					<div class="col-12">
						<div class="mini-jumbo">
							<h5 class="text-center mt-2">Baixas</h5>
						</div>
						<table id="tabelaBaixasOrtopedia" class="table table-sm table-striped w-100"></table>
					</div>
<!-- 					<div class="col-12"> -->
<!-- 						<div class="mini-jumbo"> -->
<!-- 							<h5 class="text-center mt-2">Baixas Equipamentos</h5> -->
<!-- 						</div> -->
<!-- 						<table id="tabelaBaixasEquipamentos" class="table table-sm table-striped w-100"></table> -->
<!-- 					</div> -->
<!-- 					<div class="col-12"> -->
<!-- 						<div class="mini-jumbo"> -->
<!-- 							<h5 class="text-center mt-2">Baixas N_CLASS</h5> -->
<!-- 						</div> -->
<!-- 						<table id="tabelaBaixasNClass" class="table table-sm table-striped w-100"></table> -->
<!-- 					</div> -->
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/indicadoresFinanceiro.js}"></script>
</body>
</html>