<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Indicadores de Orcamentos')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadoresOrcamentos.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
<meta id="metas" th:value="${metas}"></meta>
</head>
<body>
    <nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(2)"></div>
			<div id="indicadores" class="">
			<div class="jumbotron">
				<h2 class="text-center">Orcamentos</h2>
			</div>
			<div class="mini-jumbo">
				<h5 class="text-center">Dashboard</h5>
			</div>
			<div class="dashboard row">
				<div class="col-md-6">
					<div class="mini-jumbo">
						<h5 class="text-center">Ortopedia</h5>
					</div>
					<canvas id="dashboard-orcamentos-ortopedia"></canvas>
				</div>
				<div class="col-md-6">
					<div class="mini-jumbo">
						<h5 class="text-center">Equipamentos</h5>
					</div>
					<canvas id="dashboard-orcamentos-equipamentos"></canvas>
				</div>
			</div>
			
			
			
			</div>
		</div> <!-- End of row -->
	</div> <!-- End of .container-fluid -->
	
	<script th:src="@{/js/indicadoresOrcamentos.js}"></script>
</body>
</html>