<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Indicadores')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadoresProducao.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(5)"></div>
			<div id="indicadores">
				<div class="row">
					<div sec:authorize="hasAnyAuthority('ADMIN', 'DIRETORIA', 'GERENTEINDUSTRIAL')" class="col-12 row">
						<div class="jumbotron col-12">
							<h2 class="text-center">Produção Anual</h2>
						</div>
						<div class="col-md-6">
							<h5 class="text-center">Ortopedia</h5>
							<canvas id="graficoProducaoAnualOrtopedia"></canvas>
						</div>
						<div class="col-md-6">
							<h5 class="text-center">Equipamentos</h5>
							<canvas id="graficoProducaoAnualEquipamentos"></canvas>
						</div>
					</div>
					<div class="jumbotron col-12">
						<h2 class="text-center">Relação de Entregas</h2>
						<h5 class="text-center">Ortopedia</h5>
						<div class="row text-center">
							<div class="col-6">
								<h6>Produtos em Carteira Caixas:</h6>
								<p>5000</p>
							</div>
							<div class="col-6">
								<h6>Produtos em Carteira Caixas + 60 dias:</h6>
								<p>5000</p>
							</div>
							<div class="col-6">
								<h6>Produtos em Carteira Reposicao:</h6>
								<p>5000</p>
							</div>
							<div class="col-6">
								<h6>Produtos em Carteira Reposicao + 30 dias:</h6>
								<p>5000</p>
							</div>
						</div>
						<h5 class="text-center">Equipamentos</h5>
						<div class="row text-center">
							<div class="col-6">
								<h6>Equipamentos em carteira:</h6>
								<p>5000</p>
							</div>
							<div class="col-6">
								<h6>Equipamentos em carteira + 70 dias:</h6>
								<p>5000</p>
							</div>
						</div>
					</div>
					<div class="jumbotron col-12">
						<h2 class="text-center">Carga Máquina</h2>
						<p>Ordens de produção com a fase do recurso ainda em aberto</p>
					</div>
					<div class="col-12">
						<h5 class="text-center">Ortopedia</h5>
						<canvas id="graficoCargaMaquina" height="400rem"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/indicadoresProducao.js}"></script>
</body>
</html>