<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Indicadores de Estoques')"></object>
<meta charset="UTF-8"/>
<meta http-equiv="refresh" content="120"/>
<link rel="stylesheet" th:href="@{/css/indicadoresEstoques.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(6)"></div>
			<div id="indicadores">
				<div class="row">
                    <div class="jumbotron col-12">
                        <h2 class="text-center col-12">Almoxarifado</h2>
                    </div>
                    <div class="col-lg-6">
                    	<div class="mini-jumbo">
                        	<h4 class="text-center">Ortopedia</h4>
                        </div>
                        <canvas id="graficoAlmoxarifadoOrtopedia" height="120" class="drilldown"></canvas>
                    </div>
                    <div class="col-lg-6">
                    	<div class="mini-jumbo">
                        	<h4 class="text-center">Equipamentos</h4>
                        </div>
                        <canvas id="graficoAlmoxarifadoEquipamentos" height="120" class="drilldown"></canvas>
                    </div>
                    <div sec:authoryze="hasAnyAuthority('ADMIN', 'DIRETORIA')" class="jumbotron col-12">
                        <h2 class="text-center col-12">Produtos Acabados (Preço de venda)</h2>
                    </div>
                    <div sec:authoryze="hasAnyAuthority('ADMIN', 'DIRETORIA')" class="col-lg-6">
                    	<div class="mini-jumbo">
                        	<h4 class="text-center">Ortopedia</h4>
                        </div>
                        <canvas id="graficoEstoqueOrtopedia" height="120" class="drilldown"></canvas>
                    </div>
                    <div sec:authoryze="hasAnyAuthority('ADMIN', 'DIRETORIA')" class="col-lg-6">
                    	<div class="mini-jumbo">
                        	<h4 class="text-center">Equipamentos</h4>
                        </div>
                        <canvas id="graficoEstoqueEquipamentos" height="120" class="drilldown"></canvas>
                    </div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'DIRETORIA', 'GERENTEINDUSTRIAL')" class="jumbotron col-12">
						<h2>Valor Total em Estoque: <span th:text="${valorEstoque}"></span></h2>
						<h2>Valor em Estoque há mais de 2 anos: <span th:text="${valorAcima2Anos}"></span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script th:src="@{/js/indicadoresEstoques.js}"></script>
</body>
</html>