<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Indicadores de Vendas')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadoresVendas.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
<meta id="metas" th:value="${metas}"></meta>
</head>
<body>
    <nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(2)"></div>
			<div id="indicadores" class="">
				<div class="row ml-0 mr-0">
					<div class="jumbotron col-12">
						<div id="form-ano-referencia" class="form col-6 col-lg-2">
							<select class="form-control" id="anoRef">
								<option>Ano Referencia</option>
							</select>
						</div>
						<h2 class="text-center col-12">Acompanhamento Mensal</h2>
						<a id="btn-metas" class="btn btn-primary" th:href="@{?metas=true}">Metas</a>
                    </div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'FINANCEIRO')" class="col-12 col-xl-6 pr-0 pl-0">
                        <div class="mini-jumbo">
                            <h4 class="text-center">Ortopedia</h4>
                        </div>
						<canvas id="graficoVendasOrtopedia" class="drilldown"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'FINANCEIRO')" class="col-12 col-xl-6 pr-0 pl-0">
                        <div class="mini-jumbo">
                            <h4 class="text-center">Equipamentos</h4>
                        </div>
						<canvas id="graficoVendasEquipamentos" class="drilldown"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EXPORTACAO', 'FINANCEIRO')" class="col-12 col-xl-6 pr-0 pl-0">
                        <div class="mini-jumbo">
                            <h4 class="text-center">Exportacao Ortopedia (USD 1.00 = R$ <span th:text="${taxaDolar}"></span>)</h4>
                        </div>
						<canvas id="graficoVendasExportacaoOrtopedia" class="drilldown"></canvas>
                    </div>
                    <div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EXPORTACAO', 'FINANCEIRO')" class="col-12 col-xl-6 pr-0 pl-0">
                        <div class="mini-jumbo">
                            <h4 class="text-center">Exportacao Equipamentos (USD 1.00 = R$ <span th:text="${taxaDolar}"></span>)</h4>
                        </div>
						<canvas id="graficoVendasExportacaoEquipamentos" class="drilldown"></canvas>
                    </div>
                    <div sec:authorize="hasAnyAuthority('ADMIN', 'FINANCEIRO')" class="mini-jumbo w-100">
                        <h4 class="text-center w-100">Acompanhamento Anual</h4>
                    </div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'FINANCEIRO')" class="col-12 graficoCelular">
						<canvas id="graficoVendasHorizontal" height="120rem"></canvas>
					</div>
<!-- 					<div class="jumbotron col-12"> -->
<!-- 						<h2 class="text-center col-12">Acompanhamento Mensal</h2> -->
<!-- 					</div> -->
<!-- 					<div class="col-12 graficoCelular"> -->
<!-- 						<canvas id="graficoVendasMensal" height="120rem"></canvas> -->
<!-- 					</div> -->
					<div class="jumbotron col-12">
						<h2 class="text-center col-12">Acompanhamento Diário</h2>
					</div>
					<div class="mini-jumbo col-12">
						<h4 class="text-center">Vendas</h4>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Caixas</h4>
						<canvas id="graficoVendasDetalhadoCaixas" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Reposição</h4>
						<canvas id="graficoVendasDetalhadoReposicao" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EXPORTACAO', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Exportação</h4>
						<canvas id="graficoVendasDetalhadoExportacao" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Equipamentos</h4>
						<canvas id="graficoVendasDetalhadoEquipamentos" class="drilldown" height="150rem"></canvas>
					</div>
					


					<!-- -------------------------------------------------------------- Orcamentos ------------------------------------------------------------->
					<div class="jumbotron col-12">
						<h4 class="text-center">Orçamentos<a class="d-line-block font-size-1" href="#"> +[mais]</a></h4>
					</div>
					
					<div class="mini-jumbo col-12">
						<h5 class="text-center">Em Aberto</h5>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Qtd Orçamentos Ortopedia</h4>
						<canvas id="qtdOrcamentosOrtopedia" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Valor Orçamentos Ortopedia</h4>
						<canvas id="valorOrcamentosOrtopedia" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Qtd Orçamentos Equipamentos</h4>
						<canvas id="qtdOrcamentosEquipamentos" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Valor Orçamentos Equipamentos</h4>
						<canvas id="valorOrcamentosEquipamentos" class="drilldown" height="150rem"></canvas>
					</div>
					
					
					
					<div class="mini-jumbo col-12">
						<h5 class="text-center">Aprovados</h5>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Qtd Orçamentos Ortopedia</h4>
						<canvas id="qtdOrcamentosOrtopediaAprovados" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Valor Orçamentos Ortopedia</h4>
						<canvas id="valorOrcamentosOrtopediaAprovados" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Qtd Orçamentos Equipamentos</h4>
						<canvas id="qtdOrcamentosEquipamentosAprovados" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Valor Orçamentos Equipamentos</h4>
						<canvas id="valorOrcamentosEquipamentosAprovados" class="drilldown" height="150rem"></canvas>
					</div>
					
					
					
					<div class="mini-jumbo col-12">
						<h5 class="text-center">Cancelados</h5>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Qtd Orçamentos Ortopedia</h4>
						<canvas id="qtdOrcamentosOrtopediaCancelados" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Valor Orçamentos Ortopedia</h4>
						<canvas id="valorOrcamentosOrtopediaCancelados" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Qtd Orçamentos Equipamentos</h4>
						<canvas id="qtdOrcamentosEquipamentosCancelados" class="drilldown" height="150rem"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'FINANCEIRO')" class="col-6 col-sm-6 col-xl-3 grafico">
						<h4 class="text-center">Valor Orçamentos Equipamentos</h4>
						<canvas id="valorOrcamentosEquipamentosCancelados" class="drilldown" height="150rem"></canvas>
					</div>
					
					<!-- -------------------------------------------------------------- Fim de Orçamentos ------------------------------------------------------------->
					
					
					<div class="jumbotron col-12">
						<h2 class="text-center">Pedidos do Dia</h2>
					</div>
					<div class="col-12">
						<table id="tableVendasDia" class="table table-sm table-responsive">
						</table>			
					</div>
<!-- 					<div class="jumbotron col-12"> -->
<!-- 						<h2 class="text-center col-12">Carteira Pendente</h2> -->
<!-- 					</div> -->
<!-- 					<div class="col-12 graficoCelular"> -->
<!-- 						<canvas id="graficoCarteiraPendente" class="drilldown" height="120rem"></canvas> -->
<!-- 					</div> -->
					<div class="jumbotron col-12">
                        <h2 class="text-center col-12">Top 15 Clientes</h2>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'FINANCEIRO')" class="col-12 col-xl-6 pr-0 pl-0 retrato-grafico">
                        <div class="mini-jumbo">
                            <h4 class="text-center">Ortopedia</h4>
                        </div>
						<canvas id="graficoTopClientesOrtopedia" class="drilldown"></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-EXPORTACAO', 'FINANCEIRO')" class="col-12 col-xl-6 pr-0 pl-0 retrato-grafico">
                        <div class="mini-jumbo">
                            <h4 class="text-center">Equipamentos</h4>
                        </div>
						<canvas id="graficoTopClientesEquipamentos" class="drilldown"></canvas>
					</div>
					<div class="jumbotron col-12 retrato-grafico">
						<h2 class="text-center col-12">Top 15 Produtos</h2>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA', 'VENDAS-EXPORTACAO', 'FINANCEIRO')" class="col-12 col-xl-6 pr-0 pl-0 retrato-grafico">
                        <div class="mini-jumbo">
                            <h4 class="text-center">Ortopedia</h4>
                        </div>
						<canvas id="graficoTopProdutosOrtopedia" class=""></canvas>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS', 'VENDAS-EXPORTACAO', 'FINANCEIRO')" class="col-12 col-xl-6 pr-0 pl-0 retrato-grafico">
                        <div class="mini-jumbo">
                            <h4 class="text-center">Equipamentos</h4>
                        </div>
						<canvas id="graficoTopProdutosEquipamentos" class=""></canvas>
					</div>
				</div>
			</div>
		</div> <!-- End of row -->
	</div> <!-- End of .container-fluid -->
	
	<script th:src="@{/js/indicadoresVendas.js}"></script>
</body>
</html>