<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Indicadores Gerenciais')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadoresGerenciais.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(1)"></div>
			<div id="indicadores">
				<div class="row">
					<div class="jumbotron col-12">
						<div class="form col-4 col-md-2">
							<select class="form-control" id="anoRef">
								<option>Ano Referencia</option>
							</select>
						</div>
						<h2 class="text-center col-12">Indicadores de Resultados Vertical</h2>
					</div>
					<div class="col-12 col-lg-12">
						<h4 class="text-center">Ortopedia</h4>
						<div class="graficoVertical">
							<canvas id="graficoGerencialOrtopediaMensal" height="120"></canvas>
						</div>
					</div>
					<div class="col-12 col-lg-12">
						<h4 class="text-center">Equipamentos</h4>
						<div class="graficoVertical">
							<canvas id="graficoGerencialEquipamentosMensal" height="120"></canvas>
						</div>
					</div>
					<div class="jumbotron col-12">
						<h2 class="text-center col-12">Indicadores de Resultados Horizontal</h2>
					</div>
					<div class="col-12 col-lg-12 graficoCelular">
						<h4 class="text-center">Ortopedia</h4>
						<canvas id="graficoGerencialOrtopediaAnual"></canvas>
					</div>
					<div class="col-12 col-lg-12 graficoCelular">
						<h4 class="text-center">Equipamentos</h4>
						<canvas id="graficoGerencialEquipamentosAnual"></canvas>
					</div>
				</div>
			</div>
		</div>
		<script th:src="@{/js/indicadoresGerenciais.js}"></script>
	</div>
</body>
</html>