<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Indicadores de Recursos Humanos')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/indicadoresRecursosHumanos.css}"/>
<script th:src="@{/js/indicadoresRecursosHumanos.js}"></script>
<!-- <link rel="stylesheet" th:href="@{/css/indicadores.css}"/> -->
<meta id="metas" th:value="${metas}"></meta>
</head>
<body>
    <nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div id="indicadores" class="">
				<div class="row">
					<div class="jumbotron col-12">
						<h2 class="text-center col-12">Indicadores Recursos Humanos</h2>
					</div>
					<div class="mini-jumbo col-12 bg-gray color-white">
						<h4 class="text-center">Escolaridade</h4>
					</div>
					<div class="col-6">
						<div class="mini-jumbo text-center bg-dark text-white">
							<h4>Ortopedia</h4>
						</div>
						<canvas id="graficoEscolaridadeOrtopedia" class="drilldown" height="100px"></canvas>
					</div>
					<div class="col-6">
						<div class="mini-jumbo text-center bg-dark text-white">
							<h4>Equipamentos</h4>
						</div>
						<canvas id="graficoEscolaridadeEquipamentos" class="drilldown" height="100px"></canvas>
					</div>
					<div class="col-12">
						<div class="mini-jumbo bg-gray">
							<h4 class="text-center">Escolaridade Mensal</h4>
						</div>
						<div class="mini-jumbo bg-dark text-white">
							<h4 class="text-center">Ortopedia</h4>
						</div>
						<canvas id="graficoEscolaridadeMensalOrtopedia" height="60px"></canvas>
						<div class="mini-jumbo bg-dark text-white">
							<h4 class="text-center">Equipamentos</h4>
						</div>
						<canvas id="graficoEscolaridadeMensalEquipamentos" height="60px"></canvas>
					</div>
					<div class="col-12">
						<div class="mini-jumbo bg-gray">
							<h4 class="text-center">Turnover</h4>
						</div>
					</div>
					<div class="col-12 col-lg-6 table-responsive">
						<div class="mini-jumbo bg-dark text-white">
							<h4 class="text-center">Ortopedia</h4>
						</div>
						<canvas id="graficoRotatividadeOrtopedia" height="75px"></canvas>
						<table id="tabelaRotatividadeOrtopedia" class="table table-striped table-bordered table-sm table-rotatividade"></table>
					</div>
					<div class="col-12 col-lg-6 table-responsive">
						<div class="mini-jumbo bg-dark text-white">
							<h4 class="text-center">Equipamentos</h4>
						</div>
						<canvas id="graficoRotatividadeEquipamentos" height="75px"></canvas>
						<table id="tabelaRotatividadeEquipamentos" class="table table-striped table-bordered table-sm table-rotatividade"></table>
					</div>
				</div>
			</div>
		</div> <!-- End of row -->
	</div> <!-- End of .container-fluid -->
</body>
</html>