<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Indicadores de Vendas')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/mapaVendas.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
<script th:src="@{/js/mapaVendas.js}"></script>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(6)"></div>
			<div id="indicadores">
				<div class="row">
					<div class="jumbotron col-12">
						<select id="unidade">
                            <option value="ORTOPEDIANACIONAL">ORTOPEDIA - Nacional</option>
                            <option value="EQUIPAMENTOSNACIONAL">EQUIPAMENTOS - Nacional</option>
                            <option value="ORTOPEDIAEXPORTACAO">ORTOPEDIA - Exportacao</option>
                            <option value="EQUIPAMENTOSEXPORTACAO">EQUIPAMENTOS - Exportacao</option>
                        </select>
						<button id="btnGerarMapa" type="submit">Gerar Mapa</button>
                        <h2 class="text-center col-12">Mapa de Vendas</h2>
                    </div>
                    <div class="col-8">
                        <table id="myTable" class="table table-sm table-compact display table-striped table-hover w-100">
                            <tfoot class="d-none">
                                <tr>
                                    <th id="estado">Estado</th>
                                    <th>Cliente</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-4">
                        <div th:replace="models/mapaBrasil :: mapa-brasil"></div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</body>
</html>