<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Indicadores de Vendas por Linha de Produtos')"></object>
<meta charset="UTF-8"/>
<link rel="stylesheet" th:href="@{/css/vendasPorLinha.css}"/>
<link rel="stylesheet" th:href="@{/css/indicadores.css}"/>
</head>
<body>
    <nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="indicadores/indicadores :: menu-lateral(3)"></div>
			<div id="indicadores" class="">
				<div class="row ml-0 mr-0">
					<div class="col-12 pl-0 pr-0">
						<div class="jumbotron">
							<h2 class="text-center">Vendas por Linha</h2>
						</div>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA')" class="col-12 pl-0 pr-0">
						<div class="mini-jumbo">
							<h2 class="text-center">Metas</h2>
						</div>
						<div class="mini-jumbo mt-2">
							<h2 class="text-center">Ortopedia</h2>
						</div>
						
						<div class="cards">
							<div class="metaCard" th:classappend="${meta.porcentagemRelativa} > 100 ? 'atingida' : 'nao-atingida'" th:each="meta : ${metas}">
								<h3 th:text="${meta.metaLinha}">Placas + Parafusos</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor" th:classappend="${meta.porcentagemRelativa} >= 100 ? 'success' : 'failure'" th:text="${meta.porcentagemRelativa} + '%'">R$ 999.999,99</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block" th:text="'M: R$ ' + ${#numbers.formatDecimal(meta.meta / 12, 0, 'POINT', 2, 'COMMA')}">M: R$ 80.256,57</span>
										<span class="d-inline-block" th:text="'A: R$ ' + ${#numbers.formatDecimal(meta.meta, 0, 'POINT', 2, 'COMMA')}">A: R$ 127.025,65</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value" th:text="${meta.porcentagemAbsoluta} + '%'"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-ORTOPEDIA')" class="col-12 pl-0 pr-0 mt-3">
						<table id="tableVendasOrtopedia" class="display table table-sm table-compact table-striped table-bordered"></table>
						<table id="tableVendasOrtopediaClientes" class="display table table-sm table-compact table-striped table-bordered"></table>
					</div>
					<div sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS-EQUIPAMENTOS')" class="col-12 pl-0 pr-0">
						<div class="mini-jumbo">
							<h2 class="text-center">Equipamentos</h2>
						</div>
						
						
						
						<div class="cards">
							<!-- Autoclave -->
<!-- 							<div class="metaCard" th:classappend="${meta.porcentagemRelativa} > 100 ? 'atingida' : 'nao-atingida'" th:each="meta : ${metas}"> -->
<!-- 								<h3 th:text="${meta.metaLinha}">Placas + Parafusos</h3> -->
<!-- 								<div class="meta"> -->
<!-- 									<span class="label"></span> -->
<!-- 									<div class="valorMeta"> -->
<!-- 										<span class="valor" th:classappend="${meta.porcentagemRelativa} >= 100 ? 'success' : 'failure'" th:text="${meta.porcentagemRelativa} + '%'">R$ 999.999,99</span> -->
<!-- 									</div> -->
<!-- 									<div class="metasAno"> -->
<!-- 										<span class="d-inline-block" th:text="'M: R$ ' + ${#numbers.formatDecimal(meta.meta / 12, 0, 'POINT', 2, 'COMMA')}">M: R$ 80.256,57</span> -->
<!-- 										<span class="d-inline-block" th:text="'A: R$ ' + ${#numbers.formatDecimal(meta.meta, 0, 'POINT', 2, 'COMMA')}">A: R$ 127.025,65</span> -->
<!-- 									</div> -->
<!-- 									<div class="progress"> -->
<!-- 										<div class="progress-bar progress-bar-striped progress-bar-animated"></div> -->
<!-- 										<span class="value" th:text="${meta.porcentagemAbsoluta} + '%'"></span> -->
<!-- 									</div> -->
<!-- 								</div> -->
<!-- 							</div> -->
							<div id="AC96" class="metaCard nao-atingida" title="2016: 50 / 2017: 50 / 2018: 50 / 2019: 50">
								<h3>Autoclave 96L</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">6</span>
										<span class="d-inline-block">6</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC100GP" class="metaCard nao-atingida">
								<h3>Autoclave 100GP</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">14</span>
										<span class="d-inline-block">14</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC127" class="metaCard nao-atingida">
								<h3>Autoclave 127L</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">14</span>
										<span class="d-inline-block">14</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC254" class="metaCard nao-atingida">
								<h3>Autoclave 254L</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">7</span>
										<span class="d-inline-block">7</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC254GP" class="metaCard nao-atingida">
								<h3>Autoclave 254GP</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">7</span>
										<span class="d-inline-block">7</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC365" class="metaCard nao-atingida">
								<h3>Autoclave 365L</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">11</span>
										<span class="d-inline-block">11</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC365GP" class="metaCard nao-atingida">
								<h3>Autoclave 365GP</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">11</span>
										<span class="d-inline-block">11</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC523" class="metaCard nao-atingida">
								<h3>Autoclave 523L</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">8</span>
										<span class="d-inline-block">8</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC523GP" class="metaCard nao-atingida">
								<h3>Autoclave 523GP</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">8</span>
										<span class="d-inline-block">8</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC600" class="metaCard nao-atingida">
								<h3>Autoclave 600L</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">1</span>
										<span class="d-inline-block">1</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC697" class="metaCard nao-atingida">
								<h3>Autoclave 697L</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">1</span>
										<span class="d-inline-block">1</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="AC697GP" class="metaCard nao-atingida">
								<h3>Autoclave 697GP</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">1</span>
										<span class="d-inline-block">1</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="ALR" class="metaCard nao-atingida">
								<h3>Autoclave Resíduo</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">2</span>
										<span class="d-inline-block">2</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="TD290" class="metaCard nao-atingida">
								<h3>Termodesinfectora</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">16</span>
										<span class="d-inline-block">16</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="LVU" class="metaCard nao-atingida">
								<h3>Lavadora Ultrassônica</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">7</span>
										<span class="d-inline-block">7</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="FL" class="metaCard nao-atingida">
								<h3>Foco de Luz</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">4</span>
										<span class="d-inline-block">4</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="MC" class="metaCard nao-atingida">
								<h3>Mesa Cirúrgica</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">2</span>
										<span class="d-inline-block">2</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
							<div id="GS" class="metaCard nao-atingida">
								<h3>Gabinete de Secagem</h3>
								<div class="meta">
									<span class="label"></span>
									<div class="valorMeta">
										<span class="valor success">0</span>
									</div>
									<div class="metasAno">
										<span class="d-inline-block">3</span>
										<span class="d-inline-block">3</span>
									</div>
									<div class="progress">
										<div class="progress-bar progress-bar-striped progress-bar-animated"></div>
										<span class="value">50%</span>
									</div>
								</div>
							</div>
					</div>

						
					<table id="tableVendasEquipamentos" class="display table table-sm table-compact table-striped table-bordered"></table>
				</div>
			</div>
		</div> <!-- End of row -->
	</div> <!-- End of .container-fluid -->
	
	<script th:src="@{/js/vendasPorLinha.js}"></script>
</body>
</html>