<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec>
<head>
<object th:replace="templateFile :: head('Detalhes Produto ${detalhesProduto.produto.codigo}')"></object>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/detalhesProduto.css}"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<h2 class="text-center">Detalhes <span id="codigoProduto" th:text="${detalhesProduto.produto.codigo}"></span></h2>
	<div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h4 class="text-center">Dados Cadastrais</h4>
                <table class="table tabme-sm">
                    <tr>
                        <th>Codigo</th>
                        <td th:text="${detalhesProduto.produto.codigo}" id="tdCodigo"></td>
                    </tr>
                    <tr>
                        <th>Descricao</th>
                        <td th:text="${detalhesProduto.produto.descricao}"></td>
                    </tr>
                    <tr>
                        <th>Qtd Estoque</th>
                        <td th:text="${detalhesProduto.qtdEstoque}"></td>
                    </tr>
                    <tr>
                        <th>Qtd Inspecao</th>
                        <td th:text="${detalhesProduto.qtdInspecao}"></td>
                    </tr>
                    <tr>
                        <th>Qtd Enderecar</th>
                        <td th:text="${detalhesProduto.qtdEnderecar}"></td>
                    </tr>
                    <tr>
                        <th>Qtd OP</th>
                        <td><a th:href="@{/ordens-producao/produto(codigoProduto=${detalhesProduto.produto.codigo})}" th:text="${detalhesProduto.qtdOP}"></a></td>
                    </tr>
                    <tr>
                        <th>Qtd PV</th>
                        <td sec:authorize="hasAnyAuthority('ADMIN', 'VENDAS', 'GERENTEINDUSTRIAL')"><a th:href="@{/carteira/produto(codigoProduto=${detalhesProduto.produto.codigo})}" th:text="${detalhesProduto.qtdPV}"></a></td>
                        <td sec:authorize="hasAnyAuthority('PRODUCAO')" th:text="${detalhesProduto.qtdPV}"></td>
                    </tr>
                    <tr>
                        <th>Consumo Médio Mensal</th>
                        <td th:text="${detalhesProduto.cmm}"></td>
                    </tr>
                    <tr>
                        <th>Produção Média Mensal</th>
                        <td th:text="${detalhesProduto.pmm}"></td>
                    </tr>
                    <tbody>
                    </tbody>
                </table>
            </div> <!-- End of Col-6 -->
            <div class="col-12 col-lg-6">
                <h4>Principais Clientes (2 Anos)</h4>
                <canvas id="graficoCompradoresProduto" height="100%" class="drilldown"></canvas>
            </div>
            <div class="col-12">
                <h4>Histórico de Vendas</h4>
                <canvas id="graficoConsumoProduto" height="50" class="drilldown"></canvas>
            </div>
            <div class="col-12 div-desenho">
                <h4 class="text-center">Desenho</h4>
                <embed th:src="@{/pdf/__${detalhesProduto.desenho}__}" height="100%" width="100%"/>
            </div>
        </div>
    </div>
	<script th:src="@{/js/detalhesProduto.js}" th:inline="javascript">
	</script>
</body>
</html>