<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templateFile :: head('Variacao Precos')">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<h1 class="text-center">Variacao Precos</h1>
	</div>
	<div class="container">
		<h2 th:text="${produto.codigo}"></h2>
		<h3 th:text="${produto.descricao}"></h3>
		<h3 th:text="'Unidade: ' + ${produto.UM}"></h3>
		<canvas id="grafico" width="600" height="300"></canvas>
		<script th:inline="javascript">
			var ctx = document.getElementById("grafico").getContext('2d');
			var chart = new Chart(ctx, /*[[${chart}]]*/);
		</script>
	</div>
</body>
</html>