<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<object th:replace="templateFile :: head('Produtos')"></object>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/produtos.css}" />
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="jumbotron">
	    <h2 class="text-center">Produtos</h2>
    </div>
    <div id="preForm">
        <div class="form">
            <h5 class="text-center">Pre Formulario</h5>
            <div class="form-group">
                <label>Tipo</label>
                <select class="form-control" id="tipo">
                    <option>PA</option>
                    <option>MP</option>
                    <option>CC</option>
                    <option>SA</option>
                    <option>PI</option>
                    <option>Todos</option>
                </select>
            </div>
            <div class="form-group">
                <label>Codigo Contem</label>
                <input class="form-control" name="produto" id="produto" autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label>Descricao Contem</label>
                <input class="form-control" name="descricao" id="descricao"/>
            </div>
            <div class="form-group">
                <label>Mostrar Bloqueados?</label>
                <select id="bloqueio" class="form-control">
                    <option>Nao</option>
                    <option>Sim</option>
                </select>
            </div>
            <button id="btnPreForm" class="btn btn-success">Acessar Produtos</button>
        </div>
    </div>
	<div class="container-fluid" id="main">
		<h5 class="">
			<a th:href="@{/produtos/produtos-excel}">Download Excel</a>
        </h5>
        <button id="btnMostrarPreForm" class="btn btn-primary mb-5">Mostrar Formulario</button>
		<table id="myTable" class="display table table-striped table-sm">
			<thead>
				<tr>
					<th></th>
					<th><input id="checkboxSelectAll" type="checkbox" /></th>
					<th class="filter">Codigo</th>
					<th class="filter nowrap">Descricao</th>
					<th class="filter">Tipo</th>
					<th class="filter">Registro Anvisa</th>
					<th class="filter">Bloqueio</th>
					<th>Qtd Estoque</th>
					<th>Qtd Enderecar</th>
					<th>Qtd Inspecao</th>
					<th>Qtd OP</th>
					<th>Qtd PV</th>
					<th>CMM</th>
					<th>PMM</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th>Codigo</th>
					<th>Descricao</th>
					<th>Tipo</th>
					<th>Registro</th>
					<th>Bloqueado</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</tfoot>
		</table>
	</div>
	<div id="produtosSelecionados" class="d-none">
		<div class="text">
			Produtos Selecionados: <span id="qtdProdutos"></span> QtdPv: <span
				id="qtdPv"></span> CMM: <span id="qtdCMM"></span> PMM: <span
				id="qtdPMM"></span>
			<button id="btn-grafico" class="btn btn-primary">Gerar
				Grafico</button>
			<button id="btn-limpar" class="btn btn-primary">Limpar Dados</button>
		</div>
	</div>
	<div id="div-grafico" class="d-none">
        <h2>Vendas Produtos</h2>
		<div id="div-canvas">
			<canvas id="canvas-graficoProdutos"></canvas>
		</div>
		<div id="fechar-div-grafico">
			<div class="bar1"></div>
			<div class="bar3"></div>
		</div>
	</div>
	<script th:src="@{/js/produtos.js}"></script>
</body>
</html>