<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="templateFile :: head('Variacao Precos')">
<meta charset="UTF-8"/>
</head>
<body>
	<nav th:replace="templateFile :: nav"></nav>
	<div class="container-fluid">
		<h1 class="text-center">Variacao Precos</h1>
	</div>
	<span th:text="'Período: ' + ${dataInicial} + ' - ' + ${dataFinal}"></span>
	<div class="container-fluid">
		<table class="table table-sm table-hover" id="tabelaVariacoes">
			<thead>
				<tr>
					<th>Produto</th>
					<th>Descricao</th>
					<th>Preco Inicial</th>
					<th>Fornecedor Inicial</th>
					<th>Preco Final</th>
					<th>Fornecedor Final</th>
					<th>Variacao</th>
					<th>Repres</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="precoProduto : ${precosProdutos}" class="clickableRow">
					<td><a th:href="@{/produtos/variacao-precos/grafico(codigoProduto=${precoProduto.produto.codigo},dataInicial=${dataInicial},dataFinal=${dataFinal},fornecedor=${fornecedor})}" th:text="${precoProduto.produto.codigo}"></a></td>
					<td th:text="${precoProduto.produto.descricao}"></td>
					<td th:text=${precoProduto.precoInicial}></td>
					<td th:text=${precoProduto.fornecedorInicial}></td>
					<td th:text="${precoProduto.precoFinal}"></td>
					<td th:text="${precoProduto.fornecedorFinal}"></td>
					<td th:text="${precoProduto.variacao}"></td>
					<td th:text="${precoProduto.variacaoPorcento} + '%'"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		$('#tabelaVariacoes tbody tr').click(function() {
			window.location = $(this).find('a').attr('href');
		});
	</script>
</body>
</html>